<section class="HomeBlogPlugin">
	<div class="container">
		<div class="row pageHeading">
			<span class="main-heading">BLOG</span>
			<span class="sub-heading">HORSE RACING</span>
		</div>
		<div class="row contentBlock">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<div class="contentBlockHead">
					<h1>By Bob Worth</h1>
				</div>
				<div class="heading">
					<h5>Tuesday 26, September 2017</h5>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<div class="line">
					<img src="images/face.png" alt="face">
					<div class="heading">
						<h5>GREAT HORSE RACING AHEAD</h5>
					</div>
					<p>We got another great day of racing coming up today with Warwick, Lingfield Park, Beverley, Tipperary and Chelmsford all having a full schedule and more than opportunity to pick a winner.</p>
				</div>
				<div class="line">
					<p>At Warwich the absolute favourite to win is Premier Rose in the 2:55 meeting. The 8 year old Mare lead by Harry Skelton having been going strong and is predicted to lead from the start to the end.</p>
				</div>
				<div class="line">
					<p>Over all as we see it Harry Skelton is gonna have a fabulous day at Warwis as we also have him to win the 1:50 meeting with the 5 year old gelding Blairs Cove. It is the fourth time the horse is gonna run the 2 mile distance, but with two places he has shown than he has the stamina to do the distance.</p>
				</div>
				<div class="line">
					<p>Our third pick is also a Harry Skelton horse. In the 2:25 race he has a fair chance with Pretty Reckless. The horse has never gone the distance before, but the jockey knows it, and they usually do well together.</p>
				</div>
				<p><a href="blog.html">Read More</a></p>
			</div>
		</div>
	</div>	
</section>