<section class="HomeHeadPlugin ContentHeader full">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col">
				<h1>Watch Live Horse Racing<span>Live Horse Racing Streams</span></h1>
				<div class="showcase">
					<p class="sponsored">SPONSORED</p>
					<ul class="steps">
						<li>
							<h2>Choose Sportsbook</h2>
							<p>Choose where to watch live</p>
						</li>
						<li>
							<h2>Register Account</h2>
							<p>Create your account and log in</p>
						</li>
						<li>
							<h2>Watch Race</h2>
							<p>Select and watchCheltenham</p>
						</li>
					</ul>
					<p class="next">NEXT RACE 1.30 TO WIN ANY RACE AT CHELTENHAM - 2018</p>
					<a class="btn arrow">Watch Cheltenham live<span>- With bet365</span></a>
					<p class="disclaimer">*T&C APPLY - 
						<br>BET 50P BET ON RACE TO WATCH 
						<br>- YOU MUST BE LOGGED IN
					</p>
				</div>
			</div>
		</div>
	</div>
</section>