$color-black: #000;
$color-white: #fff;
$color-emperor: #555;
$color-mine-shaft: #222;
$color-christi: #83ad10;
$color-sushi: #99bc3b;
$color-tahiti-gold: #ec9307;
$color-pelorous: #349bcb;
$color-jfelorous: #349bcb;
$color-grey: #666;
$color-defoult-buttom: #fa6800;
$color-strong-yellow-green: #81ac10;
$color-dark-green: #4f8500;
$color-vivid-orange: #ec9307;
$color-strong-orange: #b75309;
$color-bright-yellow: #eac937;
$color-strong-yellow: #d4b30f;
$color-vivid-red: #e40303;
$color-dark-red: #8e0505;
$color-whisper: #eee;
$color-zambezi: #5a5a5a;
$color-dark-green-table: #4e8400;
$color-strong-red: #c0272d;
$color-vivid-red-second: #fc0101;
$color-dark-grey: #999;
$color-dark-red-vivid: #8c1b1f;
$color-dove-grey: #616161;
$color-silver: #c6c6c6;
$color-silver-chalice: #aaa;
$color-verdun-green: #223A00;
$color-mine-shaft-3: #333333;
$color-mine-shaft-2: #2d2d2d;
$color-bright-green: #699908;
$color-gray80: #ccc;
$color-cod-grey: #111111;
$color-cod-grey-2: #171717;
$color-grey-1: #858585;
$color-selver-1: #cccccc;
$color-alto: #ddd;
$color-bolder: #7a7a7a;
$color-tundora: #444;