.o-frontpage-partners {
	position: relative;
	background: #d3d3d3;
	color: $color-grey;
	text-align: center;
	padding: 1em;
	
	ul {
		li {
			a {
				img {
					max-width: 100%;
					width: auto;
					height: auto;
					max-height: 36px;
				}
			}
		}
	}
	
	> ul {
		max-width: $content-max-width;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		
		> li {
			
			> a {
				display: block;
				padding: 1.2em;
				
				@include mobile {
				  font-size: 0.5em;
				}
			}
		}
	}

	> header {
		font-family: $font-serif;
		text-transform: uppercase;
		font-size: 1.6em;
		margin: .1em 0;
	}
}