.o-sport-program{
  padding: 0;
  background: url(../images/ground-image-football.jpg) no-repeat center top;
  background-size: cover;

  .container{
    padding: 0 0 20px 0;

    .col-md-12{
      padding: 0;
      margin: 0;
      margin-top: 20px;
      
      &.arrow {
	    margin-top: 0px;
      }
      
      @include mobile{
	      
	    margin-top: 0px;
	      
        &.text-center{
          display: none;
        }
      }
      &.arrow{
        display: flex;
        justify-content: center;
      }
      &.disclaimer_text{
        padding: 10px 10px 0 10px;
        p{
          line-height: 1.5;
        }
      }

      .panel{
        margin: 20px 0 0 0;
        border-radius: 0;
        border: none;
        box-shadow: none;

        .panel-body{
          position: relative;

          @media (max-width: 992px){
            display: flex;
            align-items: flex-start;
            > .col-md-3{
              width: 25%;
            }
            > .col-md-9{
              border: none;
              width: 75%;
            }
          }

          > .col-md-3{
            position: unset;
            padding: 0;
            min-height: 100%;

            >img.absolute{
              position: absolute;
              top: -5px;
              right: -5px;
              z-index: 1;
            }
            .three{
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          > .col-md-9{
            padding: 0 0 0 20px;


            > h3{
              margin: 0 0 5px 0;
              font-family: $font-serif;
              font-size: 21px;
              line-height: 1.3;
            }

            > p{
              margin: 0;
              font-size: 13px;
              line-height: 1.5;
              color: $color-mine-shaft-3;

              &.provider-price-div{
                margin:  0 0 10px 0;
              }

              b,
              strong{
                font-weight: 900;
                font-family: $font-serif;
              }

              &.sedan{
                color: $color-cod-grey;
                margin: 5px 0;
                font-size: 16px;
                padding: 0;
              }
            }

            ol{
              list-style-type: decimal;
              color: $color-cod-grey;
              padding: 0 0 10px 55px;
              font-size: 13px;

              li{

                small{
                  font-size: 10px;
                  color: $color-grey-1;
                }
              }
            }

            > div{
              padding: 0;

              .row{
                display: grid;
                grid-template-columns: 0 22% 22% 22% auto 30%;

                .col-md-3{
                  padding: 0;
                  width: 100%;

                  .arrow_live_stream{
                    width: 56px;
                    height: 29px;
                    right: -26px;
                    top: 37px;
                  }

                  &:last-child{
                    padding:  0 0 0 10px;
                    grid-column: 6/7;
                  }

                  p{
                    color: $color-grey;
                    font-size: 14px;
                    margin: 0 0 10px 0;
                    line-height: 1.5;

                    strong{
                      font-weight: 900;
                      font-family: $font-sans;
                    }

                    &.fs11{
                      font-size: 11px !important;
                    }

                    .green-color{
                      color: $color-bright-green;
                    }
                  }

                  a.reDir{

                    img{
                      width: 92px;
                      height: 70px;
                    }
                  }

                  a.btn{
                    min-height: 72px;
                    margin: 15px 0 0 0;
                    display: flex;
                    flex-wrap: wrap;
                    color: #fff !important;
                    align-items: center;
                    justify-content: center;
                    transition: background-color .25s ease-out;
                    -webkit-animation-name: redPulse !important;
                    -webkit-animation-duration: 5s;
                    -webkit-animation-iteration-count: infinite;

                    span{
                      line-height: 24px;
                      font-size: 18px;
                      font-weight: 700;
                    }
                    i{
                      margin: 0 5px 0 0;
                    }
                    p{
                      width: 100%;
                      margin: 0;
                      font-size: 11px;
                      color: $color-white;
                      text-align: right;
                      padding-right: 10px;
                    }

                    &:hover{
                      border-color: #d62c1a;
                    }
                  }
                }
              }
            }
            > a{
              font-size: 14px;
              margin: 0 0 10px 0;
              color: #fff !important;
              transition: color .25s;
              line-height: 20px;
              padding: 10px 15px;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  .ShowBlock{
    display: none;
    &.active{
      width: 100%;
      box-shadow: none;
      border-color: $color-bolder;
      font-weight: 700;
      display: block;
      text-align: center;
      font-size: 18px;
      color: $color-emperor;
      background: linear-gradient(to bottom,#e5e5e5 0,#cfcfcf 100%);
      margin: 20px 0 0 0;
    }
  }


  @include tablet{
    .container{
      .panel-body{
        >.col-md-9{
          >div{
            .row{
              grid-template-columns: auto !important; 
              .col-md-3{
                >p{
                  &:nth-child(2){
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
                .arrow_live_stream{
                  display: none;
                } 
              }
            }
          }
        }
      }
    }
  }

  @include mobile{
    .container{
      padding-right: 10px;
      padding-left: 10px;

      .panel-body{
        flex-direction: column;
        >.col-md-3{
          width: 100% !important;
        }
        >.col-md-9{
          width: 100% !important;
          border: none;
          padding: 0 !important;
          display: flex;
          flex-direction: column;
          align-items: center;

          > *{
            width: 100%;
          }

          > a{
            width: auto;
            font-size: 12px !important;
            line-height: 32px;
            padding: 0 20px;
          }

          >div{

            .row{
              grid-template-columns: 0 1fr 1fr 1fr !important;

              .col-md-3{
                padding: 0;

                &:last-child{
                  grid-column: 3/4 !important;
                  padding: 0 0 10px 0 !important;
                }

                a{
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 667px){
      .container{
	      
        .panel-body{
	        
          >div{
	          
            .hide-on-mobile{
              display: none;
            }
          }
        }
      }

    .container .panel-body .col-md-9 > div .row .col-md-3:last-child{
      grid-column: 2/5 !important;
    }
    .container .panel-body .col-md-9 > div .row .col-md-3{
      > p{
        &:nth-child(2){
          height: 36px;
          display: flex;
          font-size: 12px !important; 
          justify-content: center;
          align-items: center;
          line-height: 18px !important;

          >strong{
            font-weight: 400 !important;
          }
        }
      }
      > a{
        > p{
          text-align: center !important;
          padding: 0 !important;
        }
      }
    }
  }
}

@-webkit-keyframes redPulse {
  from {
    background-color: #fb3232;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #fc0101;
    -webkit-box-shadow: 0 0 18px #FF7E13;
  }
  to {
    background-color: #fb3232;
    -webkit-box-shadow: 0 0 9px #333;
  }
}