{#
/**
 * @file stream_provider_info.html.twig
 * Default theme implementation to present Stream Provider Info data.
 *
 * This template is used when viewing Stream Provider Info pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_stream_provider_info()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('stream_provider_info') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
