.stylePage{
	padding: 45px 0 0 0;
}
.stylePage .container{
	padding-left: 0;
	padding-right: 0;
}
.stylePage .Section{
	margin-bottom: 40px;
}
.stylePage .SectionHead{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.stylePage .SectionSubHead{
	text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-top: 40px;
}
.stylePage .ElementName{
	font-family: "Open Sans", sans-serif;
	margin-top: 80px;
}
.stylePage .ElementName > hr{
	border-color: #ccc;
    margin-top: 10px;
    margin-bottom: 30px;
}
.stylePage pre code span.close{
    float: unset;
    font-size: inherit;
    font-weight: inherit;
    line-height: unset;
    text-shadow: none;
    opacity: 1;
}