// Main page (ex: /fodbold)
$page-header-main-title-size: 60px;
$page-header-main-title-size-mobile: 22px;
$page-header-main-title-text-shadow: 2px 4px 10px #000;

$page-header-main-match-ad-title-font-size: 29px;
$page-header-main-match-ad-subtitle-font-size: 18px;
$page-header-main-match-ad-modes-border: 1px solid #6b6b6b;
$page-header-main-match-ad-mode-icon-font-size: 30px;
$page-header-main-match-ad-mode-label-font-size: 29px;
$page-header-main-match-ad-mode-sublabel-font-size: $font-size-base;
