section.ContentHeader{
	min-height: 150px;
	background: url(../images/banner.jpg) no-repeat center top;
	background-size: cover;
	position: relative;

	&:after{
		content: '';
		background: linear-gradient(to bottom, rgba(221,118,62,0.6) 0%,rgba(244,175,99,0.5) 100%) no-repeat 50% 0;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
	&.full{
		.container{
			.row{
				.col-md-12{
					max-height: 345px;
					min-height: 345px;	
				}
			}
		}
	}
	> .container{
		padding: 0;
		position: relative;
		z-index: 1;

		.row{
			> .col-md-12{
				position: relative;

				> h1{
					padding: 8px 14px 5px 0;
					float: left;
					background: #103040 ;
					color: #fff;
					position: relative;
					font-size: 40px;
					line-height: 45px;
					position: absolute;
					&:after{
						background: #103040;
						position: absolute;
						right: 100%;
						top: 0;
						bottom: 0;
						content: '';
						width: 500%;
						height: auto;
					}
					span{
						font-size: 50px;
						display: block;
					}
				}
				.showcase{
					background: #103040;
					float: right;
					padding: 20px;
					position: absolute;
					right: 0;
					top: 0;

					.sponsored{
						position: absolute;
						font-size: 12.5px;
						transform: rotate(35deg);
						color: #fff;
						font-family: "Geogrotesque Medium";
						text-transform: uppercase;
						right: 1px;
						top: 21px;
					}

					.steps{
						padding-bottom: 12px;
						margin-bottom: 17px;
						border-bottom: 2px solid #2d5467;

						li{
							padding: 0 0 15px 62px;
							display: block;

							&:nth-child(1){
								background: url(../images/no-1.png) no-repeat 0 10px;
							}
							&:nth-child(2){
								background: url(../images/no-2.png) no-repeat 0 10px;
							}
							&:nth-child(3){
								background: url(../images/no-3.png) no-repeat 0 10px;
							}

							h2{
								color: #E9F0F4;
							}
							p{
								margin: 0;
								font-size: 13px;
								line-height: 15px;
								color: #E9F0F4;
							}
						}
					}

					.next{
						color: #fff;
						line-height: 15px;
						margin: 0 0 13px 0;	
					}

					.btn{
						padding-top: 10px;
						padding-bottom: 10px;
						width: 100%;
						&:after{
							top: 15%;
						}
						span{
							display: block;
							font-size: 15px;
							line-height: 15px;
							margin-bottom: 13px;
							font-weight: 400;
							font-family: "Geogrotesque";	
						}
					}

					.disclaimer{
						color: #fff;
						text-align: right;
						font-size: 10px;
						padding-top: 5px;
					}
				}
			}
		}
	}
}

@include tablet{
	section.ContentHeader{
		min-height: 152px;
		&.full{
			max-height: 353px;
			height: 353px;
			padding-top: 152px;
		}
		.col-md-12{
			h1{
				display: none;	
			}
			.showcase{
				padding-top: 8px;
				width: 100%;
				top: 100%;
				.sponsored{
					position: unset;
					transform: none;
					font-size: 15px;
				}
				.steps{
					display: flex;
					width: 100%;
					justify-content: space-between;
					margin-bottom: 10px;
					li{
						padding: 0 0 9px 62px;
						background-position: 0 0 !important; 
					}
				}
				.next{
					text-align: right;
					margin: 0 0 5px 0;
				}
				a.btn{
					display: flex;
					align-items: center;
					justify-content: center;
					span{
						margin: 0;
					}
				}
			}
		}
	}
}

@include mobile{
	section.ContentHeader{
		.showcase{
			padding-bottom: 0;
			.sponsored{
				margin: 4px 0 2px 0;
				font-size: 12.5px;
			}
			.steps{
				li{
					padding-left: 30px;
					background-size: 27px !important;
					p{
						display: none;
					}
					h2{
						font-size: 18px;
						line-height: 20px;
					}
				}
			}
			.next{
				text-align: center;
			}
			.btr{
				flex-direction: column;
			}
			.disclaimer{
				text-align: center;
				float: right;
			}
		}
	}
}




