section.RaceCourseProviderListPlugin{
	.container{
		padding: 0;
		.row{
			.StreamProvider{
				padding: 7% 0;
				&:first-child{
					padding-top: 0;
				}
				.ProviderContent{
					margin: 0;
					p{
						font-size: 16px;
						line-height: 18px;
						margin: 0;
					}
				}
				.ProviderLinks{
					.step-images{
						.col-md-4{
							span{
								font-size: 16px;
								line-height: 18px;
							}
							.stepImage{
								height: 120px;
								width: 120px;
							}
						}
						.col-md-1{
							&.arrow{
								img{
									top: 45%;
								}
							}
						}
					}
				}
			}
		}
	}
}

@include tablet{
	section.RaceCourseProviderListPlugin{
		.container{
			padding-left: 30px;
			padding-right: 30px;
			.StreamProvider{
				.ProviderLinks{
					padding-top: 10px;
					.step-image{
						> .row{
							justify-content: space-between;
							align-items: center;
							.col-md-4{
								span{
									font-size: 13px;
								}
							}
						}
					}
					.btn{
						margin: 40px 0 0 0;
					}
				}
			}
		}
	}
}

@include mobile{
	section.RaceCourseProviderListPlugin{
		>.container{
			padding-left: 10px;
			padding-right: 10px;
			.StreamProvider{
				padding: 7% 0 2% 0;
				.ProviderContent{
					display: flex;
					align-items: center;
					.contentInfo{
						display: block;
						width: 50%;
						span{
							color: #103040;
							text-transform: uppercase;
							font-family: "Geogrotesque Light";
							font-size: 16px;
							line-height: 16px;
							margin: 0 20px 0 0;
						}
					}
					.text{
						width: 50%;
					}
				}
			}
		}
	}
}








