section.RaceCourseEqualizerPlugin{
	.container{
		padding: 10px 0 0 0;
		min-height: 270px;
		h4{
			background: #103040;
			display: inline-block;
		}
		.placeholder{
			border: 7px solid #103040;
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

@include tablet{
	section.RaceCourseEqualizerPlugin{
		.container{
			padding-right: 30px;
			padding-left: 30px;
			padding-top: 50px;
			h4{
				font-size: 15px;
				line-height: 17px;
			}
			.placeholder{
				padding: 5px;
				h1{
					width: 100%;
					border-bottom: 7px solid #103040;
					text-align: center;
					font-size: 50px;
					line-height: 56px;
				}
			}
		}
	}
}

@include mobile{
	section.RaceCourseEqualizerPlugin{
		.container{
			min-height: auto !important;
			.row{
				display: none;
			}
		}
	}
}