section.ReviewProviderTabsPlugin{
	>.container{
		padding: 0;
		&:nth-child(1){
			.row{
				.col-md-12{
					h1{
						&.title{
							padding: 20px 0 0 0;
						}
					}
				}
			}
		}
		&:nth-child(2){
			padding: 5% 0;
			border-bottom: 7px solid #103040;
			>.row{
				.providerTabs{
					padding: 0;
					border-bottom: none;
					.nav-tabs,
					.tab-content{
						width: 50%;
					}
				}
			}
		}
		&:nth-child(3){
			>.row{
				.StreamProvider{
					padding: 5% 0 7% 0;
					.ProviderLinks{
						padding: 0;
						border: none;
					}
				}
			}
		}
	}
}

@include tablet{
	section.ReviewProviderTabsPlugin{
		> .container{
			padding-left: 30px;
			padding-right: 30px;
			&:nth-child(2){
				padding-left: 30px;
				padding-right: 30px;
				position: relative;
				border-bottom: none;
				padding: 5% 30px calc(2% + 7px) 30px;

				&:after{
					bottom: 0;
					right: 0;
					margin: 0 30px;
					width: 93%;
					position: absolute;
					background: #103040;
					height: 7px;
				}

				.providerTabs{
					padding: 0;
				}	
			}
		}
	}
}

@include mobile{
	section.ReviewProviderTabsPlugin{
		> .container{
			padding-left: 10px;
			padding-right: 10px;
			&:nth-child(2){
				padding: 5% 10px!important;
				&:after{
					width: 96% !important;
					margin: 0 2% !important;
				}
				.providerTabs{
					.nav-tabs,
					.tab-content{
						width: 100% !important;
					}
					.tab-content{
						h2{
							font-size: 18px;
							line-height: 20px;
						}
					}
				}
			}
		}
	}
}