$accordion-background: white;
$accordion-level-1: (
    'primary-color': black,
    'secondary-color': white
);
$accordion-level-2: (
    'primary-color': lighten(map-get($accordion-level-1, 'primary-color'), 50%),
    'secondary-color': darken(map-get($accordion-level-1, 'secondary-color'), 50%)
);
$accordion-level-3: (
    'primary-color': lighten(map-get($accordion-level-2, 'primary-color'), 50%),
    'secondary-color': darken(map-get($accordion-level-2, 'secondary-color'), 50%)
);
