$footer-about-background: #343535;
$footer-about-pages-color: #fff;
$footer-about-copy_co-color: #555;

$footer-social-background: #212221;

$footer-legal-background: #fff;
$footer-legal-color: #555;
$footer-legal-color-hover: transparent;
$footer-legal-age-notice-icon-background: #000;
$footer-legal-age-notice-icon-color: #fff;
