$front-header-background-color: #000;
$front-header-box-shadow: 0 0 50px 30px #000 inset;

$front-header-title-font-size: 45px;
$front-header-title-font-size-mobile: 21px;
$front-header-title-color: #99bc3b;
$front-header-title-text-shadow: 2px 4px 10px #000;

$front-header-subtitle-font-size: 30px;
$front-header-subtitle-color: #fff;
$front-header-subtitle-text-shadow: 2px 4px 10px #000;

$front-stream-providers-background: #d3d3d3;
$front-stream-providers-color: #5a5a5a;

$front-banner-border: 1px solid #ddd;
$front-banner-notice-color: #555;
$front-banner-notice-font-size: 24px;
$front-banner-icon-color: #83ac10;
$front-banner-icon-font-size: 120px;
$front-banner-title: 0;
$front-banner-link-color: #489ac1;
$front-banner-link-text-size: 18px;
