$navbar-background: linear-gradient(to bottom, #2f2f2f 0%, #212121 100%) !default;

// navbar-primary
$navbar-primary-font: 'BebasNeue', sans-serif !default;
$navbar-primary-font-size: 20px !default;
$navbar-primary-link-color: #6B6B6B !default;
$navbar-primary-link-background: transparent !default;
$navbar-primary-link-color-active: $primary-color !default;
$navbar-primary-link-background-active: transparent !default;
$navbar-primary-marker-size: 14px !default;
$navbar-primary-marker-color: #444 !default;
$navbar-primary-marker-bottom: -15px !default;

// navbar-secondary
$navbar-secondary-font: sans-serif !default;
$navbar-secondary-font-size: 14px !default;
$navbar-secondary-background: #000 linear-gradient(to bottom, #444444 0%, #333333 100%) !default;
$navbar-secondary-link-color: #b0b0b0 !default;
$navbar-secondary-link-background: transparent !default;
$navbar-secondary-link-color-active: #ccc !default;
$navbar-secondary-link-background-active: #555 !default;
$navbar-secondary-link-border-mobile: 1px solid #333 !default;
