$schedule-title-color: #fff;
$schedule-collapsed: (
    'background': #eee,
    'color': #5a5a5a
);
$schedule-hover: (
    'background': #c6c6c6,
    'color': #616161
);
$schedule-date: (
    'font-size': 20px,
    'box-shadow': 0 0 5px #999
);
$schedule-tournament: (
    'background': #d2ddce,
    'color': #666
);
$schedule-event: (
    'background': lighten(#d2ddce, 10%),
    'color': #666
);
