/**
 * Variables
 */
@import "sports";
@import "color";
@import "modal";
@import "accordion";
@import "navbar";
@import "footer";
@import "front";
@import "page/page";
@import "matches-banner";
@import "schedule";
@import "stream-providers";

/**
 * BootStrap's overrides
 */
$icon-font-path: "../fonts/bootstrap/";
$text-color: #103040;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Bree Serif", Georgia, "Times New Roman", Times, serif;

/**
 * flag-icon's overrides
 */
$flag-icon-css-path: '../images';
