<footer class="siteFooter">
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header logo">
						<a class="navbar-brand" href="#">
							<img alt="Brand" src="images/logo2.png">
						</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="faq.html">Q&A</a></li>
						<li><a href="contact.html">CONTACT US</a></li>
						<li><a href="sitemap.html">SITEMAP</a></li>
						<li><a href="privacy.html">PRIVACY POLICY</a></li>
						<li><a href="/">ADVERTISER DISCLOSURE</a></li>
						<li><a href="underagepolicy.html">UNDERAGE POLICY</a></li>
					</ul>
					<div class="navbar-header age">
						<img alt="Brand" src="images/18.jpg">
					</div>
					<div class="navbar-header socials facebook">
						<a class="navbar-brand" href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</div>
					<div class="navbar-header socials twitter">
						<a class="navbar-brand" href="#">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
					<div class="navbar-header socials google-plus">
						<a class="navbar-brand" href="#">
							<i class="fa fa-google-plus" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</nav>
		</div>
		<div class="row">
			<p class="disclaimer">This website (watchonlinehorseracing.co.uk) does not target human beings under 18 years of age | We support responsible gambling. For more info visit <a href="#">GamCare</a> & <a href="#">Gamble Aware</a></p>
		</div>
	</div>
</footer>