{#
/**
 * @file
 * Stream providers large list dummy template
 *
 * Available variables:
 * - title: The title text.
 * - background_image
 */
#}

<section class="stream-providers stream-providers__list--large">
    <h2>{{ title }}</h2>
</section>
