{#
/**
 * @file
 * Schedule template
 *
 * Available variables:
 * - title: The title text.
 * - background_image: The background image.
 */
#}

<section class="schedule">
    <h2>{{ title }}</h2>
</section>
