/* ------------------ Template side ---------------------------*/
#stevetemebase .region.region-content form {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    margin-left: 10%;
}

ul.menu.nav.footer {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px solid #E5E5E5;
}
ol, ul {
  padding-left: 0;
}
/* ------------------ Admin side ---------------------------*/

.event-filters {
    *background: #f9f9f9;
    *padding: 10px;
}

.event-filters > .form-type-select, .event-filters > .form-type-date {
    display: inline-block;
    margin: 15px;
}
.event-filters > label[for] {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}
.help_info_module{
    width: 98%;
    float: left;
    display: inline-block;
    background: rgba(244, 244, 244, 0.67);
    padding: 15px;
    margin: 1%;
}
