<section class="HomeTeaserPlugin Block">
	<div class="container">
		<div class="row">
			<div class="col col-md-12 col-sm-12 col-xs-12">
				{{ "se_fodbald_home_teaser_title"|t }}
				{{ "se_fodbald_home_teaser_text"|t }}
			</div>
		</div>
	</div>
</section>