<section class="RaceCoursesListPlugin">
  <div class="CoursesList jump">
    <div class="container">
      <div class="row tab">
        <p>RACE TYPE - JUMP <i class="jump"></i></p>
      </div>
      <div class="row cards">
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track1.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                Aintree
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Aintree is the home of the greatest jumps race in the world, the Grand National, run each April over a gruelling 4m4f. But it might never have come about but for local entrepreneur and sports fanatic William Lynn, who was ast</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track2.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                ASCOT
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Arguably the most famous racecourse in the world and renowned for its top-class flat racing, Ascot also stages several important National Hunt meetings though where superb horses and jockeys battle for the race to finish firs</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track3.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                BANGOR
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>First-time racegoers to Bangor-on-Dee are sure to fall in love with the place as the course is set in beautiful countryside and the grassy banks which run around the outside of the track provide a natural amphitheatre to watc</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track4.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CARLISLE
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Carlisle is England's most northerly dual-purpose track but don't let that put you off from visiting as it's a real gem. Situated in a country park on the outskirts of the historic town which gives the course its name and jus</p>  
          </div>
        </div>
      </div>
      <div class="row cards">
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track5.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CARTMEL
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Set in the beautiful Lake District National Park, Cartmel takes its name from the nearby 12th century village and is laid out in the grounds of the Holker Estate, which is the home of Lord and Lady Cavendish. It's seldom used</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track6.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CATTERICK
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Racing at Catterick Bridge dates back to 1783 but it wasn't until 1813 that a permanent course was built on the site. The tiny hamlet which gives the course its name is comprised of a few houses and a pub (busy on race days!)</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track7.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CHELTENHAM
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Racing at Catterick Bridge dates back to 1783 but it wasn't until 1813 that a permanent course was built on the site. The tiny hamlet which gives the course its name is comprised of a few houses and a pub (busy on race days!)</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track8.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CHEPSTOW
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Racing at Catterick Bridge dates back to 1783 but it wasn't until 1813 that a permanent course was built on the site. The tiny hamlet which gives the course its name is comprised of a few houses and a pub (busy on race days!)</p>  
          </div>
        </div>
      </div>
      <div class="row opener">
        <div class="col-sm-12 col-md-12 col-xs-12">
          <a>Show All</a>
          <img src="images/ico-blue.png">
        </div>
      </div>
    </div>
  </div>
  <div class="CoursesList flat">
    <div class="container">
      <div class="row tab">
        <p>RACE TYPE - FLAT <i class="flat"></i></p>
      </div>
      <div class="row cards">
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track1.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                Aintree
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Aintree is the home of the greatest jumps race in the world, the Grand National, run each April over a gruelling 4m4f. But it might never have come about but for local entrepreneur and sports fanatic William Lynn, who was ast</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track2.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                ASCOT
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Arguably the most famous racecourse in the world and renowned for its top-class flat racing, Ascot also stages several important National Hunt meetings though where superb horses and jockeys battle for the race to finish firs</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track3.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                BANGOR
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>First-time racegoers to Bangor-on-Dee are sure to fall in love with the place as the course is set in beautiful countryside and the grassy banks which run around the outside of the track provide a natural amphitheatre to watc</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track4.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CARLISLE
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Carlisle is England's most northerly dual-purpose track but don't let that put you off from visiting as it's a real gem. Situated in a country park on the outskirts of the historic town which gives the course its name and jus</p>  
          </div>
        </div>
      </div>
      <div class="row cards">
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track5.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CARTMEL
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Set in the beautiful Lake District National Park, Cartmel takes its name from the nearby 12th century village and is laid out in the grounds of the Holker Estate, which is the home of Lord and Lady Cavendish. It's seldom used</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track6.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CATTERICK
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Racing at Catterick Bridge dates back to 1783 but it wasn't until 1813 that a permanent course was built on the site. The tiny hamlet which gives the course its name is comprised of a few houses and a pub (busy on race days!)</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track7.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CHELTENHAM
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Racing at Catterick Bridge dates back to 1783 but it wasn't until 1813 that a permanent course was built on the site. The tiny hamlet which gives the course its name is comprised of a few houses and a pub (busy on race days!)</p>  
          </div>
        </div>
        <div class="col-md-3 courseCard col-sm-6 col-xs-6">
          <div class="image">
            <a href="racecourseexpample.html">
              <img alt="Aintree" src="images/track8.png">
            </a>
          </div>
          <div class="name">
            <h4>
              <a href="racecourseexpample.html">
                CHEPSTOW
                <span>
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
              </a>
            </h4>
          </div>
          <div class="details">
            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <p>Racing at Catterick Bridge dates back to 1783 but it wasn't until 1813 that a permanent course was built on the site. The tiny hamlet which gives the course its name is comprised of a few houses and a pub (busy on race days!)</p>  
          </div>
        </div>
      </div>
      <div class="row opener">
        <div class="col-sm-12 col-md-12 col-xs-12">
          <a>Show All</a>
          <img src="images/ico-light-blue.png">
        </div>
      </div>
    </div>        
  </div>
</section>


