<section class="RaceCoursesContentPlugin">
  <div class="container">
    <div class="row pageHeading">
      <span class="main-heading">all</span>
      <span class="sub-heading">Racecourses</span>
    </div>
    <div class="row">
      <h1>Watch Live Racing Courses</h1>
      <p>There are currently 59 racecourses in Great Britain, from Perth in Scotland to Newton Abbot in Deveon, not to mention a further 26 racecourses in Ireland. All are unique with their own idiosyncrasies and, unless you've been following racing for years, you will be wondering which way round the horses run (either left or right-handed) and whether the draw makes any difference. Well, you needn't wonder any more with our comprehensive guide to each and every one of the racecourses.</p>
    </div>
  </div>
</section>
