.page-header-main {
    height: 452px;
    box-shadow: $page-header-box-shadow;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    h1.title {
        flex: 1;
        font-size: $page-header-main-title-size;
        letter-spacing: 3px;
        padding-left: 20px;
        text-shadow: $page-header-main-title-text-shadow;
        span {
            width: 100%;
            float: left;
            clear: both;
            &:first-of-type {
                margin-left: 0;
            }
            &:nth-child(2) {
                margin-left: 4%;
            }
            &:nth-child(3) {
                margin-left: 30%;
            }
        }

        @media #{$mobile} {
            & {
                font-size: $page-header-main-title-size-mobile;
                width: 100%;
                padding: 10px 10px 20px 10px;

                span {
                    clear: none;
                    width: auto;
                    margin: 0 8px 0 0 !important;
                }
            }
        }
    }

    .match-ad {

        .title {
            margin: 0;
            font-size: $page-header-main-match-ad-title-font-size;
        }

        .subtitle {
            margin: 6px 0 18px 2px;
            font-size: $page-header-main-match-ad-subtitle-font-size;
        }

        ul.modes {
            border-bottom: $page-header-main-match-ad-modes-border;
            padding-bottom: 10px;

            li {
                margin-bottom: 10px;
                > div {
                    @include flex-row($wrap: nowrap);
                }
            }

            .mode-icon {
                font-size: $page-header-main-match-ad-mode-icon-font-size;
                margin-right: 8px;
            }

            .mode-label {
                font-size: $page-header-main-match-ad-mode-label-font-size;
                font-family: $font-family-serif;
            }

            .mode-sublabel {
                font-size: $page-header-main-match-ad-mode-sublabel-font-size;
                margin-left: 40px;
                font-weight: bold;
            }
        }

        .details {
            > span,
            > strong,
            > a[role="button"] {
                width: 100%;
                float: left;
            }
            a[role="button"] {
                margin-top: 10px;
                &,
                & > i {
                    font-size: 14px !important;
                    justify-content: center !important;
                }
            }

            @media #{$mobile} {
                span:first-of-type {
                    margin-bottom: 2px;
                }
            }
        }

    }

}

@each $sport in $sport-names {
    $sport-branding: map-get($sports, $sport);
    $primary-color: map-get($sport-branding, 'primary-color');
    $secondary-color: map-get($sport-branding, 'secondary-color');

    .main-container.#{$sport} {
        .page-header-main {
            .match-ad {
                .title {
                    color: $primary-color;
                }
                .subtitle {
                    color: $secondary-color;
                }
            }
            ul.modes {
                .mode-icon,
                .mode-sublabel {
                    color: $secondary-color;
                }
                .mode-label {
                    color: $primary-color;
                }
            }
            .details {
                > span,
                > strong {
                    color: $secondary-color;
                }
                a[role="button"] {
                    @include sport-button($sport);
                }
            }
        }
    }
}
