.matches-banner {

    padding-bottom: 20px;

    .container-inner {
        @include flex-column($align: flex-start, $justify: center);

        > * {
            width: 100%;
        }
    }

    .arrow-down {
        @include arrow(
            $border-top: map-get($matches-banner-arrow, 'border-top'),
            $border-right: map-get($matches-banner-arrow, 'border-right'),
            $border-left: map-get($matches-banner-arrow, 'border-left')
        );
    }

    .title {
        font-size: map-get($matches-banner-font-size, 'title');

        @media #{$mobile} {
            & {
                font-size: map-get($matches-banner-font-size, 'title-mobile');
                padding: 0 16px;
            }
        }
    }

    .subtitle {
        font-size: map-get($matches-banner-font-size, 'subtitle');

        > p {
            width: 70%;
            margin: 0 auto;
        }

        @media #{$mobile} {
            & {
                font-size: map-get($matches-banner-font-size, 'subtitle-mobile');
                > p {
                    width: 90%;
                }
            }
        }
    }

    .matches {
        @include flex-row($align: flex-start);
        margin-top: 20px;

        @media #{$mobile} {
            & {
                @include flex-column;
                padding: 0 10px;
            }
        }

        .match {
            flex: 1;
            max-width: 33.33%;

            @media #{$mobile} {
                & {
                    max-width: 100%;
                }
            }

            > .inner {
                @include flex-column;
                box-shadow: map-get($matches-banner-match, 'box-shadow');
                border: map-get($matches-banner-match, 'border');
                margin: 8px;

                > * {
                    width: 100%;
                }
            }

            .participants {
                background: map-get($matches-banner-match, 'participants-background');
                @include flex-row;

                .participant {
                    flex: 1;
                    padding: 10px;
                    @include text-overflow;
                    color: map-get($matches-banner-match, 'participants-color');
                    text-align: center;
                }
            }

            .team-badges {
                margin: 16px 0 0 0;
                @include flex-row;
                background: map-get($matches-banner-match, 'team-badges-background');

                .team-badge {
                    flex: 1;
                    text-align: center;

                    img {
                        height: 70px;
                        width: 70px;
                    }
                }

                .versus {
                    flex: 0 auto;
                    min-width: 20px;
                    color: map-get($matches-banner-match, 'versus-color');
                    text-shadow: map-get($matches-banner-match, 'versus-text-shadow');
                    font-weight: bold;
                }
            }

            .details {
                @include flex-column;
                padding: 16px;

                > * {
                   width: 100%;
                   text-align: center;
                }

                .date {
                    border-bottom: 1px solid #5a5a5a;
                    padding-bottom: 16px;
                    font-size: map-get($matches-banner-match, 'details-date-font-size');
                }

                .summary {
                }

                a[role="button"] {
                    margin-top: 20px;
                    &,
                    & > i {
                        font-size: 14px !important;
                        justify-content: center !important;
                    }
                }
            }
        }
    }

}

@each $sport in $sport-names {
    $sport-branding: map-get($sports, $sport);
    $primary-color: map-get($sport-branding, 'primary-color');
    $secondary-color: map-get($sport-branding, 'secondary-color');

    .main-container.#{$sport} {
        .matches-banner {
            .matches {
                .match {
                    .details {
                        a[role="button"] {
                            @include sport-button($sport);
                        }
                    }
                }
            }
        }
    }
}
