$color-scorpion: #606060;
$color-white: #fff;
$color-ebony-clay: #232C39;
$color-ebony-clay-2: #242c39;
$color-black: #000;
$color-selective-yellow: #FEB700;
$color-emerald: #3DC263;
$color-pickled-bluewood: #2b3c4e;
$color-ebony-clay-3: #222F3D;
$color-gray: #838383;
$color-gray-1: #808080;
$color-mercury: #E3E3E3;
$color-scorpion-2: #5A5A5A;
$color-silver-chalice: #AEAEAE;
$color-magic-mint: #8feeaa;
$color-pelorous: #489ac1;
$color-blue: #0000EE;
$color-cornflower-blue: #198d98;
$color-alto: #DDDDDD;
$color-whisper: #F1F1F7;
$color-jungle-green: #29B765;
$color-shamrock: #2ecc71;
$color-tundora: #444444;
$color-boulder: #777777;
$color-gray-2: #929292;
$color-dove-gray: #666666;
$color-wild-sand: #F4F4F4;
$color-ebony-clay-4: #232B38;
$color-dove-gray-2: #616161;
$color-silver: #C6C6C6;
$color-jungle-green-1: #2FC05F;
$color-forest-green: #1e8c3f;
$color-bright-gray: #39424D;
$color-alabaster: #FCFCFC;
$color-pale-sky: #617685;
$color-silver: #CCCCCC;
$color-cod-gray: #111111;