.ListBlock{
	border: none;
	margin: 0;
	padding: 0 0 20px 0;
	box-shadow: none;
	border-radius: 0;
	
	.panel-heading{
		border-radius: 5px 5px 0 0;
		 background-color: $color-ebony-clay;
		 padding: 10px 15px;
		 border: none;
		.panel-title{
			color: $color-white;
			font-size: 18px;
			margin: 0;
		}	
	}
	
	.panel-body{
		padding: 0;
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				display: list-item;
				border-bottom: 1px solid $color-tundora;
				a{
					background-color: $color-scorpion;
					color: $color-white;
					padding: 5px 15px;
					line-height: 38px;
					display: block;
					
					img{
						width: 40px;
						height: 40px;
						float: left;
						margin-right: 15px;
					}
					
					&:hover{
						background-color: $color-boulder;
						text-decoration: none;
					}
				}
			}
		}
	}
}