header.SiteHeader{
	padding: 25px 10px;
	position: relative;
	z-index: 100;
	background-color: $color-ebony-clay;
    color: $color-white;
	border: 1px solid $color-ebony-clay;
	height: auto;
	>.container{
		.row{
			nav.navbar{
				background: none;
				border: none;
				border-radius: 0;
				min-height: unset;
				margin: 0;
				
				.container-fluid{
					display: flex;
					justify-content: space-between;
					align-items: center;
					
					&:before,
					&:after{
						display: none;
					}
					
					.navbar-header{
						float: none;
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						margin: 0;
						
						&:before,
						&:after{
							display: none;
						}
						
						.navbar-brand{
							margin: 0;
							padding: 0;
							float: none;
							display: block;
							height: auto;
							
							img{
								height: 14px;
								width: 110px;
								margin-top: -1px;
							}
						}
						
						.navbar-toggle{
							margin: 0 15px 0 0;
							padding: 0;
							background: 0 0 !important;
							border: none;
							line-height: 1.5;
							font-weight: 900;
							text-align: center;
							float: none;
							border-radius: 0;
							height: 39px;
							i{
								&.fa{
									font-size: 26px;
									color: $color-emerald;
								}
							}
						}
						
					}
					
					.navbar-collapse{
						float: none;
						padding: 0;
						width: 100%;
						border: none;
						
						ul.navbar-nav{
							float: none;
							display: flex;
							justify-content: flex-end;
							flex-wrap: wrap;
							margin: 0;
							>li{			
								position: relative;	
							    margin-left: 35px;
							    margin-top: 5px;
								float: none;
								
								>a{
									color: $color-white;
									padding: 0;
									background: none;
									font-weight: 400;
									line-height: 1.5;
									opacity: 1;
									outline: none;
									
									&:hover,
									&:focus{
										    color: $color-selective-yellow;
									}
								}
								
								ul{
									&.menu{
										display: none;
										position: absolute;
										min-width: 200px;
										top: 100%;
										width: 100%;
										right: 0;
									    transition: ease-in .25s;
									    height: auto;
									    list-style: none;
									    padding: 26px 0 0 0;
									    z-index: 99;
									    border-radius: 0 0 4px 4px;
										li{
											float: none;
											display: block;
											width: 100%;
											a{
												padding: 5px 15px;
												background-color: rgba(35,44,57,.95);
												color: $color-white;
												text-decoration: none;
												cursor: pointer;
												line-height: 1.5;
												border-radius: 0;
												font-size: .9em;
												display: block;
												width: 100%;
												font-weight: 400;
												border-top: 1px solid rgba(35,44,57,.95);
												
												&:focus,
												&:hover{
													color: $color-white;
													background: $color-pickled-bluewood;
													border-color: $color-ebony-clay-2;
												}
											}
											&:first-child{
												a{
													border: none;
												}
											}
										}
									}
								}
								
								&:hover{
									ul{
										&.menu{
											display: block;
										}
									}
								}
								
								&.active{
									>a{
										font-weight: 700;
									}
								}
							}	
						}
					}
				}
			}
		}
	}
	@include tablet{
		padding: 5px 0;
		position: relative;
		>.container{
			position: unset;
			.row{
				position: unset;
				nav.navbar{
					position: unset;					
					.container-fluid{
						position: unset;
						.navbar-header{
							.navbar-brand{
								margin: 4px 0 0 15px;
								display: flex;
								align-items: center;
							}
							
							.navbar-toggle{
								display: block;
							}
						}
						.navbar-collapse{
							position: absolute;
							top: 100%;
							left: -1px;
							right: -1px;
							width: auto;
							float: none;
							clear: both;
							margin: 0;

							&.collapse{
								display: none!important;
								&.in{
									display: block !important;
								}
							}
							
							ul.navbar-nav{
								flex-direction: column;
								>li{
									display: block;
									width: 100%;
									float: none;
									margin: 0;
									
									&.active{
										background: $color-ebony-clay;
									}
									>a{
										background-color: rgba(35,44,57,.95);
										font-weight: 400;
										padding: .25em 1em;
										text-decoration: none;
										cursor: pointer;
										display: block;
										width: 100%;
										border-top: 1px solid rgba(35,44,57,.95);
										line-height: 1.5;
										
										&:hover,
										&:focus{
											color: $color-white;
											background: $color-pickled-bluewood;
											border-color: $color-ebony-clay-2;
										}
									}
									
									ul{
										&.menu{
											display: none !important;
										}
									}
								}
								
							}
						}
					}
				}
			}
		}
	}
	@include mobile{
		>.container{
			.row{
				nav.navbar{
					.container-fluid{
						.navbar-header{
							.navbar-toggle{
								i{
									&.fa{
										&:before{
											content: "\f0c9";
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}