<section class="RaceCourseHeadPlugin ContentHeader full">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col">
				<h1>WATCH Aintree<span>ONLINE</span></h1>
				<div class="showcase">
					<p class="sponsored">SPONSORED</p>
					<ul class="steps">
						<li>
							<h2>Choose bet365</h2>
							<p>Follow link to bet365</p>
						</li>
						<li>
							<h2>Register Account</h2>
							<p>Create your account</p>
						</li>
						<li>
							<h2>Watch race live</h2>
							<p>Select Aintree and enjoy</p>
						</li>
					</ul>
					<p class="next">NEXT RACE 5.15 2018 GRAND NATIONAL</p>
					<a class="btn">Watch live at bet 365</a>
					<p class="disclaimer">*T&C APPLY - 
						<br>BET 50P BET ON RACE TO WATCH 
						<br>- YOU MUST BE LOGGED IN
					</p>
				</div>
			</div>
		</div>
	</div>
</section>