<section>
    {{ render_block('eventpagehead') }}
</section>

<section>
    {{ render_block('eventpagecontent') }}
</section>
<section>
    {{ render_block('eventpagestreamlist') }}
</section>

<section>
    {{ render_block('eventpagefooter') }}
</section>