<section class="WatchLiveProviderListPlugin">
	<div class="container">
		<div class="row">
			<div class="col-md-12 StreamProvider">
				<div class="ProviderHeading">
					<div class="title">
						<h1>
							bet365
						</h1>
						<span class="stars">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
						</span>
					</div>
					<div class="info">
						<span class="quality"><b>Quality</b> - GOOD</span>
						<span class="price"><b>Price</b>- £0.50 </span>
						<span class="link"> <a href="review.html">READ REVIEW</a></span>
					</div>
				</div>
				<div class="ProviderContent">
					<div class="text">
						<p>Sponsored content - bet365 covers almost every single racecourse in the UK and Ireland. Watch races such as Cheltenham, Grand National and many more at bet365. The streaming quality is high and you only need to stake £0.50 on the race you want to watch.</p>
						<h6><span>HOW TO WATCH</span>HORSE RACING WITH bet365</h6>
					</div>
					<div class="contentInfo">
						<span class="quality"><b>Quality</b> - GOOD</span>
						<span class="price"><b>Price</b>- £0.50 </span>
					</div>
				</div>
				<div class="ProviderLinks images">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-8 col-xs-8 step-images">
								<div class="row">
									<div class="col-md-4">
										<img src="images/1-tv.png" class="stepImage">
										<span>Go to bet365</span>
									</div>
									<div class="col-md-1 arrow">
										<img src="images/arrow-1.png" alt="arrow">
									</div>
									<div class="col-md-4">
										<img src="images/2-tv.png" class="stepImage">
										<span>Register an account</span>
									</div>
									<div class="col-md-1 arrow">
										<img src="images/arrow-1.png" alt="arrow">
									</div>
									<div class="col-md-4">
										<img src="images/3-tv.png" class="stepImage">
										<span>Watch Live races<small>*Bet 50p bet on race to watch</small></span>	
									</div>
								</div>
							</div>
							<div class="col-md-4 col-md-offset-2 arrow col-sm-4 col-xs-4">
								<h2>Watch <strong>horse racing</strong> with</h2>
								<div class="line">
									<img src="images/arrowright-blue.png" class="arrow">
									<a class="btn arrow">bet365</a>
								</div>
								<a class="disclaimer">* T&C APPLY - BET 50P BET ON RACE TO WATCH
									<br>- YOU MUST BE LOGGED IN
								</a>
								<div class="popUp">
									<h2>T&amp;C apply - Paddy Power</h2>
									<p>To watch a particular race you need to bet £€1.00 or £€0.50 each way on a selection in the Win or Each Way market.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 StreamProvider">
				<div class="ProviderHeading">
					<div class="title">
						<h1>
							Paddypower
						</h1>
						<span class="stars">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
						</span>
					</div>
					<div class="info">
						<span class="quality"><b>Quality-</b> - HIGH</span>
						<span class="price"><b>Price</b>- £1</span>
						<span class="link"> <a href="review.html">READ REVIEW</a></span>
					</div>
				</div>
				<div class="ProviderContent">
					<div class="text">
						<p>Sponsored content - Paddy Power is a sure fave for all horse racing punters and features live streaming from all the big races, including magical Cheltenham, spectacular Grand National and glorious Goodwood. Stream quality is good and you only need to bet £1 on the race you want to watch.</p>
						<h6><span>HOW TO WATCH</span>HORSE RACING WITH PADDYPOWER</h6>
					</div>
					<div class="contentInfo">
						<span class="quality"><b>Quality-</b> - HIGH</span>
						<span class="price"><b>Price</b>- £1</span>
					</div>
				</div>
				<div class="ProviderLinks">
					<div class="container">
						<div class="row">
							<div class="col-md-6 step-list col-sm-8 col-xs-8">
								<ul>
									<li class="step">
										<img src="images/stream-1.png" class="stepNumber">
										<span>Register your free account and sign in at PaddyPower</span>
									</li>
									<li class="step">
										<img src="images/stream-2.png" class="stepNumber">
										<span>Choose ‘Horse Racing’ in the left side</span>
									</li>
									<li class="step">
										<img src="images/stream-3.png" class="stepNumber">
										<span>Pick your race and click 'Watch Live'</span>
									</li>
								</ul>
							</div>
							<div class="col-md-4 col-md-offset-2 arrow col-sm-4 col-xs-4">
								<h2>Stream now with</h2>
								<div class="line">
									<img src="images/arrowright-blue.png" class="arrow">
									<a class="btn arrow">Paddy power</a>
								</div>
								<a class="disclaimer"><b>*T&C APPLY</b></a>
								<div class="popUp">
									<h2>T&amp;C apply - Paddy Power</h2>
									<p>To watch a particular race you need to bet £€1.00 or £€0.50 each way on a selection in the Win or Each Way market.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 StreamProvider">
				<div class="ProviderHeading">
					<div class="title">
						<h1>
							Betfair
						</h1>
						<span class="stars">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
						</span>
					</div>
					<div class="info">
						<span class="quality"><b>Quality-</b> - GOOD</span>
						<span class="price"><b>Price</b>- £2</span>
						<span class="link"> <a href="review.html">READ REVIEW</a></span>
					</div>
				</div>
				<div class="ProviderContent">
					<div class="text">
						<p>Sponsored content - Betfair provides races from the largeste racecourses all over UK and Ireland.</p>
						<h6><span>HOW TO WATCH</span>HORSE RACING WITH BETFAIR</h6>
					</div>
					<div class="contentInfo">
						<span class="quality"><b>Quality-</b> - GOOD</span>
						<span class="price"><b>Price</b>- £2</span>
					</div>
				</div>
				<div class="ProviderLinks">
					<div class="container">
						<div class="row">
							<div class="col-md-6 step-list col-sm-8 col-xs-8 ">
								<ul>
									<li class="step">
										<img src="images/stream-1.png" class="stepNumber">
										<span>Go to Betfair and open a free account</span>
									</li>
									<li class="step">
										<img src="images/stream-2.png" class="stepNumber">
										<span>Go to the 'Horse Racing'-section and select 'Live Video'</span>
									</li>
									<li class="step">
										<img src="images/stream-3.png" class="stepNumber">
										<span>Choose your race and watch</span>
									</li>
								</ul>
							</div>
							<div class="col-md-4 col-md-offset-2 arrow col-sm-4 col-xs-4 ">
								<h2>Watch all the races</h2>
								<div class="line">
									<img src="images/arrowright-blue.png" class="arrow">
									<a class="btn arrow">Betfair</a>
								</div>
								<a class="disclaimer"><b>*T&C APPLY</b></a>
								<div class="popUp">
									<h2>T&amp;C apply - Paddy Power</h2>
									<p>To watch a particular race you need to bet £€1.00 or £€0.50 each way on a selection in the Win or Each Way market.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>