<main class='frontpage'>
    <section class="o_sport_home_important_events">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 ">
                    <div class="two thirds pad-left pad-right">
                        <h1 class="head_text grey"> Live stream fodbold | Fodbold i TV | Live stream providere </h1>
                        <p class=" ">
                            Vi har samlet de største udbydere af live fodbold, som viser kampe fra de store
                            internationale og europæiske ligaer, landskampe og meget mere...
                        </p>
                        <p> Udbyderne har forskellige rettigheder til ligaerne. Se hvilke ligaer de forskellige udbydere
                            viser kampe fra nedenfor.
                        </p>

                    </div>
                </div>
                <div class="col-xs-12 col-md-4 grounds">
                   <div class="text-center">
                       <p class="udvalgte" >Udvalgte kampe</p>
                       <!-- Controls -->
                       <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                           <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                           <span class="sr-only">Previous</span>
                       </a>
                       <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                           <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                           <span class="sr-only">Next</span>
                       </a>

                   </div>
                    <div id="carousel-example-generic" class="carousel slide grounds_items" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active text-center">
                                <p class="team_date">
                                    Næstved BK vs Hobro IK<br>
                                    21 maj. 2017 Kl. 13:45
                                </p>
                                <img class="pull-left  img_left"    src="http://images-v2-cdn.sesport.dk/teams/70x70-4f2b8a5e32d0ce517000016c.png" alt="...">
                                <img class="pull-right img_right"   src="http://images-v2-cdn.sesport.dk/teams/70x70-4f2b8a5e32d0ce517000016c.png" alt="...">
                            </div>
                            <div class="item text-center">
                                <p class="team_date">
                                    Næstved BK vs Hobro IK<br>
                                    21 maj. 2017 Kl. 13:45
                                </p>
                                <img class="pull-left  img_left"    src="http://images-v2-cdn.sesport.dk/teams/70x70-4f2b8a5e32d0ce517000016c.png" alt="...">
                                <img class="pull-right img_right"   src="http://images-v2-cdn.sesport.dk/teams/70x70-4f2b8a5e32d0ce517000016c.png" alt="...">
                            </div>
                            <div class="item text-center">
                                <p class="team_date">
                                    Næstved BK vs Hobro IK<br>
                                    21 maj. 2017 Kl. 13:45
                                </p>
                                <img class="pull-left  img_left"    src="http://images-v2-cdn.sesport.dk/teams/70x70-4f2b8a5e32d0ce517000016c.png" alt="...">
                                <img class="pull-right img_right"   src="http://images-v2-cdn.sesport.dk/teams/70x70-4f2b8a5e32d0ce517000016c.png" alt="...">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="o-sport-program sport_home_slider">
        <div class="container">
            <div class="col-md-12 text-center">
                <h3 class="live_list_head">Se udvalget af live streams udbydere</h3>
            </div>
            <div class="col-md-12 top">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            {# <img class="absolute strip-right" width="auto" height="auto" alt="green-strip-right"
                                  src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/green-strip-right.png">#}
                            <div class="three twelfth align-center double-pad-top-desktop">
                                <a class="provider-tv reDir" target="_blank" id="reDir" onclick="reDir()"
                                   style="censor:pointer;">
                                    <img width="161" height="213" alt="bet365 icon"
                                         src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/161x203/StreamProviderLogo_1_161x203_5461f231c4698816398b4d9c.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 border_line_left">
                            <h3 class="half-gap-bottom">Se live fodbold med bet365</h3>
                            <p class="provider-quality-div fs13 zero"><strong>Udvalg:</strong>
                                bet365 viser kampe fra bl.a. La Liga, Serie A, Bundesligaen m.m...
                            </p>
                            <p class="provider-quality-div fs13 zero"><strong>Kvalitet:</strong> Fin billede og lyd
                                kvalitet.</p>
                            <p class="provider-price-div fs13"><strong>Pris:</strong> Det er gratis at se fodbold hos
                                bet365 med penge på kontoen.</p>
                            <div class="pad_top text-center">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img class="arrow_live_stream inside" alt="Pil"
                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png">
                                        <p class="fs10m gap-bottom gray"><strong>1. Gå til side</strong></p>
                                        <a target="_blank" id="reDir" class="null reDir" onclick="reDir()"
                                           style="censor:pointer;"><img class="half-gap-bottom"
                                                                        src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/92x70/StreamProviderLogo_4_92x70_5461f231c4698816398b4d9c.png"
                                                                        width="92" height="70" alt="bet365 icon"></a>
                                        <p class="fs11 hide-on-mobile gray"><a
                                                    href="http://www.bet365.dk/extra/da/streaming/live-sport/?affiliate=365_486884"><span
                                                        class="green-color">Klik her</span></a></p>
                                    </div>
                                    <div class="col-md-3">
                                        <img class="arrow_live_stream inside" alt="Pil"
                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png">
                                        <p class="fs10m gap-bottom gray"><strong>2. Opret konto</strong></p>
                                        <a target="_blank" id="reDir" class="null reDir" onclick="reDir()"
                                           style="censor:pointer;"><img class="half-gap-bottom"
                                                                        src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-2.png"
                                                                        width="92" height="70"
                                                                        alt="Opret en konto og Stream fodbold live"></a>
                                        <p class="fs11 hide-on-mobile gray">Opret din gratis konto hos bet365 og log
                                            ind</p>
                                    </div>
                                    <div class="col-md-3">
                                        <img class="arrow_live_stream" alt="Pil"
                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png">
                                        <p class="fs10m gap-bottom gray"><strong>3. Se Live Stream</strong></p>
                                        <a target="_blank" id="reDir" class="null reDir" onclick="reDir()"
                                           style="censor:pointer;">
                                            <img class="half-gap-bottom"
                                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-3.png"
                                                 width="92" height="70" alt="Livestream fodbold med Sesport">
                                        </a>
                                        <p class="fs11 hide-on-mobile gray">Gå til “Live Billeder” sektionen og se live
                                            stream<br>
                                            <small class="fs8 note gray-color">Regler og vilkår gælder</small>
                                        </p>

                                    </div>
                                    <div class="col-md-3">
                                        <a class="btn btn-danger-custom" role="button" target="_blank"
                                           style="censor:pointer;" id="reDir" onclick="reDir()">
                                            <em class="icon-chevron-sign-right relative" style="top:17px;"></em>
                                            <span class="relative fs18" style="top: 18px;">Se Live Stream</span>
                                            <p class="fs11 zero relative  align-center-mobile"
                                               style="top: 12px;text-align:right;padding-right:10px;">- med bet365</p>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 disclaimer_text">
                <p class="zero" style="font-size: 10px !important; color: #c2c2c2 !important;">
                    VIGTIG MEDDELELSE – SeSport.dk viser sammen med bet365 mere end 40.000 streamede begivenheder
                    direkte hvert år. Bemærk venligst at IP-rettighederne til at streame disse begivenheder ejes på
                    landsniveau, og derfor kan der være begivenheder, som du ikke kan se, grundet disse
                    restriktioner. Før du registrerer dig hos bet365 og indbetaler til din konto for at kunne se en
                    bestemt begivenhed via bet365 Live billeder anbefales det, at du først forespørger hos bet365,
                    hvorvidt det er muligt at se den pågældende begivenhed via Live billeder fra landet, hvor du
                    befinder dig. Du finder bet365's kontaktoplysninger ved at klikke <a
                            href="http://help.bet365.dk/en/contact?affiliate=365_375839" target="_blank">her</a>,
                    derefter skal du gå til Tjenester øverst i højre hjørne og vælge Kontakt os.
                </p>
            </div>
            <div class="col-md-12 margin_top margin_bottom">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="three twelfth align-center double-pad-top-desktop">
                                <a class="provider-tv reDir" target="_blank" id="reDir" onclick="reDir()"
                                   style="censor:pointer;">
                                    <img width="161" height="213" alt="bet365 icon"
                                         src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/161x203/StreamProviderLogo_1_161x203_5461f231c4698816398b4d9c.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 text-left border_line_left">
                            <h3 class="half-gap-bottom">Se live fodbold med bet365</h3>
                            <p class="provider-quality-div fs13 zero"><strong>Udvalg:</strong>bet365 viser kampe fra
                                bl.a. La Liga, Serie A, Bundesligaen m.m...</p>
                            <p class="provider-quality-div fs13 zero"><strong>Kvalitet:</strong> Fin billede og lyd
                                kvalitet.</p>
                            <p class="provider-price-div fs13"><strong>Pris:</strong> Det er gratis at se fodbold hos
                                bet365 med penge på kontoen.</p>

                            <p class="sedan"><b>Sådan kommer du i gang:</b></p>
                            <ol class="fs13">
                                <li>Opret dig som bruger</li>
                                <li>Vælg Premium Sport pakken</li>
                                <li>Gå til live streaming sektionen en halv time før kampstart, hvor billedet
                                    vises
                                </li>
                            </ol>
                            <a class="btn btn-danger-custom btn-auto" role="button" target="_blank"
                               style="censor:pointer;" id="reDir" onclick="reDir()"> Se live fodbold hos DR Nu</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 margin_top margin_bottom">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="three twelfth align-center double-pad-top-desktop">
                                <a class="provider-tv reDir" target="_blank" id="reDir" onclick="reDir()"
                                   style="censor:pointer;">
                                    <img width="161" height="213" alt="bet365 icon"
                                         src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/161x203/StreamProviderLogo_1_161x203_5461f231c4698816398b4d9c.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 text-left border_line_left">
                            <h3 class="half-gap-bottom">Se live fodbold med bet365</h3>
                            <p class="provider-quality-div fs13 zero"><strong>Udvalg:</strong>bet365 viser kampe fra
                                bl.a. La Liga, Serie A, Bundesligaen m.m...</p>
                            <p class="provider-quality-div fs13 zero"><strong>Kvalitet:</strong> Fin billede og lyd
                                kvalitet.</p>
                            <p class="provider-price-div fs13"><strong>Pris:</strong> Det er gratis at se fodbold hos
                                bet365 med penge på kontoen.</p>

                            <p class="sedan"><b>Sådan kommer du i gang:</b></p>
                            <ol class="fs13">
                                <li>Opret dig som bruger</li>
                                <li>Vælg Premium Sport pakken</li>
                                <li>Gå til live streaming sektionen en halv time før kampstart, hvor billedet
                                    vises
                                </li>
                            </ol>
                            <a class="btn btn-danger-custom btn-auto" role="button" target="_blank"
                               style="censor:pointer;" id="reDir" onclick="reDir()"> Se live fodbold hos DR Nu</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 margin_top margin_bottom">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="three twelfth align-center double-pad-top-desktop">
                                <a class="provider-tv reDir" target="_blank" id="reDir" onclick="reDir()"
                                   style="censor:pointer;">
                                    <img width="161" height="213" alt="bet365 icon"
                                         src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/161x203/StreamProviderLogo_1_161x203_5461f231c4698816398b4d9c.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 text-left border_line_left">
                            <h3 class="half-gap-bottom">Se live fodbold med bet365</h3>
                            <p class="provider-quality-div fs13 zero"><strong>Udvalg:</strong>bet365 viser kampe fra
                                bl.a. La Liga, Serie A, Bundesligaen m.m...</p>
                            <p class="provider-quality-div fs13 zero"><strong>Kvalitet:</strong> Fin billede og lyd
                                kvalitet.</p>
                            <p class="provider-price-div fs13"><strong>Pris:</strong> Det er gratis at se fodbold hos
                                bet365 med penge på kontoen.</p>

                            <p class="sedan"><b>Sådan kommer du i gang:</b></p>
                            <ol class="fs13">
                                <li>Opret dig som bruger</li>
                                <li>Vælg Premium Sport pakken</li>
                                <li>Gå til live streaming sektionen en halv time før kampstart, hvor billedet
                                    vises
                                </li>
                            </ol>
                            <a class="btn btn-danger-custom btn-auto" role="button" target="_blank"
                               style="censor:pointer;" id="reDir" onclick="reDir()"> Se live fodbold hos DR Nu</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 margin_top margin_bottom">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="three twelfth align-center double-pad-top-desktop">
                                <a class="provider-tv reDir" target="_blank" id="reDir" onclick="reDir()"
                                   style="censor:pointer;">
                                    <img width="161" height="213" alt="bet365 icon"
                                         src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/161x203/StreamProviderLogo_1_161x203_5461f231c4698816398b4d9c.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 text-left border_line_left">
                            <h3 class="half-gap-bottom">Se live fodbold med bet365</h3>
                            <p class="provider-quality-div fs13 zero"><strong>Udvalg:</strong>bet365 viser kampe fra
                                bl.a. La Liga, Serie A, Bundesligaen m.m...</p>
                            <p class="provider-quality-div fs13 zero"><strong>Kvalitet:</strong> Fin billede og lyd
                                kvalitet.</p>
                            <p class="provider-price-div fs13"><strong>Pris:</strong> Det er gratis at se fodbold hos
                                bet365 med penge på kontoen.</p>

                            <p class="sedan"><b>Sådan kommer du i gang:</b></p>
                            <ol class="fs13">
                                <li>Opret dig som bruger</li>
                                <li>Vælg Premium Sport pakken</li>
                                <li>Gå til live streaming sektionen en halv time før kampstart, hvor billedet
                                    vises
                                </li>
                            </ol>
                            <a class="btn btn-danger-custom btn-auto" role="button" target="_blank"
                               style="censor:pointer;" id="reDir" onclick="reDir()"> Se live fodbold hos DR Nu</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 margin_top margin_bottom">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="three twelfth align-center double-pad-top-desktop">
                                <a class="provider-tv reDir" target="_blank" id="reDir" onclick="reDir()"
                                   style="censor:pointer;">
                                    <img width="161" height="213" alt="bet365 icon"
                                         src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/161x203/StreamProviderLogo_1_161x203_5461f231c4698816398b4d9c.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 text-left border_line_left">
                            <h3 class="half-gap-bottom">Se live fodbold med bet365</h3>
                            <p class="provider-quality-div fs13 zero"><strong>Udvalg:</strong>bet365 viser kampe fra
                                bl.a. La Liga, Serie A, Bundesligaen m.m...</p>
                            <p class="provider-quality-div fs13 zero"><strong>Kvalitet:</strong> Fin billede og lyd
                                kvalitet.</p>
                            <p class="provider-price-div fs13"><strong>Pris:</strong> Det er gratis at se fodbold hos
                                bet365 med penge på kontoen.</p>

                            <p class="sedan"><b>Sådan kommer du i gang:</b></p>
                            <ol class="fs13">
                                <li>Opret dig som bruger</li>
                                <li>Vælg Premium Sport pakken</li>
                                <li>Gå til live streaming sektionen en halv time før kampstart, hvor billedet
                                    vises
                                </li>
                            </ol>
                            <a class="btn btn-danger-custom btn-auto" role="button" target="_blank"
                               style="censor:pointer;" id="reDir" onclick="reDir()"> Se live fodbold hos DR Nu</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="o-sport-calendar">
        <div class="container text-center">
            <div class="col-xs-12">
                <h1>Se fodbold live online</h1>
                <h2>Brug oversigten og find ud af, hvor du kan se kampene live online.</h2>
            </div>
            <div class="col-xs-12 text-left">
                <table class="table table-hover">
                    <thead>
                    <tr class="success">
                        <th>Tid</th>
                        <th>Kamp</th>
                        <th>Liga</th>
                        <th>Kanal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active_plus">
                        <td colspan="4">Onsdag 17. Maj</td>
                    </tr>
                    <tr>
                        <td scope="row">18:00</td>
                        <td>Beroe V PFK Botev Plovdiv</td>
                        <td>First Professional League, Europa League Playoff</td>
                        <td class="img_row">
                            <a id="reDir" class="null reDir" onclick="reDir()" style="censor:pointer;">
                                <img width="auto" height="34" class="pull-left-mobile " alt="bet365" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5461f231c4698816398b4d9c.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Unibet" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5465b71cc4698850478b55b2.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Dplay" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_570ca6d08efc12b910000785.png">
                            </a>
                            <i class="mobile-only icon-plus half-gap-top"></i>
                            <i class="icon-caret-right pull-right half-gap-top"></i>
                        </td>
                    </tr>
                    <tr class="active">
                        <td scope="row">18:00</td>
                        <td> Standard Liège V Lierse</td>
                        <td>First Division Playoff 2A</td>
                        <td class="img_row">
                            <a id="reDir" class="null reDir" onclick="reDir()" style="censor:pointer;">
                                <img width="auto" height="34" class="pull-left-mobile " alt="bet365" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5461f231c4698816398b4d9c.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Unibet" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5465b71cc4698850478b55b2.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Dplay" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_570ca6d08efc12b910000785.png">
                            </a>
                            <i class="mobile-only icon-plus half-gap-top"></i>
                            <i class="icon-caret-right pull-right half-gap-top"></i>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">19:00</td>
                        <td>Beroe V PFK Botev Plovdiv</td>
                        <td>First Professional League, Europa League Playoff</td>
                        <td class="img_row">
                            <a id="reDir" class="null reDir" onclick="reDir()" style="censor:pointer;">
                                <img width="auto" height="34" class="pull-left-mobile " alt="bet365" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5461f231c4698816398b4d9c.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Unibet" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5465b71cc4698850478b55b2.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Dplay" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_570ca6d08efc12b910000785.png">
                            </a>
                            <i class="mobile-only icon-plus half-gap-top"></i>
                            <i class="icon-caret-right pull-right half-gap-top"></i>
                        </td>
                    </tr>
                    <tr class="active">
                        <td scope="row">19:00</td>
                        <td> Standard Liège V Lierse</td>
                        <td>First Division Playoff 2A</td>
                        <td class="img_row">
                            <a id="reDir" class="null reDir" onclick="reDir()" style="censor:pointer;">
                                <img width="auto" height="34" class="pull-left-mobile " alt="bet365" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5461f231c4698816398b4d9c.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Unibet" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5465b71cc4698850478b55b2.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Dplay" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_570ca6d08efc12b910000785.png">
                            </a>
                            <i class="mobile-only icon-plus half-gap-top"></i>
                            <i class="icon-caret-right pull-right half-gap-top"></i>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">20:00</td>
                        <td>Beroe V PFK Botev Plovdiv</td>
                        <td>First Professional League, Europa League Playoff</td>
                        <td class="img_row">
                            <a id="reDir" class="null reDir" onclick="reDir()" style="censor:pointer;">
                                <img width="auto" height="34" class="pull-left-mobile " alt="bet365" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5461f231c4698816398b4d9c.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Unibet" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5465b71cc4698850478b55b2.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Dplay" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_570ca6d08efc12b910000785.png">
                            </a>
                            <i class="mobile-only icon-plus half-gap-top"></i>
                            <i class="icon-caret-right pull-right half-gap-top"></i>
                        </td>
                    </tr>
                    <tr class="active">
                        <td scope="row">21:30</td>
                        <td> Standard Liège V Lierse</td>
                        <td>First Division Playoff 2A</td>
                        <td class="img_row">
                            <a id="reDir" class="null reDir" onclick="reDir()" style="censor:pointer;">
                                <img width="auto" height="34" class="pull-left-mobile " alt="bet365" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5461f231c4698816398b4d9c.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Unibet" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_5465b71cc4698850478b55b2.png">
                            </a>
                            <a href="go/Unibet/f/pp">
                                <img width="auto" height="34" class="pull-left-mobile hide-on-mobile" alt="Dplay" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/34x34/StreamProviderLogo_3_34x34_570ca6d08efc12b910000785.png">
                            </a>
                            <i class="mobile-only icon-plus half-gap-top"></i>
                            <i class="icon-caret-right pull-right half-gap-top"></i>
                        </td>
                    </tr>
                    <tr class="tr_btn">
                        <td colspan="4">
                            <a class="btn btn-danger-custom btn-table-gren">Vis flere dage frem</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>



