@mixin flex-row($wrap: nowrap, $align: center, $justify: flex-start) {
    display: flex !important;
    flex-flow: row $wrap;
    align-items: $align;
    justify-content: $justify;
}

@mixin flex-column($wrap: nowrap, $align: center, $justify: flex-start) {
    display: flex !important;
    flex-flow: column $wrap;
    align-items: $align;
    justify-content: $justify;
}
