<header class="homebody-top-header">{{ "head_text_homebodyplugin" | t }}</header>
<aside class='o-frontpage-bottomcta__livestreaming'>
    <i class="fa fa-laptop" aria-hidden="true"></i>
    <section>
        <header>{{ "head_text_livestream_homebodyplugin" | t }}</header>
        <p>{{ "head_subtext_livestream_homebodyplugin" | t }}</p>
        <a href='#'>her</a>
    </section>
</aside>