{#
/**
 * @file
 * Main page header implementation
 *
 * Available variables:
 * - attributes: The attributes array.
 * - title: The title text.
 * - background_image: The background image.
 * - text: Any shortcode (usually [match-ad]) or HTML text.
 */
#}

<div class="page-header page-header-main col-sm-12" role="heading" style="background-image: url({{ file_url(background_image) }})">
    <div class="container-inner">
        <h1 class="title">
            {% for word in title %}
                <span>{{ word }}</span>
            {% endfor %}
        </h1>
        {{ text | raw }}
    </div>
</div>
