.Article{
	margin: 8em 0;
	float: none;
	h2{
		letter-spacing: 0.60px;

		strong{
			padding: 0 10px;
		}
	}
	.writer{
		display: flex;
		justify-content: space-between;
		> p{
			margin: .8em 0 0 0;
			font-size: .9em;
			color: $color-highland;
			a{
				font-size: 12.6px;
				color: $color-highland;
			}
		}

		> a{
			margin: .8em 0 0 0;
			position: relative;
			i{
				position: absolute;
				font-size: 35px;
				color: $color-lunar-green;
				top: -6px;
				left: -15px;
			}
			img{
				border-radius: 50%;
				max-width: 80px;
				width: 100%;
				height: auto;
			}
		}
	}
	&:after{
		content: " ";
		border: 1px solid $color-highland;
		display: block;
		width: 100%;
		margin: 1.5em 0 4em;
	}
}