section.ProgramMatchListPlugin{
    min-height: 360px;
	>.container{
		padding: 0 15px 2.5em 15px;
		> .row{
			.col{
				&.pagination{
					display: flex;
					justify-content: space-between;
				}
			}
		}
	}
	@include mobile{
		padding-left: 0;
		padding-right: 0;
	}
}
