header.SiteHeader{
	background-color: $color-heavy-metal;
	>.container{
		padding: 0;
		width: 100%;
		>.row{
			nav.navbar{
				margin: 0;
				background: none;
				border: none;

				.container-fluid{
					padding: 0;
					
					.navbar-header{
						margin: 0;
						.navbar-brand{
							height: auto;
							margin: 0;
							padding: 0;
							font-size: 14px;
							img{
								width: 182px;
								margin: 1.29em 0;
							}
						}
					}
					.navbar-collapse{
						float: right;
						padding: 0;
						margin: 0;
						.navbar-nav{
							li{
								a{
									font-size: 14px;
									padding: 1.75em .8em;
									color: rgba(255,255,255,.6);
									-moz-transition: all .5s ease;
									-webkit-transition: all .5s ease;
									-o-transition: all .5s ease;
									background: none;
									&:focus,
									&:hover{
										color: rgba(255,255,255,1) !important;
									}
								}
								&.active{
									a{
										color: rgba(255,255,255,.8);
										&:after{
											border-color: transparent transparent #fff;
											border-style: solid;
											border-width: 6px;
											position: absolute;
											bottom: 0;
											left: 50%;
											margin-left: -5px;
											content: '';
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&.Fixed{
		z-index: 9999;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		-webkit-animation-duration: .3s;
		animation-duration: .3s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		>.container{
			>.row{
				nav.navbar{
					min-height: unset;
					.container-fluid{
						.navbar-header{
							.navbar-brand{
								img{
									width: 140px;
									margin: .5em 0;
								}
							}
						}
						.navbar-collapse{
							.navbar-nav{
								li{
									a{
										padding: 1.1em 0 1.1em 1.1em;
									}
								}
							}
						}
					}
				}
			}
		}	
	}
	@include tablet{
		>.container{
			width: 100%;
			padding: 0 10px;
			>.row{
				nav.navbar{
					padding: 0 1em;
					.navbar-collapse{
						padding: 0 10px;
					}
				}
			}
		}
	}
	@include mobile{
		>.container{
			>.row{
				nav.navbar{
					.navbar-header{
						display: flex;
						justify-content: space-between;
						align-items: center;
						&:after,
						&:before{
							display: none;
						}
						.navbar-toggle{				
						    border: none;
						    background: none;
						    outline: none;
						    padding: 0;
						    margin: 0;
						    .icon-bar{
							    border-radius: 1px;
								height: 5px;
							    width: 35px;
							    background: #494747;
							    &+.icon-bar{
								    margin-top: 5px;
							    }
						    }
						}
						
					}
					.navbar-collapse{
						float: none !important;
					    width: 100%;
					    border: none;
					    box-shadow: none;
    					.navbar-nav{
	    					margin: 0;
	    					li{
		    					border-bottom: 1px dotted rgba(255,255,255,.2);
		    					a{
			    					&:after{
				    					display: none;
			    					}
		    					}
		    					&:last-child{
			    					border: none;
		    					}
	    					}
    					}
					}
				}
			}
		}
	}
}