.TeamsListPlugin{
	
	.TeamsList{
		margin-top: 1em;
		.col{
			float: left;
			margin-right: 2%;
			width: 31.3%;
			max-width: 96%;
			
			&:nth-child(3n+3){
				margin-right: 0;
			}

			.List{
				.panel-body{
					> ul{
						li{
							a{
								display: flex;
								align-items: center;
								
								.img-holder{
								    height: 40px;
								    margin-right: 10px;
								    padding: 0;
								    width: 40px;
								    overflow: hidden;
								    background: #fff;
								    border-radius: 100%;
								    
								    img{
										width: 30px;
									    height: 30px;
									    margin: 5px auto 0;
									    float: none;
									    display: block;
								    }
								}
							}
						}
					}
				}
			}
		}	
	}
	
	@include tablet{
		.TeamsList{
			.col{
				float: none;
				margin: 0;
				width: 100%;
			}
		}
	}
}