<section class="ReviewsProviderTabsPlugin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col">
        <h1 class="title">SPONSORED REVIEWS</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="providerTabs">
        <ul class="nav nav-tabs">
          <li role="presentation">
            <a href="review.html">
              <span class="name">bet365</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£0.50</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Paddypower</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Coral</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Betfair</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£2</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">William Hill</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Ladbrokes</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">888 Sport</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Boyle Sports</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Sky Bet</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 col">
                  <h2>Watch Live Streams</h2>
                  <p>Select any one of the available providers to watch online live streams of your favorite races in the UK or find out more of our race providers. Watch Online Horse Racing gives you a one stop opportunity to watch and be part of the action without leaving the page.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>