@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue/BebasNeue.eot');
	src: local('BebasNeue'),
         url('../fonts/BebasNeue/BebasNeue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue/BebasNeue.woff') format('woff'),
         url('../fonts/BebasNeue/BebasNeue.ttf') format('truetype');
}

@font-face {
	font-family: 'FaracoHand';
	src: url('../fonts/FaracoHand/FaracoHand.eot');
	src: local('FaracoHand'),
         url('../fonts/FaracoHand/FaracoHand.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FaracoHand/FaracoHand.woff') format('woff'),
         url('../fonts/FaracoHand/FaracoHand.ttf') format('truetype');
}

@font-face {
	font-family: 'GeoGrotesque';
	src: url('../fonts/Geogrotesque/Regular/Geogrotesque_Regular.eot');
	src: local('Geogrotesque_Regular'),
         url('../fonts/Geogrotesque/Regular/Geogrotesque_Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geogrotesque/Regular/Geogrotesque_Regular.woff2') format('woff2'),
         url('../fonts/Geogrotesque/Regular/Geogrotesque_Regular.woff') format('woff'),
         url('../fonts/Geogrotesque/Regular/Geogrotesque_Regular.ttf') format('truetype'),
         url('../fonts/Geogrotesque/Regular/Geogrotesque_Regular.svg#Geogrotesque-Regular') format('svg');
}

@font-face {
	font-family: 'GeoGrotesque';
	src: url('../fonts/Geogrotesque/Medium/Geogrotesque_Medium.eot');
	src: local('Geogrotesque_Medium'),
         url('../fonts/Geogrotesque/Medium/Geogrotesque_Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geogrotesque/Medium/Geogrotesque_Medium.woff') format('woff'),
         url('../fonts/Geogrotesque/Medium/Geogrotesque_Medium.ttf') format('truetype'),
         url('../fonts/Geogrotesque/Medium/Geogrotesque_Medium.svg#Geogrotesque-Medium') format('svg');
    font-weight: 700;
}

@font-face {
	font-family: 'GeoGrotesque';
	src: url('../fonts/Geogrotesque/SemiBold/Geogrotesque_SemiBold.eot');
	src: local('Geogrotesque_SemiBold'),
         url('../fonts/Geogrotesque/SemiBold/Geogrotesque_SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geogrotesque/SemiBold/Geogrotesque_SemiBold.woff') format('woff'),
         url('../fonts/Geogrotesque/SemiBold/Geogrotesque_SemiBold.ttf') format('truetype'),
         url('../fonts/Geogrotesque/SemiBold/Geogrotesque_SemiBold.svg#Geogrotesque-SemiBold') format('svg');
    font-weight: 600;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
  	   url("../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"),
	   url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"),
	   url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
	   url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
