{#
    Template: block-steve_lang
    Description: 'sites' might contain a set of sites, where each site is an
    array of 2 positions and first position is country's ISO 3166-1-alpha-2 code
    (https://www.iso.org/obp/ui/#search/code/) and second is the url for the link.
#}

{% block steve_lang %}
    <div class="sites">
    {% for site in sites %}
        <a href="{{ site[1] }}" class="site-link">
            <span class="flag-icon flag-icon-{{ site[0] }}"></span>
        </a>
    {% endfor %}
    </div>
{% endblock %}
