{#
/**
 * @file
 * @name Game Page Stream Providers
 * @type template
 * @description Game page stream providers template
 * @author Armando Soriano <arm4design@gmail.com>
 * @see node--game_pages.html.twig
 *
 * @variables:
 *  - stream_providers
 */
#}

<section class="content-body stream-providers" style="background-image: url({{ file_url(stream_providers.background_image) }})">
    <div class="container-inner">
        {% include '@steve/component/stream-providers.list.compact.html.twig' with {'stream_providers': stream_providers.providers} only %}
    </div>
</section>
