.toolbar-icon-rp-base-index:before {
    background-image: url(../misc/icons/rebelpenguin.png);
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 2px;
    width: 12px !important;
}

.toolbar-icon-rp-base-index:active:before,
.toolbar-icon-rp-base-index.active:before {
    background-image: url(../misc/icons/rebelpenguin.png);
}