
        <div class="col-xs-12 text-center top_marging">
            <h3>Find din live stream udbyder</h3>
        </div>
        <div class="col-xs-12 stream_tabs">
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="text-center tabs_header">
                        <span class="inline pull-left Udbyder">Udbyder</span>
                        <span class="inline Kvalitet">Kvalitet</span>
                        <span class="inline pull-right Pris">Pris</span>
                    </li>
                    <li><a href="#a" data-toggle="tab">
                            <div class="inline pull-left">
                                <img alt="Bet365" width="70" height="22"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/70x22/StreamProviderLogo_2_70x22_5461f231c4698816398b4d9c.png">
                            </div>
                            <div class="inline ">
                                    <span class="rating" data-rating="5">
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star-half-o"></em>
                                    </span>
                            </div>
                            <div class="inline pull-right"><i
                                        class="pull-left-mobile half-pad-left-mobile">Gratis*</i><em
                                        class="icon-angle-right absolute right top gap-right fs20 mobile-only"></em>
                            </div>
                        </a></li>
                    <li class="active"><a href="#b" data-toggle="tab">
                            <div class="inline pull-left">
                                <img alt="Viaplay" width="70" height="22"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/70x22/StreamProviderLogo_2_70x22_54649f39c46988bf6b8b4930.png">
                            </div>
                            <div class="inline ">
                                    <span class="rating" data-rating="5">
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star-half-o"></em>
                                        <em class="fa fa-star-o"></em>
                                    </span>
                            </div>
                            <div class="inline pull-right"><i
                                        class="pull-left-mobile half-pad-left-mobile">Gratis*</i><em
                                        class="icon-angle-right absolute right top gap-right fs20 mobile-only"></em>
                            </div>


                        </a></li>
                    <li><a href="#c" data-toggle="tab">
                            <div class="inline pull-left">
                                <img alt="Unibet" width="70" height="22"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/70x22/StreamProviderLogo_2_70x22_5465b71cc4698850478b55b2.png">
                            </div>
                            <div class="inline ">
                                    <span class="rating" data-rating="5">
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star"></em>
                                        <em class="fa fa-star-half-o"></em>
                                        <em class="fa fa-star-o"></em>
                                        <em class="fa fa-star-o"></em>
                                    </span>
                            </div>
                            <div class="inline pull-right"><i
                                        class="pull-left-mobile half-pad-left-mobile">Gratis*</i><em
                                        class="icon-angle-right absolute right top gap-right fs20 mobile-only"></em>
                            </div>

                        </a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="a">
                        <div class="tab-pane-head">
                            <img width="70" height="22" alt="Foxsoccer2go" class="pull-left  hide-on-small-tablet hide-on-mobile"
                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/70x22/StreamProviderLogo_2_70x22_5461f231c4698816398b4d9c.png">
                            <h4 class="pull-left w-65">
                                <span class="hide-on-mobile">Se live stream fodbold hos</span> Foxsoccer2go</h4>
                        </div>
                        <div class="tab-pane-body-text">
                            <h5 class=" ">Kvalitet:</h5>
                            <p>Hos Foxsoccer2go er kvaliteten rigtig høj. Man kan ikke sætte en finger på hverken
                                lyd, billede eller kommentatorer</p>
                            <h5 class=" ">Udvalg:</h5>
                            <p>Hos Foxsoccer2go er udvalget stort. Her kan du se fodbold fra mange af de største
                                ligaer og turneringer i verden. Derudover er Foxsoccer2go også udbyder af mange
                                andre store sportsgrene som f.eks. rugby.</p>
                            <h5 class=" ">Pris:</h5>
                            <p>Foxsoccer2go udbyder 2 forskellige pakker. Du kan enten købe et månedsabonnement til
                                $19,99, eller du kan købe et årsabonnement til $149,99 og derved bespare $89,89.</p>
                            <h5 class="  ">Sådan gør du:</h5>
                        </div>
                        <div class="tab-pane-body-img">

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>1. Gå til side</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="Foxsoccer2go" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/92x70/StreamProviderLogo_4_92x70_5465b800c4698850478b55be.png">
                                </a>
                                <p class="lh18 hide-on-mobile">Besøg Foxsoccer2go og opret en bruger</p>
                            </div>

                            <div class="inline col-md-1 pad_top">
                                <img width="56" height="29" alt="Pil" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png" style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                            </div>

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>2. Køb billet</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="Opret en konto og Stream fodbold live" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-2.png">
                                </a>
                                <p class="lh18 hide-on-mobile">Opret en bruger og betal</p>
                            </div>

                            <div class="inline col-md-1 pad_top">
                                <img width="56" height="29" alt="Pil" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png" style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                            </div>

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>3. Se live</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="green-icon-3" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-3.png">
                                </a>
                                <p class="lh18 zero hide-on-mobile">Klik på den ønskede liga og se kampen</p>
                                <small class="gray fs9 block hide-on-mobile"></small>
                            </div>

                        </div>
                        <div class="tab-pane-body-btn col-md-12">
                            <div class="pull-left">
                                <a target="_blank" role="button" class="grey" href="go/foxsoccer2go/f/fp">
                                    <i class="fa fa-arrow-circle-right"></i> Gå til Foxsoccer2go</a>

                                <a target="_blank" role="button" class="green" href="go/foxsoccer2go/f/fp">
                                    <i class="fa fa-arrow-circle-right"></i> Gå til Foxsoccer2go</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="b">
                        <div class="tab-pane-head">
                            <img width="70" height="22" alt="Foxsoccer2go" class="pull-left  hide-on-small-tablet hide-on-mobile"
                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/70x22/StreamProviderLogo_2_70x22_54649f39c46988bf6b8b4930.png">
                            <h4 class="pull-left w-65">
                                <span class="hide-on-mobile">Se live stream fodbold hos</span> Foxsoccer2go</h4>
                        </div>
                        <div class="tab-pane-body-text">
                            <h5 class=" ">Kvalitet:</h5>
                            <p>Hos Foxsoccer2go er kvaliteten rigtig høj. Man kan ikke sætte en finger på hverken
                                lyd, billede eller kommentatorer</p>
                            <h5 class=" ">Udvalg:</h5>
                            <p>Hos Foxsoccer2go er udvalget stort. Her kan du se fodbold fra mange af de største
                                ligaer og turneringer i verden. Derudover er Foxsoccer2go også udbyder af mange
                                andre store sportsgrene som f.eks. rugby.</p>
                            <h5 class=" ">Pris:</h5>
                            <p>Foxsoccer2go udbyder 2 forskellige pakker. Du kan enten købe et månedsabonnement til
                                $19,99, eller du kan købe et årsabonnement til $149,99 og derved bespare $89,89.</p>
                            <h5 class="  ">Sådan gør du:</h5>
                        </div>
                        <div class="tab-pane-body-img">

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>1. Gå til side</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="Foxsoccer2go" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/92x70/StreamProviderLogo_4_92x70_5465b800c4698850478b55be.png">
                                </a>
                                <p class="lh18 hide-on-mobile">Besøg Foxsoccer2go og opret en bruger</p>
                            </div>

                            <div class="inline col-md-1 pad_top">
                                <img width="56" height="29" alt="Pil" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png" style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                            </div>

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>2. Køb billet</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="Opret en konto og Stream fodbold live" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-2.png">
                                </a>
                                <p class="lh18 hide-on-mobile">Opret en bruger og betal</p>
                            </div>

                            <div class="inline col-md-1 pad_top">
                                <img width="56" height="29" alt="Pil" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png" style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                            </div>

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>3. Se live</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="green-icon-3" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-3.png">
                                </a>
                                <p class="lh18 zero hide-on-mobile">Klik på den ønskede liga og se kampen</p>
                                <small class="gray fs9 block hide-on-mobile"></small>
                            </div>

                        </div>
                        <div class="tab-pane-body-btn col-md-12">
                            <div class="pull-left">
                                <a target="_blank" role="button" class="green" href="go/foxsoccer2go/f/fp">
                                    <i class="fa fa-arrow-circle-right"></i> Gå til Foxsoccer2go</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="c">
                        <div class="tab-pane-head">
                            <img width="70" height="22" alt="Foxsoccer2go" class="pull-left  hide-on-small-tablet hide-on-mobile"
                                 src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/70x22/StreamProviderLogo_2_70x22_5465b71cc4698850478b55b2.png">
                            <h4 class="pull-left w-65">
                                <span class="hide-on-mobile">Se live stream fodbold hos</span> Foxsoccer2go</h4>
                        </div>
                        <div class="tab-pane-body-text">
                            <h5 class=" ">Kvalitet:</h5>
                            <p>Hos Foxsoccer2go er kvaliteten rigtig høj. Man kan ikke sætte en finger på hverken
                                lyd, billede eller kommentatorer</p>
                            <h5 class=" ">Udvalg:</h5>
                            <p>Hos Foxsoccer2go er udvalget stort. Her kan du se fodbold fra mange af de største
                                ligaer og turneringer i verden. Derudover er Foxsoccer2go også udbyder af mange
                                andre store sportsgrene som f.eks. rugby.</p>
                            <h5 class=" ">Pris:</h5>
                            <p>Foxsoccer2go udbyder 2 forskellige pakker. Du kan enten købe et månedsabonnement til
                                $19,99, eller du kan købe et årsabonnement til $149,99 og derved bespare $89,89.</p>
                            <h5 class="  ">Sådan gør du:</h5>
                        </div>
                        <div class="tab-pane-body-img">

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>1. Gå til side</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="Foxsoccer2go" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/streamproviders-new/92x70/StreamProviderLogo_4_92x70_5465b800c4698850478b55be.png">
                                </a>
                                <p class="lh18 hide-on-mobile">Besøg Foxsoccer2go og opret en bruger</p>
                            </div>

                            <div class="inline col-md-1 pad_top">
                                <img width="56" height="29" alt="Pil" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png" style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                            </div>

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>2. Køb billet</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="Opret en konto og Stream fodbold live" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-2.png">
                                </a>
                                <p class="lh18 hide-on-mobile">Opret en bruger og betal</p>
                            </div>

                            <div class="inline col-md-1 pad_top">
                                <img width="56" height="29" alt="Pil" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/line-arw.png" style="top:45px;" class="absolute hide-on-mobile hide-on-ipad">
                            </div>

                            <div class="inline text-center col-md-3">
                                <h4 class="open-sans fs16 fs11m half-gap-bottom"><strong>3. Se live</strong></h4>
                                <a target="_blank" href="go/foxsoccer2go/f/fp" data-google-track="yes" data-category="Football Front Page" data-action="Click" data-label="Foxsoccer2go">
                                    <img class="mw80pm" alt="green-icon-3" width="92" height="70" src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ico-green-3.png">
                                </a>
                                <p class="lh18 zero hide-on-mobile">Klik på den ønskede liga og se kampen</p>
                                <small class="gray fs9 block hide-on-mobile"></small>
                            </div>

                        </div>
                        <div class="tab-pane-body-btn col-md-12">
                            <div class="pull-left">
                                <a target="_blank" role="button" class="grey" href="go/foxsoccer2go/f/fp">
                                    <i class="fa fa-arrow-circle-right"></i> Gå til Foxsoccer2go</a>

                                <a target="_blank" role="button" class="green" href="go/foxsoccer2go/f/fp">
                                    <i class="fa fa-arrow-circle-right"></i> Gå til Foxsoccer2go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
