<h3 class="o_program_text">Kampprogram</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-kamp ">
        {#-------------------- Day ONE --------------------#}
        <div class="panel-heading collabseIN" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a class="day_kamp" role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                    Dagens kampe - Mandag 15. Maj
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
             aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default in_body">
                        {# /*--------- Liga 1 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseTwo" aria-expanded="false"
                                   aria-controls="collapseTwo">
                                                    <span class="no-indent fwnormal fs13-mobile">
                                                        <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce517000000f.png">
                                                        Süper Lig<span
                                                                class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                    </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>


                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>

                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>

                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {# /*--------- Liga 2 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingTwo_one">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseTwo_one"
                                   aria-expanded="false" aria-controls="collapseTwo_one">
                                                    <span class="no-indent fwnormal fs13-mobile">
                                                        <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a6f32d0ce4c70000002.png">
                                                        Superligaen, Mesterskabsrunde <span
                                                                class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                    </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo_one" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo_one">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>


                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>

                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>

                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {#  /*--------- Liga 3 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingTwo_two">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseTwo_two"
                                   aria-expanded="false" aria-controls="collapseTwo_two">
                                                    <span class="no-indent fwnormal fs13-mobile">
                                                        <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce5170000065.png">
                                                       Championship Playoff <span
                                                                class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                    </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo_two" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo_two">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>


                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>

                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>

                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#-------------------- Day ONE --------------------#}
        <div class="top"></div>
        <div class="panel-heading" role="tab" id="headingtwo">
            <h4 class="panel-title">
                <a class="day_kamp" role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#headingttwo"
                   aria-expanded="true" aria-controls="headingttwo">
                    Dagens kampe - Mandag 15. Maj
                </a>
            </h4>
        </div>
        <div id="headingttwo" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="headingtwo">
            <div class="panel-body">
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default in_body">
                        {# /*--------- Liga 1 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseTwo" aria-expanded="false"
                                   aria-controls="collapseTwo">
                                                     <span class="no-indent fwnormal fs13-mobile">
                                                         <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                              src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce517000000f.png">
                                                         Süper Lig<span
                                                                 class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                     </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>


                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>

                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>

                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {# /*--------- Liga 2 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingTwo_one">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseTwo_one"
                                   aria-expanded="false" aria-controls="collapseTwo_one">
                                                     <span class="no-indent fwnormal fs13-mobile">
                                                         <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                              src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a6f32d0ce4c70000002.png">
                                                         Superligaen, Mesterskabsrunde <span
                                                                 class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                     </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo_one" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo_one">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>


                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>

                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>

                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {#  /*--------- Liga 3 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingTwo_two">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseTwo_two"
                                   aria-expanded="false" aria-controls="collapseTwo_two">
                                                     <span class="no-indent fwnormal fs13-mobile">
                                                         <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                              src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce5170000065.png">
                                                        Championship Playoff <span
                                                                 class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                     </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo_two" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo_two">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>


                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>

                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>

                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#-------------------- Day ONE --------------------#}
        <div class="top"></div>
        <div class="panel-heading" role="tab" id="headingthree">
            <h4 class="panel-title">
                <a class="day_kamp" role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#headingtthree"
                   aria-expanded="true" aria-controls="headingtthree">
                    Dagens kampe - Mandag 15. Maj
                </a>
            </h4>
        </div>
        <div id="headingtthree" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="headingthree">
            <div class="panel-body">
                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default in_body">
                        {# /*--------- Liga 1 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingthree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree">
                                                      <span class="no-indent fwnormal fs13-mobile">
                                                          <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                               src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce517000000f.png">
                                                          Süper Lig<span
                                                                  class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                      </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingthree">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>


                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>

                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>

                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {# /*--------- Liga 2 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingthree_one">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseThree_one"
                                   aria-expanded="false" aria-controls="collapseThree_one">
                                                      <span class="no-indent fwnormal fs13-mobile">
                                                          <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                               src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a6f32d0ce4c70000002.png">
                                                          Superligaen, Mesterskabsrunde <span
                                                                  class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                      </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree_one" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingthree_one">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>


                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>

                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>

                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {#  /*--------- Liga 3 --------*/#}
                        <div class="panel-heading in_head" role="tab" id="headingthree_two">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion_1" href="#collapseThree_two"
                                   aria-expanded="false" aria-controls="collapseThree_two">
                                                      <span class="no-indent fwnormal fs13-mobile">
                                                          <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                               src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce5170000065.png">
                                                         Championship Playoff <span
                                                                  class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                      </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree_two" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingthree_two">
                            <div class="panel-body">
                                <ul role="menu" aria-expanded="true">
                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>


                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>

                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>

                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>