$color-heavy-metal-3: #2f302d;
$color-heavy-metal-2: #333532;
$color-heavy-metal: #282a27;
$color-athens-gray: #f3f5f8;
$color-shark: #242830;
$color-tundora: #4C4C4C;
$color-lunar-green: #3e3f3e;
$color-highland: #718b59;
$color-chalet-green: #4D6E33;
$color-clay-ash: #c1c6b0;
$color-mine-shaft: #333333;
$color-tundora: #444444;
$color-calypso: #2C7181;
$color-ebb: #EAE3E3;
$color-dove-gray: #6c6c6c;
$color-mine-shaft-2:#212121;
$color-nevada: #586768;
$color-cabbage-pont: #3b4636;