.LeaguesListPlugin{
	.LeagueList{
		margin-top: 1em;
		.col{
			float: left;
			margin-right: 3%;
			width: 31.3%;
			
			&:nth-child(3n+3){
				margin-right: 0;
			}
			
			.List{
				.panel-body{
					> ul{
						li{
							a{
								display: flex;
								align-items: center;
								img{
									width: auto;
								    margin-right: 10px;
									display: block;
									height: 40px;
								    background: white;
								    border-radius: 100%;
								}
							}
						}
					}
				}
			}	
		}
	}
	
	@include tablet{
		.LeagueList{
			.col{
				float: none;
				margin: 0;
				width: 100%;
			}
		}
	}
}