.ProviderTabs{
	.col{
		.nav-tabs{
			border: none;
			padding: 0 0 0 9px;

			li{
				margin: 0 .6em 0 0;
				a{
					margin: 0;
					opacity: .7;
					color: #fff;
					background: rgba(68,120,132,.8);
					border-radius: 3px 3px 0 0;
					padding: .8em 1em;
					-moz-transition: all .5s ease;
					-webkit-transition: all .5s ease;
					-o-transition: all .5s ease;
					position: relative;
					border: none;
					outline: none;
					&:focus,
					&:hover{
						border: none;
						outline: none;
						background: rgba(47,48,45,.7);
					}
				}
				&.active{
					a{
						background: rgba(47,48,45,1);
						opacity: 1;
						cursor: pointer;
						font-weight: 700;
					}
				}
			}
		}
		.tab-content{
			margin: 0 0 .6em 0;
			width: 100%;
			background: #fff;
			border: 9px solid $color-heavy-metal-3;
			padding: 2em;
			border-radius: 0 3px 3px;
			.tab-pane{
				position: relative;
				img{
					&.sponsored{
						position: absolute;
						top: -42px;
						right: -43px;
					}
				}
				> h3{
					font-weight: 700;
					font-size: 1em;
					text-transform: uppercase;
				} 
				> p{
					color: $color-cabbage-pont;
				}
				.ProviderHolder{
					border-top: 2px dotted grey;
					padding-top: 30px;
					display: flex;

					.ProviderImage{
						width: 40%;
						text-align: center;
						a{
							display: inline-block;
							img{
								max-width: 100%;
								height: auto;
								max-height: 225px;
								display: block;
								margin: 0 auto 10px;
							}
						}
					}

					.ProviderSteps{
						width: 50%;
						margin: 0 0 0 10%;
						padding: 0 0 0 5%;
						position: relative;

						&:after{
							background: url(../images/shadow-1.png) no-repeat;
							position: absolute;
							left: 0;
							top: 0;
							width: 13px;
							height: 240px;
							content: '';
							display: block;
							clear: both;
						}
						ul{
							list-style: none;
							margin: 0;
							padding: 0;

							li{
								list-style: none;
								margin: 0;
								padding: 0;
								display: block;
								color: $color-cabbage-pont;
								a{
									display: block;
									padding: 8px 0 8px 40px;
									margin-bottom: 15px;

									span{
										color: $color-nevada;
										display: block;
										font-size: 11px;
										pointer-events: none;
									}
								}
								&:nth-child(1){
									background: url(../images/www.png) no-repeat;
								}
								&:nth-child(2){
									background: url(../images/edit.png) no-repeat;
								}
								&:nth-child(3){
									background: url(../images/play.png) no-repeat;
								}
							}
						}
					}
				}
				.actions{
					float: right;
					text-align: left;

					p{
						font-size: 9px;
						color: $color-mine-shaft-2;
						text-align: left;
						padding-bottom: 8px;
						word-spacing: 1px;
						line-height: 1.5;
					}
					a{
						&.popUp{
							color: $color-dove-gray;
							display: block;
							font-size: 0.8em;
							margin-top: 5px;
							width: 100%;
						}
					}
					span{
						color: $color-dove-gray;
						font-size: 14px;
						line-height: 1.42857143;
					}
				}
				
			}
		}
	}
}