.BreadcrumbsBlock{
	font-size: 12px;
	
	&.Block{
		padding-top: 5px;
	}

    .container{
	    .row{
		    .col{
			    ul{
				    margin: 0;
				    padding: 0;
				    list-style: none;
				    li{
						list-style: none;
						display: inline-block;
						color: $color-gray;
						
						a{
							color: $color-gray;
							
							&:hover{
								text-decoration: none;	
							}
						}
						
						&.delimiter{
							padding: 0 3px;
						}
				    }
			    }
		    }
	    }
    }
}