section.ContentHeader{
	border: none;
	padding: 0 20px;
	min-height: 300px;
	background: url(../images/banner.jpg) center center/cover no-repeat $color-ebony-clay;
	color: $color-white;
	>.container{
		>.row{
			display: flex;
			align-items: center;
			min-height: 300px;

			>.HomeTitle,
			>.Title{
				padding: 0 20px 0 0;
				margin: 0 0 10px 0;
				h1{
					color: $color-white;
					font-size: 32px;
					line-height: 1;
					font-weight: 400;
					margin-bottom: 10px;
				}
				h3{
				    font-weight: 400;
				    font-size: 15px;
				    color: $color-white;
				}
				
				.arrow{
					display: flex;
					justify-content: flex-end;
				}
			}
			
			>.ProgramTitle{
				margin: 0 0 30px 0;
				padding: 0 20px 0 0;
			}
			
			>.HomeTitle{
				h1{
					margin: -3px 0 3px 0;
				}
				
				.arrow{
					margin: -3px 0 3px 0;
				}
			}
			
			.SelectMatch{
				.league,
				.match{
					padding: 5px 0;
					
					.CustomSelect{
						top: -3px;
					}
				}
				
				a{
					&.btn{
						margin: 15px 0 5px 0;
						background: $color-jungle-green;
						transition: ease-in-out .25s;
					}
				}
			}
			
			>.Showcase{
				background: rgba(36,44,57,.8);
				background: -moz-linear-gradient(top,rgba(36,44,57,.8) 0,rgba(60,112,98,.2) 100%);
				background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(36,44,57,.8)),color-stop(100%,rgba(60,112,98,.2)));
				background: -webkit-linear-gradient(top,rgba(36,44,57,.8) 0,rgba(60,112,98,.2) 100%);
				background: -o-linear-gradient(top,rgba(36,44,57,.8) 0,rgba(60,112,98,.2) 100%);
				background: -ms-linear-gradient(top,rgba(36,44,57,.8) 0,rgba(60,112,98,.2) 100%);
				background: linear-gradient(to bottom,rgba(36,44,57,.8) 0,rgba(60,112,98,.2) 100%);
				overflow: hidden;
				min-height: 300px;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				padding: 5px 20px 15px;
				color: $color-white;
				.sponsorLabel{
					background: #fff;
					color: #555;
					font-size: 12px;
					line-height: 26px;
					padding: 0 25px;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					transform: rotate(45deg);
					right: -23px;
					top: 9px;
				}
				
				.showcaseHeading{
					background: url(../images/play-banner.png) center left no-repeat;
				    padding: 20px 0 20px 65px;
				    min-height: 45px;
				    width: 100%;
					h4{
						font-size: 15px;
					    margin: 0;
					    line-height: 1.1;
					    font-weight: 700;
					}
					p{
						color: $color-gray;
						margin: 5px 0 0;
						line-height: 1.1;
					}
				}
				
				.showcaseSteps{
					width: 100%;
					padding: 0 0 0 45px;
					ol{
						border-top: 1px solid $color-white;
						padding: 15px 20px 5px 0;
						&.steps{
							
						}
					}
				}
				
				.warning{
					width: 100%;
					display: block;
					text-align: center;
					span{
						background: rgba(0, 0, 0, 0.3);
					    padding: 1px 5px;
					    margin-top: 10px;
					    border-radius: 5px;
					    color: $color-white;
					    font-weight: 700;
					    display: inline-block;
					    font-size: 12px;
					    i{
						    margin: 0 3px 0 0;
						    color: $color-ebony-clay;
					    }
					}
				}
				
				a{
					&.popUp{
						color: $color-white;
						font-size: 12px;
						margin: 10px 10px 0 0;
						
						&:hover{
							text-decoration: none;
						}
					}
				}
				
				p{
					&.disclaimer{
						width: 100%;
						font-size: 9px;
						color: $color-wild-sand;
						text-align: left;
						padding: 8px;
						margin-top: 11px;
						background: rgba(0, 0, 0, 0.3);
						font-weight: 700;
					}
				}
				
				&.Match{
					.showcaseHeading{
						h4{    
							font-size: 18px;
							width: 148px;
							color: rgba(255, 255, 255, 0.80);
    					}
						p{
							font-size: 11px;
							color: rgba(255, 255, 255, 0.70);
						}
					}
				}
			}
			>.Event{
				padding: 0 20px 9px 0;
				.arrow{
					padding: 10px 0 0 0;
					display: flex;
					justify-content: flex-end;
				}
				
				.EventBlock{
					.EventTeams{
						justify-content: flex-start;
						.TeamHolder{
							align-items: center;
							flex-direction: row;
							
							.TeamLogo{
								margin: 0 10px 0 -2px;
								display: flex;
								height: 45px;
								width: 45px;
								justify-content: center;
								align-items: center;
								
								img{
									max-height: 36px;
									max-width: 36px;
									display: block;
									margin: 0 auto 2px;
									border-radius: 100%;
								}
							}
							
							.TeamName{
								margin: 0 -2px;
								font-size: 32px;
								line-height: 1;
								font-weight: 700;
							}
							&:last-child{
								flex-direction: row-reverse;
								.TeamLogo{
									margin: 0 -2px 0 10px;
								}
							}
						}
						.Vs{
							font-size: 21px;
							line-height: 1.5;
							padding: 10px;
							font-weight: 700;
							margin: 0 -2px;
						}
					}
					.EventDate{
						text-align: left;
						background: url(../images/time.png) center left no-repeat;
						line-height: 26px;
						padding-left: 32px;
						min-height: 26px;
						margin-top: 5px;
						margin-left: 53px;
						font-size: 26px;
					}
				}
			}
		}
	}
	@include tablet{
		>.container{
			>.row{
				>.HomeTitle,
				>.Title{
					h1{
						font-size: 24px;
					}
				}
				>.HomeTitle{
					h1{
						margin: -2px 0 2px 0;
					}
				}
				>.Showcase{
					.showcaseSteps{
						padding: 0;
					}
				}
				>.Event{
					.EventBlock{
						.EventTeams{
							.TeamHolder{
								.TeamName{
									font-size: 24px;
								}
							}
						}
						.EventDate{
							font-size: 22px;
						}
					}
				}
			}
		}
	}
	@include mobile{
		min-height: unset;
		padding: 35px 20px;
		>.container{
			>.row{
				flex-direction: column;
				min-height: unset;
				>.col{
					&.HomeTitle{
						display: none;
					}
					&.Title{
						margin: 0;
						h1{
							font-size: 14px;
							line-height: 1.1
						}
					}
					
					&.ProgramTitle{
						padding: 0;
						margin: 0;	
					}
					
					&.SelectMatch{
						a{
							&.btn{
								text-align: left;
								&:before{
									background: url(../images/play.png) no-repeat;
									content: "";
									display: inline-block;
									height: 16px;
									margin-right: 10px;
									position: relative;
									top: 3px;
									width: 23px;
									padding-right: .25em;
								}
							}
						}
					}
					&.Event{
						padding: 0 20px 0 0;
						.arrow{
							display: none;
						}
						.EventBlock{
							.EventTeams{
								flex-direction: column;
								align-items: flex-start;
								
								.TeamHolder{
									width: 100%;
									
									&:last-child{
										flex-direction: row;
										.TeamLogo{
											margin: 0 10px 0 -2px;
										}
									}
									
									.TeamName{
										margin: 0 -1px;
										font-size: 14px;
										line-height: 16px;
										max-width: 56%;
									}
								}
								.Vs{
									margin: 0;
									padding: 0 0 0 55px;
									line-height: 1.5;
									font-size: 15px;
									
								}
							}
							.EventDate{
								font-size: 18px;
								margin-bottom: 20px;
							}
						}
					}	
				}
			}
		}
	}
}