section.SiteFooterMenu{
	>.container{
		>.row{
			padding: 20px 0;
			.footerMenu{
				padding: 10px 10px 10px 35px;
				background: url(../images/marker.png) left center no-repeat;
				h5{
					margin: 0 0 -3px;
				}
				ul{
					margin: 0 -5px;
					width: auto;
					list-style: none;
					li{
						display: inline-block;
						padding: 0 5px;
						a{
							color: $color-gray;
							
							strong{
								color: $color-scorpion-2;	
							}
							
							&:hover{
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}