.page-header--compact {
    background-repeat: repeat;
    background-position: top left;
    padding: 20px;

    @media #{$mobile} {
        & {
            padding: 30px 20px 20px 20px;
            min-height: 150px;
        }
    }

    &__left {
        flex: 1;
        margin-right: 30px;
    }

    &__right {
        flex: 0;
        min-width: 33.33%;
    }

    &__title {
        font-size: 24px;
        color: #666;
        margin-top: 0;

        @media #{$mobile} {
            & {
                text-align: center;
            }
        }
    }

    &__paragraph {
        color: #555;

        @media #{$mobile} {
            & {
                text-align: center;
            }
        }
    }

}
