{% set tomorrow = now|date_modify("+1 day") %}

<div class="container">
	<h2> Shortcodes </h2>

	<hr>

	<pre> [team_1][/team_1] </pre>

	<p> Valencia </p>

	<hr>

	<pre> [team_2][/team_2] </pre>

	<p> FC Barcelona </p>

	<hr>

	<pre> [teamlist][/teamlist] </pre>

	<ul>
		<li> Valencia </li>
		<li> FC Barcelona </li>
	</ul>

	<hr>

	<pre> [date][/date] </pre>

	<p>06-02-2018 : 10:00</p>

	<hr>

	<pre> [day][/day] </pre>

	<p> 06-02-2018 </p>

	<hr>

	<pre> [hour][/hour] </pre>

	<p> 10:00 </p>

	<hr>

	<pre> [countdown][/countdown] </pre>

	<span class="shortcodeCountdown" startdate="{{ tomorrow|date("Y/m/d H:i:s") }}">{{ tomorrow|date("Y/m/d H:i:s") }}</span>

	<hr>

	<pre> [leaguename][/leaguename] </pre>

	<p> Copa del Rey </p>

	<hr>

	<pre> [futureschedule_team1][/futureschedule_team1] </pre>

	<div class="panel-group" id="accordionSchedule_1752706465" role="tablist" aria-multiselectable="true">

		<div class="panel panel-default panel-kamp">
			<div class="panel-heading collabseIN" role="tab" id="heading_07_Feb_2018_1752706465">
				<h4 class="panel-title">
					<a class="day_kamp " role="button" data-toggle="collapse" data-parent="#accordionSchedule_1752706465" href="#collapse07_Feb_2018_1752706465" aria-expanded="true" aria-controls="collapse07_Feb_2018_1752706465">
						Wednesday 07. Feb
					</a>
				</h4>
			</div>

			<div id="collapse07_Feb_2018_1752706465" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_07_Feb_2018_1752706465">

				<div class="panel-body">
					<div class="panel-group" id="accordion_2018-02-07laliga3141_1752706465" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default in_body interior">

							<div class="panel-heading in_head" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_2018-02-07laliga3141_1752706465" href="#2018-02-07laliga3141_1752706465" aria-expanded="false" aria-controls="2018-02-07laliga3141_1752706465">
										<span class="no-indent fwnormal fs13-mobile">
											<img class="inline-block half-gap-right" alt="LaLiga" width="30" height="30" src="/sites/default/files/_logo.png"> LaLiga
											<span class="italic  pad-left-desktop half-pad-left-ipad">
												(1 match)
											</span>
										</span>
									</a>
								</h4>
							</div>
							<div id="2018-02-07laliga3141_1752706465" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<ul role="menu" aria-expanded="true">
										<li class="o_program_match">
											<div class="pull-left program_match_ind border">
												<a href="/events/laliga/atletico-madrid-valencia">
													<span class="fs16 fs14-mobile half-pad-right">
														<i class="fa fa-clock-o"></i>
														21:45 
													</span>
													<span class="fs16 fs14-mobile half-pad-right bold-mobile-v">

													</span>
												</a>
											</div>
											<div class="pull-left program_match_ind border">
												<a href="/events/laliga/atletico-madrid-valencia">Atlético Madrid - Valencia</a>
											</div>
											<div class="pull-right">
												<a role="button" class="btn arrowAfter" href="/events/laliga/atletico-madrid-valencia">
													sport_schedule_button
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<pre> [futureschedule_team2][/futureschedule_team2] </pre>

	<div class="panel-group" id="accordionSchedule_1743876592" role="tablist" aria-multiselectable="true">

		<div class="panel panel-default panel-kamp">
			<div class="panel-heading collabseIN" role="tab" id="heading_11_Feb_2018_1743876592">
				<h4 class="panel-title">
					<a class="day_kamp " role="button" data-toggle="collapse" data-parent="#accordionSchedule_1743876592" href="#collapse11_Feb_2018_1743876592" aria-expanded="true" aria-controls="collapse11_Feb_2018_1743876592">
						Sunday 11. Feb
					</a>
				</h4>
			</div>

			<div id="collapse11_Feb_2018_1743876592" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_11_Feb_2018_1743876592">

				<div class="panel-body">
					<div class="panel-group" id="accordion_2018-02-11laliga3141_1743876592" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default in_body interior">

							<div class="panel-heading in_head" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_2018-02-11laliga3141_1743876592" href="#2018-02-11laliga3141_1743876592" aria-expanded="false" aria-controls="2018-02-11laliga3141_1743876592">
										<span class="no-indent fwnormal fs13-mobile">
											<img class="inline-block half-gap-right" alt="LaLiga" width="30" height="30" src="/sites/default/files/_logo.png"> LaLiga
											<span class="italic  pad-left-desktop half-pad-left-ipad">
												(1 match)
											</span>
										</span>
									</a>
								</h4>
							</div>
							<div id="2018-02-11laliga3141_1743876592" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<ul role="menu" aria-expanded="true">
										<li class="o_program_match">
											<div class="pull-left program_match_ind border">
												<a href="/events/laliga/fc-barcelona-getafe">
													<span class="fs16 fs14-mobile half-pad-right">
														<i class="fa fa-clock-o"></i>
														17:15 
													</span>
													<span class="fs16 fs14-mobile half-pad-right bold-mobile-v">

													</span>
												</a>
											</div>
											<div class="pull-left program_match_ind border">
												<a href="/events/laliga/fc-barcelona-getafe">FC Barcelona - Getafe</a>
											</div>
											<div class="pull-right">
												<a role="button" class="btn arrowAfter" href="/events/laliga/fc-barcelona-getafe">
													sport_schedule_button
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<pre> [futureschedule_league][/futureschedule_league] </pre>

	<div class="panel-group" id="accordionSchedule_218293268" role="tablist" aria-multiselectable="true">

		<div class="panel panel-default panel-kamp">
			<div class="panel-heading collabseIN" role="tab" id="heading_07_Feb_2018_218293268">
				<h4 class="panel-title">
					<a class="day_kamp " role="button" data-toggle="collapse" data-parent="#accordionSchedule_218293268" href="#collapse07_Feb_2018_218293268" aria-expanded="true" aria-controls="collapse07_Feb_2018_218293268">
						Wednesday 07. Feb
					</a>
				</h4>
			</div>

			<div id="collapse07_Feb_2018_218293268" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_07_Feb_2018_218293268">

				<div class="panel-body">
					<div class="panel-group" id="accordion_2018-02-07copa_del_rey2778_218293268" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default in_body interior">

							<div class="panel-heading in_head" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_2018-02-07copa_del_rey2778_218293268" href="#2018-02-07copa_del_rey2778_218293268" aria-expanded="false" aria-controls="2018-02-07copa_del_rey2778_218293268">
										<span class="no-indent fwnormal fs13-mobile">
											<img class="inline-block half-gap-right" alt="Copa del Rey" width="30" height="30" src="/sites/default/files/_logo.png"> Copa del Rey
											<span class="italic  pad-left-desktop half-pad-left-ipad">
												(1 match)
											</span>
										</span>
									</a>
								</h4>
							</div>
							<div id="2018-02-07copa_del_rey2778_218293268" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">
									<ul role="menu" aria-expanded="true">
										<li class="o_program_match">
											<div class="pull-left program_match_ind border">
												<a href="/events/copa-del-rey/sevilla-leganes">
													<span class="fs16 fs14-mobile half-pad-right">
														<i class="fa fa-clock-o"></i>
														22:30 
													</span>
													<span class="fs16 fs14-mobile half-pad-right bold-mobile-v">

													</span>
												</a>
											</div>
											<div class="pull-left program_match_ind border">
												<a href="/events/copa-del-rey/sevilla-leganes">Sevilla - Leganés</a>
											</div>
											<div class="pull-right">
												<a role="button" class="btn arrowAfter" href="/events/copa-del-rey/sevilla-leganes">
													sport_schedule_button
												</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>

</div> 