.event-data-no-image {
	background: $color-white;
}

.event-data-image {
	background: url("../images/green-cup.png");
}

.GP_body{
	padding: 0 !important;

	.col-xs-12{
		padding: 0;
		h1{
			font-size: 38px;
			margin: 0;
			color: $color-black;
			font-weight: 400;
		}
		p{
			font-size: 24px;
			line-height: 30px;
			margin: 0 auto;
			width: 90%;
			font-weight: 400;
		}
	}
}

@include tablet{
	.GP_body{
		.col-xs-12{
			h1{
				font-size: 30px;
			}
			p{
				font-size: 20px;
				line-height: 25px;
			}
		}
	}
}

@include mobile{
	.GP_body{
		.col-xs-12{
			padding-left: 10px !important;
			padding-right: 10px !important;
			h1{
				font-size: 20px;
				margin: 0 0 10px 0;
				line-height: 23px;
			}
			p{
				font-size: 17px;
				width: 100%;
			}
		}
	}
}