.GP_stream {
	.col-lg-12 {
		padding: 0;
	}
	
	.border-panel-title {
		.img_name_stream {
			display: inline-block;
			width: 45%;
		}
		
		.col-lg-2 {
			display: inline-block;
		}
	}
	
	.main-content {
		width: 70%;
		float: left;
		
		.col-lg-3 {
		    width: 32%;
		    float: left;
		}
	}
	
	.right-content {
		width: 30%;
		float: left;
		
		.col-lg-3 {
		    width: 100%;
		    padding: 0;
		}
	}
	
	.sep-arw {
		width: 30px;
		height: 195px;
		background: url('../../images/sep-arw.png') no-repeat center top;
		float: left;
	}
	
	.streamPanelTitle {
		margin-top: 0;	
	}
	
	.text-small {
		font-size: 13px;
		margin-top: 10px;
	}
	
	.text-center {
		margin-top: 5px;
		
		.btn {
			text-align: right;
			line-height: 18px;
			padding: 20px;
			float: right;
			margin-top: 55px;
			font-size: 18px;
			
			span {
				
			    font-size: 11px;
			    text-align: right;
			}
		}
		
		h4 {
		    font-size: 16px;
		    color: #555;
		    font-family: 'Open Sans',sans-serif,arial;
		    font-weight: 700;
		}
		
		b {
			font-weight: 500;
		}
		
		&:before {
		    font-family: FontAwesome;
		    font-weight: 400;
		    font-style: normal;
		    text-decoration: inherit;
		    -webkit-font-smoothing: antialiased;
		    margin-right: 5px;
		}
		
		&.element-video_quality:before {
			content: "\f00c";
		}
		
		&.element-video_size:before {
			content: "\f01d";
		}
		
		&.element-video_price:before {
			content: "\f0d6";
		}
	}
	
    @media (max-width: 767px) {
	    .border-panel-title {
		    .sep-arw {
			    display: none;
		    }
		    
		    .img_name_stream {
				display: block; 
				width: 100%;
				text-align: center;   
		    }
		    
		    .col-lg-2 {
				display: block; 
				width: 100%;
				text-align: center;   
		    }
	    }
	    
	    .sep-arw {
		    display: none;
	    }
	    
	    .main-content {
		    width: 100%;
		    
		    .streamPanelTitle {
			    text-align: center;
		    }
		    
		 	h4,
		 	.text-small {
			 	font-size: 10px;
		 	}
	    }
	    
	    .right-content {
		    width: 100%;
		    
			.text-center {
				.btn-danger {
					float: none;
					margin-top: 20px;
					width: 100%;	
				}   
			}
	    }
	}
}

.GP_stream {
	padding: 0 !important;
	>.col-lg-12{
		>.panel {
			position: relative;
			border-radius: 0;
			margin-top: 15px;
			display: flex;
			flex-direction: column;

			.sponsorStrip{
				position: absolute;
				z-index: 1;
				right: -6px;
				top: -6px;
			}
			
			.border-panel-title {
				display: flex;
				align-items: center;
				background: $color-white;
				background: -moz-linear-gradient(top, $color-white 0, #f8f8f9 50%, #f2f2f3 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-white), color-stop(50%, #f8f8f9), color-stop(100%, #f2f2f3));
				background: -webkit-linear-gradient(top, $color-white 0, #f8f8f9 50%, #f2f2f3 100%);
				background: -o-linear-gradient(top, $color-white 0, #f8f8f9 50%, #f2f2f3 100%);
				background: -ms-linear-gradient(top, $color-white 0, #f8f8f9 50%, #f2f2f3 100%);
				background: linear-gradient(to bottom, $color-white 0, #f8f8f9 50%, #f2f2f3 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-white, endColorstr='#f2f2f3', GradientType=0);
				padding: 10px;
				color: #111;
				margin: 0;
				em {
					color: #516b16;
				}
				.col-lg-6{
					padding: 0;
					display: flex;
					align-items: center;
					img{
						border-radius: 0;
						height: 34px;
						width: auto;
						margin: 0 5px 0 0;
					}
					b{
						font-weight: 700;
						font-size: 21px;
						font-family: $font-serif;
					}
					span{
						margin: 0 0 0 10px;
						font-size: 18px;
					}
				}
				.col-lg-2{
					margin: 0 5px 0 0;
					padding: 0;
					b{
						font-weight: 900;
						font-family: "Bree Serif",serif;
					}
				}

			}
			.panel-body{
				padding: 10px;
				>.col-lg-12{
					display: flex;
					.main-content{
						.streamPanelTitle {
							font-size: 1.5em;
							font-weight: 800;
							font-family: "Bree Serif", serif;
							color: #111;
						}
						>.col-lg-3{
							margin: 0;
							.col-lg-12{
								display: flex;
								flex-direction: column;
								align-items: center;
								&:nth-child(1){
									h4{
										margin: 0 0 5px 0;
									}
								}
								&:nth-child(2){
									img{
										border: none;
										display: block;
										height: 70px;
										width: auto;
										padding: 0;
										border-radius: 0;
									}
								}
								&:nth-child(3){
									
								}
							}
						}
					}
					.right-content{
						>.col-lg-3{
							margin: 0;
							display: flex;
							align-items: center;
							.sep-arw{
								background: url('http://images-v2-cdn.sesport.dk/sesport.dk-ver2/sep-arw.png') center top no-repeat;
							}
							.btn{
								width: 100%;
								margin:0 0 0 15px;
								word-break: break-all;
								white-space: normal;
								span{
									font-weight: 400;
								}
							}	
						}
					}
				}
			}
		}
		&.ShowStreamList{
			background: white;
			padding: 20px;
			margin: -20px 0 0 0;
			
			.ShowStreamListButton{
				width: 100%;
				margin: 0px;
			}
		}
	}
	@include tablet{
		width: 100%;
		padding: 0 10px !important;
		>.col-lg-12{
			>.panel {
				.border-panel-title {
					.col-lg-2{
						font-size: 11px;
					}
				}
				.panel-body{
					>.col-lg-12{
						.main-content{
							>.col-lg-3{
								.col-lg-12{
									&:nth-child(1){
										h4{
											font-size: 13px;
										}
									}
									&:nth-child(3){
										font-size: 11px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@include mobile{
		width: 100%;
		padding: 0 10px !important;
		>.col-lg-12{
			>.panel {
				.border-panel-title {
					flex-direction: column;
					.col-lg-6{
						justify-content: center;
						margin: 0 0 10px 0;
					}
					.col-lg-2{
						font-size: 14px;
						line-height: 22px;
					}
				}
				.panel-body{
					>.col-lg-12{
						flex-direction: column;
						.main-content{
							>.col-lg-3{
								.col-lg-12{
									&:nth-child(1){
										h4{
											font-size: 10px;
										}
									}
									&:nth-child(3){
										display: none;
									}
								}
							}
						}
						.right-content{
							.sep-arw{
								display: none;
							}
							.btn{
								margin: 10px 0 !important;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}