.o-frontpage-bottomcta-footer-menu {
	padding: 0;
	
	.region-homefooter {
		.container{
			padding-right: 0;
			padding-left: 0;

			ul {
				text-align: center;
				width: 100%;
				margin: 0;

				li {
					text-align: center;
					float: none;
					display: inline-block;
					margin-bottom: 20px;
					width: 24%;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						width: 95%;
						margin: 0;
					}

					@media(max-width: 1024px) {
						width: 45%;
					}
				}
				@include mobile{
					li{
						width: 100%;
						padding: 5px;
						margin: 0;
						a{	
							margin: 5px 0;
							width: 100%;
							font-size: 25px;
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}
