.langSwitcher{
	position: relative;
	padding: 0 25px;

	>a{
		cursor: pointer;
		color: #6b6b6b;
		font-size: 14px;
		font-weight: 400;

		&:hover{
			text-decoration: none;
		}
	}
	.block-language{
		top: 24px;
		left: 0;
		width: 100%;
		z-index: 1;
		position: absolute;
		background: #353535;
		border: 1px solid #000;
		border-radius: 4px;
		display: none !important;

		&.active{
			display: block !important;
		}

		.links{
			margin: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			li{
				padding: 5px 20px;
				margin: 0;
				border-bottom: 1px solid $color-emperor;

				&:last-child{
					border: none;
				}

				a{
					color: #6b6b6b;
					font-size: 14px;
					font-weight: 400;

					&:focus,
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}