.liveSreamReviews{
	background: url(../images/green-cup.png);

	.container{
		padding: 0;

		.LiveStreamReviewsBlock{
			width: 80%;
			margin: auto;
			.LiveStreamReviewsHead{
				>h1{
					font-size: 45px;
					line-height: 45px;
					padding: 20px 0 0 0;
					margin: 0;
					font-weight: 400;
					text-align: center;
				}
				>h2{
					font-weight: 400;
					margin: 0;
					padding: 0 0 10px 0;
					font-size: 24px;
					color: $color-grey;
					text-align: center;
				}
			}	
			.streamsContainer{
				margin: 0 0 90px 0;
				background: $color-white;
				padding: 0 20px;
				box-shadow: 0 0 30px $color-black;

				.stream{
					display: flex;

					.left{
						width: 35%;
						padding: 20px;
						border-bottom: 1px solid $color-alto;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.right,
					.full{
						padding: 20px;
						border-bottom: 1px solid $color-alto;

						h2{
							margin: 0 0 15px 0;
							line-height: 1.3;
							font-weight: 400;
							color: $color-black;
							span{
								color: $color-bright-green;
							}
						}
						p{
							line-height: 1.5;
							margin: 0 0 20px 0;
							font-size: 14px;
						}
						.actions{
							display: flex;
							justify-content: space-between;

							.btn{
								font-size: 16px;
								font-weight: 700;
								box-shadow: none;
								margin: 0;
							}
						}

					}
					.right{
						width: 65%;
						padding: 20px 20px 20px 0;
					}
					&:last-child{
						.full,
						.right,
						.left{
							border: none;
						}
					}

				}
			}
		}

	}
	@include mobile{
		.container{
			.LiveStreamReviewsBlock{
				width: 100%;
				.LiveStreamReviewsHead{
					padding: 0 20px 20px 20px;
				}
				.streamsContainer{
					width: 84%;
					margin-left: auto;
					margin-right: auto;
				
					.stream{
						flex-direction: column;
						.left{
							width: 100%;
							border: none;
							img{
								max-width: 146px;	
							}
						}	
						.right,
						.full {
							padding: 0 20px 20px 20px;
							width: 100%;
							h2{
								display:  flex;
								flex-direction:  column;
								align-items:  center;
							}
							.actions{
								flex-direction: column;

								.btn{
									margin: 10px 0 0 0;
								}
							}
						}
					}
				}
			}
		}
	}
}