.page-node-type-sport {

  .o-sport-program {
    background: url('../../../../../../../themes/custom/stevethemebase/src/images/ground-image-football.jpg') no-repeat center top;
    background-size: cover;
    padding: 0;
    position: relative;
    width: 100%;

    &:after{
      content: '';
      display: block;
      bottom: -32px;
      left: 50%;
      margin-left: -96px;
      position: absolute;
      border-left: 96px solid transparent !important;
      border-right: 96px solid transparent !important;
      border-top: 32px solid;
      border-color: inherit;
    }

    .container {
      padding:0;
      
      .col-md-12 {
        padding: 0;

        .o_program_text{
          padding: 20px 0 0 0;
          margin: 0 0 15px 0;
          line-height: 39px;
          text-transform: uppercase;
          font-size: 30px;
          font-weight: 400;
          color: $color-white;
          font-family: $font-serif;
        }

        .noEventsCarousel{
          margin: 25px 0 20px 0;
          .TournamentBox{
            background: $color-white;
            padding: 20px 15px 0 15px;
            border-radius: 2px;
            .TournamentName{
              h3{
                font-weight: 400;        
                margin: 5px 0 10px 0;
                font-size: 24px;
                color: $color-emperor;
                font-family: $font-sans;
              }
            }
            .TournamentDescription{
              padding: 0 0 20px 0;
            }
            .TournamentLink{
              padding: 5px;
              display: flex;
              justify-content: flex-end;
              margin: 0 -15px;
              background: rgba(105, 153, 8, 0.4);
              .btn{
                margin: 0;
                padding: 8px 12px;
                font-size: 14px;
                font-weight: 400;
              }

            }
          }
        }
      }
    }

    @include mobile {
      >.container {
        padding: 0 10px !important;
      }
    }
  }   
}