.ProviderPageBody{
	background: url(../../images/ground-image-football.jpg) center top no-repeat;
    background-size: cover;
    padding: 0 0 50px 0;
    position: relative;

	.container{
		padding: 20px;
		margin-top: -15px;
		background: $color-white;

		.btn{
			border-color: #e43725;
			box-shadow: 0 0 5px #999;
			font-size: 21px;
			padding: 6px 21px;
			margin: 0;
		}

		.row{
			&:nth-child(1){
				display: flex;
				padding: 0 0 20px 0;
				margin: 0 0 40px;
				border-bottom: 1px solid $color-alto;
				>div{
					&:nth-child(1){
						width: 35%;
						display: flex;
    					align-self: flex-start;
    					justify-content: center;
    					padding: 0 30px 0 0;
    					border-right: 1px solid $color-alto;
    					
    					@include mobile{
	    					border-right: none;
    					}
					}
					&:nth-child(2){
						padding: 0 0 0 30px;
						width: 65%;
						.btn{
							margin: 5px;
						}
						h2{
							font-weight: 400;
							margin: 0 0 15px;
						}
						p{
							margin: 0 0 7px 0;
							font-size: 14px;
							color: $color-emperor;
							i{
								color: $color-sushi;
								margin: 0 5px 0 0;
							}

						}
					}
				}
			}
			&:nth-child(2){
				.text{
					margin-bottom: 40px;
					h4{
						font-size: 19px;
						font-weight: 400;
						line-height: 25px;
						margin: 0;
						em{
							color: $color-sushi;
						}
					}
					p{
						font-size: 14px;
						color: $color-emperor;
						line-height: 21px;
						margin: 0 0 10px 0;
						em{
							font-style: italic;
						}
					}
					&:last-child{
						margin-bottom: 10px;
					}
				}
			}
			&:nth-child(3){
				margin: 20px 0 0 0;
				.btn{
					width: 100%;
					text-align: center
				} 
				
			}
		}	
	}
}
@include mobile{
	.ProviderPageBody{
		padding: 20px 0 20px 0;
		.container{
			margin-top: 0;
			.btn{
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
			.row{
				&:nth-child(1){
					flex-direction: column;
					>div{
						width: 100% !important;
						padding: 0 !important;
						&:nth-child(2){
							border: none !important;
						}
					}
				}
			}
		}
	}
}
.path-live-stream-reviews{
	.ProviderPageBody{
		.container{
			margin-top: 25px !important;
			
			@include mobile{
				margin-top: 0px !important;
			}
		}
	}
}