<main class='frontpage'>

    {% if page.content_headsportsecction %}
        {{ page.content_headsportsecction }}
    {% endif %}

    {% if page.content_popularkamp %}
        {{ page.content_popularkamp }}
    {% endif %}


    {% if page.content_kamp %}
        <section class="o-sport-program sport_home_slider">
            <div class="container-fluid">
                <div class="col-md-12">
                    {{ page.content_kamp }}
                </div>
            </div>
        </section>
    {% endif %}

    {% if page.content_stream %}
        <section class="o-sport-stream">
            <div class="container-fluid">
                {{ page.content_stream }}
            </div>
        </section>
    {% endif %}

</main>
