<header>Du får de bedste optakter, det bedste sport, den bedste oversigt, de seneste resultater og meget mere,
    når du besøger vores side. Se udvalget herunder.
</header>
<aside class='o-frontpage-bottomcta__livestreaming'>
    <i class="fa fa-laptop" aria-hidden="true"></i>
    <section>
        <header>Livestreaming</header>
        <p>På sesport.dk har du mulighed for at streame det bedste fodbold live fra Superligaen og resten af
            Europa, følge de største stjerner i tennissporten og se det vildeste håndbold i verden.</p>
        <a href='#'>her</a>
    </section>
</aside>