.panel{
	&.TeamEventsList{
		background: none;
		border: none;
		border-radius: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
		.panel-heading{
			padding: 0;
			border-radius: 0;
			border: none;
			margin: 0;
			background: none;
			h3{
				line-height: 20px;
				font-size: 14px;
				color: #281a27;
			}
		}
		
		.panel-body{
			padding: 0;
			> ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					border-bottom: 1px solid #281a27;
					padding: 5px 20px;
					position: relative;
					
					&:before{
						background: rgba(0, 0, 0, 0) url(../images/arrow-round-small.svg) no-repeat scroll 0 0;
						content: "";
						height: 18px;
						left: 0;
						position: absolute;
						top: 15%;
						width: 18px;
					}
					
					a{
						display: block;			
					}
					span{
						color: #666;
						font-size: 11px;
						i{
							margin: 0 3px 0 0;
						}
					}
				}
			}
		}
		.panel-footer{
			padding: 0;
			margin: 0;
			background: none;
			border: none;
			border-radius: 0;
			display: flex;
			justify-content: center;
			
			.holder{
				margin: 0;
				
				a{
					margin: 10px 0;
					border-radius: 100%;
					box-sizing: border-box;
					display: inline-block;
					height: 30px;
					line-height: 10px;
					padding: 10px 5px;
					text-align: center;
					width: 30px;
					background: none !important;
					cursor: pointer;
					
					&.jp-current{
						border: 1px solid #ccc;
						margin: 0 3px;
					}
				}
			}
		}	
	}
	
	&.List{
		background: $color-heavy-metal;
		box-shadow: none;
		border: none;
		margin: 0 0 1em 0;
		border-radius: 3px;
	
		.panel-heading{
			padding: 0;
			border: none;
			background: none;
	
			.panel-title{
				padding: .4em 1em;
				color: #797575;
				line-height: 25px;
				font-size: 14px;
				font-weight: 100;
				text-transform: uppercase;
				background: none;
				&:after{
					display: none;
				}
			}
		}
		.panel-body{
			padding: 0;
			> ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					position: relative;
					width: 100%;
					background-color: #444;
					padding: .4em 1em;
					overflow: hidden;
					color: rgba(255,255,255,.6);
					display: block;
					transition: all .5s ease;
					-moz-transition: all .5s ease;
					-webkit-transition: all .5s ease;
					-o-transition: all .5s ease;
					border-top: 1px dotted #5e5656;
					margin-top: -1px;
					cursor: pointer;
	
					a{
						display: flex;
						align-items: center;
						cursor: pointer;
						padding: 0;
						margin: 0;
						-moz-transition: all .5s ease;
						-webkit-transition: all .5s ease;
						-o-transition: all .5s ease;
						padding-left: 0;
						position: relative;
						overflow: visible;
						color: rgba(255,255,255,.6) !important;
						-webkit-font-smoothing: antialiased;
						border: none !important;
						background: none !important;
						line-height: 20px;
						
						>img{
							margin-right: 10px;
							height: 40px;
							width: 40px;
							border-radius: 100%;
						}
						.img-holder{
						    height: 40px;
						    margin-right: 10px;
						    padding: 0;
						    width: 40px;
						    overflow: hidden;
						    background: #fff;
						    border-radius: 100%;
						    
						    img{
								width: 30px;
							    height: 30px;
							    margin: 5px auto 0;
							    float: none;
							    display: block;
						    }
						}
					}
					&:first-child{
						border: none;
					}
					&:hover{
						opacity: .8;
						cursor: pointer;
					}
				}
			}
		}	
	}
	&.LeagueTeamsList{
		border: none;
		background: none;
		margin: 0;
		border-radius: 5px 5px 0 0;
		box-shadow: none;
		.panel-heading{
			background: #230b23;
			border: none;
			padding: 5px;
			h4{
				font-weight: 700;
				color: #fff;
				font-size: 14px;
				line-height: 20px;
			}
		}
		.panel-body{
			padding: 0;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					a{
						display: block;
						border-top: 1px dotted #230b23;
						padding: 5px 30px;
						position: relative;
						min-height: 35px;
						color: #fff !important;
						text-decoration: none !important;
						font-size: 13px;
						box-sizing: border-box;
						background: rgba(35, 11, 35, 0.5);
						
						&:before{
							content: "";
							position: absolute;
							left: 5px;
							top: 20%;
							background: url(../images/arrow-round-small.svg) no-repeat;
							height: 18px;
							width: 18px;
						}
					}
				}
			}
		}
	}
	&.ScheduleList{
		margin: 0 0 1em 0;
		box-shadow: none;
		border-radius: 0;
		border: none;
		background: none;
		.panel-heading{
			border: none;
			padding: 0.4em 1em;
			font-size: 13px;
			background: #C2A770;
			border: none;
			margin: 0.2em 0 0;
			border-radius: 3px 3px 0 0;
			color: #fff;
			h4{
				margin: 0;
				padding: 0;
				display: flex;
				width: 100%;
				align-items: center;
				font-size: 13px;
				font-weight: 100;
				font-family: 'Gudea', sans-serif;
				line-height: 1.42857143;
				
				img{
				    width: 15px;
					height: 10px;
					margin: 0 5px 0 0;
				}
			}
		}
		.panel-body{
			padding: 0;
			
			ul{
				&.Events{
					margin: 0;
					padding: 0;
					list-style: none;
					li{
						display: block;
						a{
							padding: 0.4em 1em;
							width: 100%;
							background: #fff;					
							color: #281a27;
							font-size: 13px;
							border-bottom: 1px dotted #9FA5A0;
							display: flex;
							align-items: center;
							
							&:hover{
								opacity: 0.9;
							}
							
							span{
								&.date{
									width: 10%;
								}
								&.team{
									position: relative;
									width: 40%;
									display: flex;
									align-items: center;
									justify-content: flex-end;
									padding: 0 5px;
									
									img{
										width: 25px;
										height: 25px;
										margin: 0 5px;
									}
									
									&:nth-child(3){
										flex-direction: row-reverse;
										width: 35%;
										&:before{
										    content: "–";
										    position: absolute;
										    left: -3px;
										}
									}
								}
								&.preview{
									text-align: right;
									font-size: 13px;
									color: #B7820E;
									width: 15%;
									font-weight: bold;	
								}	
							}
						}
					}
				}		
			}
		}
	}	
}