<section class="LeaguesHeadPlugin ContentHeader">
	{% if tags %}
		<ul class="headSlider">
			{% for league in tags|slice(0, 5) %}
				<li>
					<div class="container">
						<div class="row">
							<div class="col col-md-12 league">
								<a href="{{ league.link}}">
									{% if league.img %}
										<div class="league-image">
											<img src="{{ file_url(league.img) }}">
										</div>
									{% endif %}
									<h3>{{ league.name }}</h3>
								</a>
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</section>