<section class="ReviewProviderTabsPlugin">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col">
        <h1 class="title">SPONSORED REVIEW</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="providerTabs">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active">
            <a href="review.html">
              <span class="name">bet365</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£0.50</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Paddypower</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Coral</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Betfair</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£2</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">William Hill</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Ladbrokes</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">888 Sport</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Boyle Sports</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
          <li role="presentation">
            <a href="review.html">
              <span class="name">Sky Bet</span>
              <span class="stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </span>
              <span class="price">£1</span>
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 col">
                  <h2>bet365</h2>
                  <img alt="bet365" src="images/bet365.png">
                  <p><strong>Selection:</strong>bet365 streams the Cheltenham Festival, Grand National and every other UK &amp; Ireland horse race!</p>
                  <p><strong>Quality:</strong>The streaming quality is very high with bet365</p>
                  <p><strong>Price:</strong>Bet £0.50 on the race</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 StreamProvider">
        <div class="ProviderLinks">
          <div class="container">
            <div class="row">
              <div class="col-md-8 step-images">
                <div class="row">
                  <div class="col-md-4">
                    <img src="images/d-1-tv.png">
                    <div class="line">
                      <img src="images/stream-1.png">
                      <span>
                        Go to bet365 and register your account
                      </span>
                    </div>
                  </div>
                  <div class="col-md-1 arrow">
                    <img src="images/arrow-1.png" alt="arrow">
                  </div>
                  <div class="col-md-4">
                    <img src="images/d-2-tv.png">
                    <div class="line">
                      <img src="images/stream-2.png">
                      <span>
                        Log In and go to the Horse Racing section
                      </span>
                    </div>
                  </div>
                  <div class="col-md-1 arrow">
                    <img src="images/arrow-1.png" alt="arrow">
                  </div>
                  <div class="col-md-4">
                    <img src="images/d-3-tv.png">
                    <div class="line">
                      <img src="images/stream-3.png">
                      <span>
                        Click on the Live stream Link for the desired race
                        <small>*Bet 50p bet on race to watch</small>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="line">
                  <a class="btn arrow">Stream live with bet365</a>
                  <a class="disclaimer">
                    *T&C APPLY - BET 50P BET ON RACE TO WATCH 
                    <br>- YOU MUST BE LOGGED IN
                  </a>
                  <div class="popUp">
                    <h2>T&amp;C apply - Paddy Power</h2>
                    <p>To watch a particular race you need to bet £€1.00 or £€0.50 each way on a selection in the Win or Each Way market.</p>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>