<main class='frontpage'>
    <section class="o-frontpage-hero_footbal sport_home_slider">
        <div class="container">
            <div class="col-md-8">
                <div class="col-lg-offset-2 col-md-6">
                    <h1 class='o-sportpage-hero__title'>
                        Se
                    </h1></div>
                <div class="col-lg-offset-3 col-md-9">
                    <h1 class='o-sportpage-hero__title '>
                        <span class="text_active"> Live Stream </span>
                    </h1></div>
                <div class="col-lg-offset-6 col-md-6">
                    <h1 class='o-sportpage-hero__title'>
                        Fodbold
                    </h1></div>
            </div>
            <div class="col-md-4 sport_home">
                <div class="three-step-div pad-bottom hide-on-mobile">
                    <h2 class="no-padding head green">Fodbold skal ses live!</h2>
                    <p class="zero">Følg dit yndlingshold:</p>
                    <p class="head green"><i class="fa fa-laptop white fs30"></i>&nbsp;live på TV</p>
                    <p class="head green"><i class="fa fa-plane white fs40"></i>&nbsp;live på stadion</p>
                    <p class="head green no-pad-bottom"><i class="fa fa-desktop white fs28"></i>&nbsp;eller live online
                    </p>
                    <p class="zero">på pc, mobil eller tablet.</p>
                    <hr>
                    <p>Næste topkamp - 17. maj 2017:<br>
                    <strong>Kl. 18:00: AGF. vs Esbjerg</strong></p>
                    <p>
                    <a target="_blank" role="button" class="btn green" href="go/foxsoccer2go/f/fp">
                        <i class="fa fa-arrow-circle-right"></i> Se AGF vs Esbjerg
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="o_sport_home_important_events">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1  header_o_sport_home_important_events">
                    <h2 class="">De mest populære kampe til DIG</h2>
                    <h3 class="">
                        Vi giver dig den bedste fodbold i verden, de fedeste optakter og muligheden
                        for at se live stream fodbold i den højeste kvalitet. Hver dag bliver en fodbold-fest!
                    </h3>
                </div>

                <div class="col-xs-12 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="porticipant_one">Horsens</div>
                            <div class="porticipant_two">Viborg</div>
                        </div>
                        <div class="panel-body">
                            <div class="vs_logo vs_front">
                                <h4>VS</h4>
                            </div>
                            <div class="teams">
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4a2ad232d0cec409000047.png"
                                         width="70" height="70" alt="Horsens">
                                </div>
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f70218d32d0ce374600000a.png"
                                         width="70" height="70" alt="Viborg">
                                </div>

                                <img class="ground_fealds"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ground-small.png" width="310"
                                     height="77" alt="ground-small">

                                <div class="team_logo_front_date">16. Maj 2017 kl. 20:00</div>
                            </div>
                            <div class="body_text">
                                <div class="pad-top pad-bottom border-bottom">
                                    <p class="fs13_text">
                                        Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3 point i
                                        denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live - se med
                                        her. </p>

                                    <a style="color: #858585" class="fs13_link"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Læs hele
                                        artiklen her &gt;&gt;</a></div>
                            </div>
                            <div class="panel-footer">
                                <a role="button" class="btn" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                    <i class="fa fa-arrow-circle-right"></i> Se Live Online</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="porticipant_one">Horsens</div>
                            <div class="porticipant_two">Viborg</div>
                        </div>
                        <div class="panel-body">
                            <div class="vs_logo vs_front">
                                <h4>VS</h4>
                            </div>
                            <div class="teams">
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4c7ea432d0ce494f000049.png"
                                         width="70" height="70" alt="Horsens">
                                </div>
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f8bda6f32d0ce5316000008.png"
                                         width="70" height="70" alt="Viborg">
                                </div>

                                <img class="ground_fealds"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ground-small.png" width="310"
                                     height="77" alt="ground-small">

                                <div class="team_logo_front_date">16. Maj 2017 kl. 20:00</div>
                            </div>
                            <div class="body_text">
                                <div class="pad-top pad-bottom border-bottom">
                                    <p class="fs13_text">
                                        Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3 point i
                                        denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live - se med
                                        her. </p>

                                    <a style="color: #858585" class="fs13_link"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Læs hele
                                        artiklen her &gt;&gt;</a></div>
                            </div>
                            <div class="panel-footer">
                                <a role="button" class="btn" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                    <i class="fa fa-arrow-circle-right"></i> Se Live Online</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="porticipant_one">Horsens</div>
                            <div class="porticipant_two">Viborg</div>
                        </div>
                        <div class="panel-body">
                            <div class="vs_logo vs_front">
                                <h4>VS</h4>
                            </div>
                            <div class="teams">
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4c7ea432d0ce494f000038.png"
                                         width="70" height="70" alt="Horsens">
                                </div>
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f2b8a5e32d0ce517000000c.png"
                                         width="70" height="70" alt="Viborg">
                                </div>

                                <img class="ground_fealds"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ground-small.png" width="310"
                                     height="77" alt="ground-small">

                                <div class="team_logo_front_date">16. Maj 2017 kl. 20:00</div>
                            </div>
                            <div class="body_text">
                                <div class="pad-top pad-bottom border-bottom">
                                    <p class="fs13_text">
                                        Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3 point i
                                        denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live - se med
                                        her. </p>

                                    <a style="color: #858585" class="fs13_link"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Læs hele
                                        artiklen her &gt;&gt;</a></div>
                            </div>
                            <div class="panel-footer">
                                <a role="button" class="btn" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                    <i class="fa fa-arrow-circle-right"></i> Se Live Online</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





</main>