<header class='o-header'>
    <nav class='o-header__languages'>
        <ul>
            <li>
                <a href='#' class="is-active">
                    <div class='c-flag c-flag--dk'>Denmark</div>
                </a>
            </li>
            <li>
                <a href="http://www.sportschauen.at">
                    <div class='c-flag c-flag--at'>Austria</div>
                </a>
            </li>
            <li>
                <a href="http://www.watchfooty.co.uk">
                    <div class='c-flag c-flag--uk'>UK</div>
                </a>
            </li>
        </ul>
    </nav>
    <div class='o-header__main'>
        <a href='/' class='o-header__main__logo'></a>
        <div class="menu_top">
            {% if page.navigation_collapsible %}
                {{ page.navigation_collapsible }}
            {% endif %}
        </div>
    </div>
    <nav class='o-header__secondary'>
        <ul>
            <li>
                <a href='#'>Fodbold Forside</a>
            </li>
            <li>
                <a href='#'>Live Stream Fodbald</a>
            </li>
            <li>
                <a href='#'>Blog</a>
            </li>
        </ul>
    </nav>
</header>
<main class='frontpage'>
    <section class='o-frontpage-hero_footbal sport_home_slider'>
        <div class="container">
            <div class="col-md-8">
                <div class="col-lg-offset-2 col-md-6">
                    <h1 class='o-sportpage-hero__title'>
                        Se
                    </h1></div>
                <div class="col-lg-offset-3 col-md-9">
                    <h1 class='o-sportpage-hero__title '>
                        <span class="text_active"> Live Stream </span>
                    </h1></div>
                <div class="col-lg-offset-6 col-md-6">
                    <h1 class='o-sportpage-hero__title'>
                        Fodbold
                    </h1></div>
            </div>
            <div class="col-md-4 sport_home">
                <div class="three-step-div pad-bottom hide-on-mobile">
                    <h2 class="no-padding head green">Fodbold skal ses live!</h2>
                    <p class="zero">Følg dit yndlingshold:</p>
                    <p class="head green"><i class="fa fa-laptop white fs30"></i>&nbsp;live på TV</p>
                    <p class="head green"><i class="fa fa-plane white fs40"></i>&nbsp;live på stadion</p>
                    <p class="head green no-pad-bottom"><i class="fa fa-desktop white fs28"></i>&nbsp;eller live online
                    </p>
                    <p class="zero">på pc, mobil eller tablet.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="o_sport_home_important_events">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 header_o_sport_home_important_events">
                    <h2 class="">De mest populære kampe til DIG</h2>
                    <h3 class="">
                        Vi giver dig den bedste fodbold i verden, de fedeste optakter og muligheden
                        for at se live stream fodbold i den højeste kvalitet. Hver dag bliver en fodbold-fest!
                    </h3>
                </div>

                <div class="col-xs-12 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="porticipant_one">Horsens</div>
                            <div class="porticipant_two">Viborg</div>
                        </div>
                        <div class="panel-body">
                            <div class="vs_logo vs_front">
                                <h4>VS</h4>
                            </div>
                            <div class="teams">
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4c7ea432d0ce494f000049.png"
                                         width="70" height="70" alt="Horsens">
                                </div>
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f8bda6f32d0ce5316000008.png"
                                         width="70" height="70" alt="Viborg">
                                </div>

                                <img class="ground_fealds"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ground-small.png" width="310"
                                     height="77" alt="ground-small">

                                <div class="team_logo_front_date">16. Maj 2017 kl. 20:00</div>
                            </div>
                            <div class="body_text">
                                <div class="pad-top pad-bottom border-bottom">
                                    <p class="fs13_text">
                                        Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3 point i
                                        denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live - se med
                                        her. </p>

                                    <a style="color: #858585" class="fs13_link"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Læs hele
                                        artiklen her &gt;&gt;</a></div>
                            </div>
                            <div class="panel-footer">
                                <a role="button" class="btn"
                                   href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Se Live
                                    Online</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="porticipant_one">Horsens</div>
                            <div class="porticipant_two">Viborg</div>
                        </div>
                        <div class="panel-body">
                            <div class="vs_logo vs_front">
                                <h4>VS</h4>
                            </div>
                            <div class="teams">
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4c7ea432d0ce494f000049.png"
                                         width="70" height="70" alt="Horsens">
                                </div>
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f8bda6f32d0ce5316000008.png"
                                         width="70" height="70" alt="Viborg">
                                </div>

                                <img class="ground_fealds"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ground-small.png" width="310"
                                     height="77" alt="ground-small">

                                <div class="team_logo_front_date">16. Maj 2017 kl. 20:00</div>
                            </div>
                            <div class="body_text">
                                <div class="pad-top pad-bottom border-bottom">
                                    <p class="fs13_text">
                                        Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3 point i
                                        denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live - se med
                                        her. </p>

                                    <a style="color: #858585" class="fs13_link"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Læs hele
                                        artiklen her &gt;&gt;</a></div>
                            </div>
                            <div class="panel-footer">
                                <a role="button" class="btn"
                                   href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Se Live
                                    Online</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="porticipant_one">Horsens</div>
                            <div class="porticipant_two">Viborg</div>
                        </div>
                        <div class="panel-body">
                            <div class="vs_logo vs_front">
                                <h4>VS</h4>
                            </div>
                            <div class="teams">
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4c7ea432d0ce494f000049.png"
                                         width="70" height="70" alt="Horsens">
                                </div>
                                <div class="vs_logo team_logo_front">
                                    <img class="gap-top team center"
                                         src="http://images-v2-cdn.sesport.dk/teams/70x70-4f8bda6f32d0ce5316000008.png"
                                         width="70" height="70" alt="Viborg">
                                </div>

                                <img class="ground_fealds"
                                     src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/ground-small.png" width="310"
                                     height="77" alt="ground-small">

                                <div class="team_logo_front_date">16. Maj 2017 kl. 20:00</div>
                            </div>
                            <div class="body_text">
                                <div class="pad-top pad-bottom border-bottom">
                                    <p class="fs13_text">
                                        Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3 point i
                                        denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live - se med
                                        her. </p>

                                    <a style="color: #858585" class="fs13_link"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Læs hele
                                        artiklen her &gt;&gt;</a></div>
                            </div>
                            <div class="panel-footer">
                                <a role="button" class="btn"
                                   href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">Se Live
                                    Online</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>

    <section class="o-sport-program sport_home_slider">
        <div class="container">
            <div class="col-md-12">
                {% if page.content_program %}
                    {{ page.content_program }}
                {% endif %}
                <h3 class="o_program_text">Kampprogram</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default panel-kamp ">
                        {#-------------------- Day ONE --------------------#}
                        <div class="panel-heading collabseIN" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="day_kamp" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    Dagens kampe - Mandag 15. Maj
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default in_body">
                                        {# /*--------- Liga 1 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseTwo" aria-expanded="false"
                                                   aria-controls="collapseTwo">
                                                    <span class="no-indent fwnormal fs13-mobile">
                                                        <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce517000000f.png">
                                                        Süper Lig<span
                                                                class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                    </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {# /*--------- Liga 2 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingTwo_one">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseTwo_one"
                                                   aria-expanded="false" aria-controls="collapseTwo_one">
                                                    <span class="no-indent fwnormal fs13-mobile">
                                                        <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a6f32d0ce4c70000002.png">
                                                        Superligaen, Mesterskabsrunde <span
                                                                class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                    </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo_one" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo_one">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {#  /*--------- Liga 3 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingTwo_two">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseTwo_two"
                                                   aria-expanded="false" aria-controls="collapseTwo_two">
                                                    <span class="no-indent fwnormal fs13-mobile">
                                                        <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                             src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce5170000065.png">
                                                       Championship Playoff <span
                                                                class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                    </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo_two" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo_two">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                            <span class="pull-left program_match_ind border">
                                                                <i class="fs16 fs14-mobile half-pad-right"><i
                                                                            class="fa fa-clock-o"></i> 20:30</i>
                                                                <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                            </span>
                                                        <span class="pull-right">
                                                                <a role="button" class="btn btn-success-kamp"
                                                                   href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                            class="fa fa-arrow-circle-right"></i></a>
                                                            </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#-------------------- Day ONE --------------------#}
                        <div class="top"></div>
                        <div class="panel-heading" role="tab" id="headingtwo">
                            <h4 class="panel-title">
                                <a class="day_kamp" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingttwo"
                                   aria-expanded="true" aria-controls="headingttwo">
                                    Dagens kampe - Mandag 15. Maj
                                </a>
                            </h4>
                        </div>
                        <div id="headingttwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingtwo">
                            <div class="panel-body">
                                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default in_body">
                                        {# /*--------- Liga 1 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseTwo" aria-expanded="false"
                                                   aria-controls="collapseTwo">
                                                     <span class="no-indent fwnormal fs13-mobile">
                                                         <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                              src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce517000000f.png">
                                                         Süper Lig<span
                                                                 class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                     </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {# /*--------- Liga 2 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingTwo_one">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseTwo_one"
                                                   aria-expanded="false" aria-controls="collapseTwo_one">
                                                     <span class="no-indent fwnormal fs13-mobile">
                                                         <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                              src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a6f32d0ce4c70000002.png">
                                                         Superligaen, Mesterskabsrunde <span
                                                                 class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                     </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo_one" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo_one">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {#  /*--------- Liga 3 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingTwo_two">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseTwo_two"
                                                   aria-expanded="false" aria-controls="collapseTwo_two">
                                                     <span class="no-indent fwnormal fs13-mobile">
                                                         <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                              src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce5170000065.png">
                                                        Championship Playoff <span
                                                                 class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                     </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo_two" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingTwo_two">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                             <span class="pull-left program_match_ind border">
                                                                 <i class="fs16 fs14-mobile half-pad-right"><i
                                                                             class="fa fa-clock-o"></i> 20:30</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                 <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                 <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                             </span>
                                                        <span class="pull-right">
                                                                 <a role="button" class="btn btn-success-kamp"
                                                                    href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                             class="fa fa-arrow-circle-right"></i></a>
                                                             </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#-------------------- Day ONE --------------------#}
                        <div class="top"></div>
                        <div class="panel-heading" role="tab" id="headingthree">
                            <h4 class="panel-title">
                                <a class="day_kamp" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#headingtthree"
                                   aria-expanded="true" aria-controls="headingtthree">
                                    Dagens kampe - Mandag 15. Maj
                                </a>
                            </h4>
                        </div>
                        <div id="headingtthree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingthree">
                            <div class="panel-body">
                                <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default in_body">
                                        {# /*--------- Liga 1 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingthree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseThree"
                                                   aria-expanded="false" aria-controls="collapseThree">
                                                      <span class="no-indent fwnormal fs13-mobile">
                                                          <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                               src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce517000000f.png">
                                                          Süper Lig<span
                                                                  class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                      </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingthree">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {# /*--------- Liga 2 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingthree_one">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseThree_one"
                                                   aria-expanded="false" aria-controls="collapseThree_one">
                                                      <span class="no-indent fwnormal fs13-mobile">
                                                          <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                               src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a6f32d0ce4c70000002.png">
                                                          Superligaen, Mesterskabsrunde <span
                                                                  class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                      </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree_one" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingthree_one">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        {#  /*--------- Liga 3 --------*/#}
                                        <div class="panel-heading in_head" role="tab" id="headingthree_two">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#accordion_1" href="#collapseThree_two"
                                                   aria-expanded="false" aria-controls="collapseThree_two">
                                                      <span class="no-indent fwnormal fs13-mobile">
                                                          <img class="inline-block half-gap-right" alt="Süper Lig icon"
                                                               src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/static-page/countries/4f2b8a5e32d0ce5170000065.png">
                                                         Championship Playoff <span
                                                                  class="italic  pad-left-desktop half-pad-left-ipad">(1 kamp)</span>
                                                      </span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree_two" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingthree_two">
                                            <div class="panel-body">
                                                <ul role="menu" aria-expanded="true">
                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>


                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>

                                                    <li class="o_program_match">
                                                              <span class="pull-left program_match_ind border">
                                                                  <i class="fs16 fs14-mobile half-pad-right"><i
                                                                              class="fa fa-clock-o"></i> 20:30</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right bold-mobile-v">Mechelen</i>
                                                                  <i class="fs16 fs14-mobile half-pad-right">-</i>
                                                                  <i class="fs16 fs14-mobile bold-mobile-v">Union Saint-Gillo</i>
                                                              </span>
                                                        <span class="pull-right">
                                                                  <a role="button" class="btn btn-success-kamp"
                                                                     href="fodbold/se-live/first-division-playoff-2a/mechelen-vs-union-saint-gilloise">Se Kampen <i
                                                                              class="fa fa-arrow-circle-right"></i></a>
                                                              </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="o-sport-stream">
        <div class="container">
            <div class="col-xs-12 text-center top_marging">
                <h3>Find din live stream udbyder</h3>
            </div>
            <div class="col-xs-12 top_marging">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li><a href="#a" data-toggle="tab">One</a></li>
                        <li class="active"><a href="#b" data-toggle="tab">Two</a></li>
                        <li><a href="#c" data-toggle="tab">Twee</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius quam sit
                            amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                        </div>
                        <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis
                            elementum auctor accumsan.
                            Aliquam in felis sit amet augue.
                        </div>
                        <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing
                            elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class='o-footer'>
    <div class='o-footer__about'>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href='#'>
                            <i class="fa fa-envelope" aria-hidden="true"></i> Kontakt
                        </a>
                    </li>
                    <li>
                        <a href='#'>
                            <i class="fa fa-question-circle" aria-hidden="true"></i> Om os
                        </a>
                    </li>
                </ul>
            </nav>
            <a href='#' class='o-footer__about__membership'>
                Medlem af <img src='http://images-v2-cdn.sesport.dk/sesport.dk-ver2/footer/danske-medier-bg_nw.png'/>
            </a>
        </div>
    </div>
    <nav class='o-footer__social'>
        <ul>
            <li>
                <a target="_blank" href="https://www.facebook.com/sesportlive">
                    <img class src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/footer/fb2.jpg"
                         alt="Sesport Facebook"/>
                </a>
            </li>
            <li>
                <div class="fb-like fb_iframe_widget fb_iframe_widget_fluid"
                     data-href=" https://www.facebook.com/sesportlive" data-layout="button_count" data-action="like"
                     data-show-faces="false" data-share="false" fb-xfbml-state="rendered"
                     fb-iframe-plugin-query="action=like&amp;app_id=107788097134&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fsesportlive&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false">
                    <span style="vertical-align: bottom; width: 77px; height: 20px;"><iframe name="f3bee40fd0ea6f8"
                                                                                             width="1000px"
                                                                                             height="1000px"
                                                                                             frameborder="0"
                                                                                             allowtransparency="true"
                                                                                             allowfullscreen="true"
                                                                                             scrolling="no"
                                                                                             title="fb:like Facebook Social Plugin"
                                                                                             src="https://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=107788097134&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F96nq-xsaNcg.js%3Fversion%3D42%23cb%3Df4369edf94c98%26domain%3Dwww.sesport.dk%26origin%3Dhttp%253A%252F%252Fwww.sesport.dk%252Ff24be05ab8a6464%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwww.facebook.com%2Fsesportlive&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=false&amp;show_faces=false"
                                                                                             style="border: none; visibility: visible; width: 77px; height: 20px;"
                                                                                             class=""></iframe></span>
                </div>
            </li>
            <li>
                <div class="g-plusone" data-annotation="inline" data-width="300"
                     data-href="https://plus.google.com/101623998821464340305"></div>
            </li>
            <li>
                <a target="_blank" href="https://plus.google.com/101623998821464340305" rel="publisher">Google+</a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/sesportdk" style="margin-left: 5px;">
                    <img src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/footer/twitter.svg" width="auto"
                         height="21px" alt="Sesport twitter">
                </a>
            </li>
        </ul>
    </nav>
    <div class='o-footer__legal'>
        <img src='http://images-v2-cdn.sesport.dk/sesport.dk-ver2/footer/responsive.jpg'/>
        <span class='o-footer__legal__responsible'>Vi støtter ansvarlig gambling</span>
        <nav>
            <ul>
                <li>
                    <a href='#'>Center for ludomani</a>
                </li>
                <li>
                    <a href='#'>Persondatapolitik</a>
                </li>
                <li>
                    <a href='#'>Reviews</a>
                </li>
                <li>
                    <a href='#'>Ofte stillede spørgsmål</a>
                </li>
                <li>
                    <a href='#'>Spillemyndigheden</a>
                </li>
                <li>
                    <a href='#'>
                        <img src="http://images-v2-cdn.sesport.dk/sesport.dk-ver2/footer/18+.jpg" alt="Kun til 18+"/>
                        Alderspolitik
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>


