<main class='frontpage blog_page'>
    <section class="o-frontpage-hero-footbal-blog sport_home_slider">
        <div class="container">
            <div class="col-xs-12">
                <h1>Sesports fodbold blog | Artikler og nyheder</h1>
            </div>
            <div class="col-xs-7">
                <h3 class="blk-bg">VI GIVER DIG OPTAKTERNE TIL UGENS VIGTIGSTE KAMPE</h3>
            </div>
        </div>
    </section>
    <section class="o_sport_home_important_events">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 head_match">
                    <div class="col-md-4">
                        <div class="col-md-12 grounds_events">
                            <div class="img_head_blog" >
                                <img class="gap-top team center pull-left"
                                     src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4a2ad232d0cec409000047.png"
                                     width="70" height="70" alt="Horsens">
                                <img class="gap-top team center pull-right"
                                     src="http://images-v2-cdn.sesport.dk/teams/70x70-4f70218d32d0ce374600000a.png"
                                     width="70" height="70" alt="Viborg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 head_rigt_content">
                        <div class="col-md-12 head_top" >
                            <h1 class="" > FC Midtjylland – Viborg live st
                                <small class="block ">Superligaen Søndag 19. Februar</small>
                            </h1>
                        </div>
                        <div class="col-md-4 head_mid">
                            <div class="head_mid_text"  >
                                <span><a href="">FC MIDTJYLLAND</a></span>,
                                <span><a href="">VIBORG</a></span>
                            </div>
                        </div>
                        <div class="col-md-12 head_buttom">
                            <p >
                                Midtjysk derby i Herning## Søndag aften byder på et hedt midtjysk derby, som du
                                naturligvis skal se på live stream! FC Midtjylland ligger på Superligaens tred...
                            </p>
                            <a role="button" class="btn" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                            <i class="fa fa-arrow-circle-right"></i> Find stream udbyder</a>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 match_list">
                    SE FLERE OPTAKTER
                </div>

                <div class="match_items">
                    <div class="col-xs-12 col-md-4 match_item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="teams">
                                    <div class="vs_logo_left team_logo_front pull-left">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4a2ad232d0cec409000047.png" width="70" height="70" alt="Horsens">
                                    </div>
                                    <div class="vs_logo_righ team_logo_front pull-right">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f70218d32d0ce374600000a.png" width="70" height="70" alt="Viborg">
                                    </div>
                                    <img class="ground_fealds"
                                         src="http://images.sesport.dk/sesport.dk-ver2/football-b-560.png" width="310" height="77" alt="ground-small">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="body_text">
                                    <h4 class="match_name">
                                        Se FCK BIF live online!
                                        <small>Superligaen Søndag 19. Februar</small>
                                    </h4>
                                    <div class="teams_blog">
                                        <span><a href="">FC MIDTJYLLAND</a></span>,<span><a href="">VIBORG</a></span>
                                    </div>
                                    <div class="text_blog">
                                        <p class="text_blog_p">
                                            Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3
                                            point i denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live
                                            - se med her.
                                        </p>
                                        <a class="fs13_link" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                            Læs mere her!
                                        </a>

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a role="button" class="btn"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                        <i class="fa fa-arrow-circle-right"></i> Find stream udbyder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 match_item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="teams">
                                    <div class="vs_logo_left team_logo_front pull-left">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4a2ad232d0cec409000047.png" width="70" height="70" alt="Horsens">
                                    </div>
                                    <div class="vs_logo_righ team_logo_front pull-right">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f70218d32d0ce374600000a.png" width="70" height="70" alt="Viborg">
                                    </div>
                                    <img class="ground_fealds"
                                         src="http://images.sesport.dk/sesport.dk-ver2/football-b-560.png" width="310" height="77" alt="ground-small">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="body_text">
                                    <h4 class="match_name">
                                        Se FCK BIF live online!
                                        <small>Superligaen Søndag 19. Februar</small>
                                    </h4>
                                    <div class="teams_blog">
                                        <span><a href="">FC MIDTJYLLAND</a></span>,<span><a href="">VIBORG</a></span>
                                    </div>
                                    <div class="text_blog">
                                        <p class="text_blog_p">
                                            Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3
                                            point i denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live
                                            - se med her.
                                        </p>
                                        <a class="fs13_link" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                            Læs mere her!
                                        </a>

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a role="button" class="btn"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                        <i class="fa fa-arrow-circle-right"></i> Find stream udbyder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 match_item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="teams">
                                    <div class="vs_logo_left team_logo_front pull-left">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4a2ad232d0cec409000047.png" width="70" height="70" alt="Horsens">
                                    </div>
                                    <div class="vs_logo_righ team_logo_front pull-right">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f70218d32d0ce374600000a.png" width="70" height="70" alt="Viborg">
                                    </div>
                                    <img class="ground_fealds"
                                         src="http://images.sesport.dk/sesport.dk-ver2/football-b-560.png" width="310" height="77" alt="ground-small">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="body_text">
                                    <h4 class="match_name">
                                        Se FCK BIF live online!
                                        <small>Superligaen Søndag 19. Februar</small>
                                    </h4>
                                    <div class="teams_blog">
                                        <span><a href="">FC MIDTJYLLAND</a></span>,<span><a href="">VIBORG</a></span>
                                    </div>
                                    <div class="text_blog">
                                        <p class="text_blog_p">
                                            Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3
                                            point i denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live
                                            - se med her.
                                        </p>
                                        <a class="fs13_link" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                            Læs mere her!
                                        </a>

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a role="button" class="btn"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                        <i class="fa fa-arrow-circle-right"></i> Find stream udbyder</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4 match_item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="teams">
                                    <div class="vs_logo_left team_logo_front pull-left">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4a2ad232d0cec409000047.png" width="70" height="70" alt="Horsens">
                                    </div>
                                    <div class="vs_logo_righ team_logo_front pull-right">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f70218d32d0ce374600000a.png" width="70" height="70" alt="Viborg">
                                    </div>
                                    <img class="ground_fealds"
                                         src="http://images.sesport.dk/sesport.dk-ver2/football-b-560.png" width="310" height="77" alt="ground-small">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="body_text">
                                    <h4 class="match_name">
                                        Se FCK BIF live online!
                                        <small>Superligaen Søndag 19. Februar</small>
                                    </h4>
                                    <div class="teams_blog">
                                        <span><a href="">FC MIDTJYLLAND</a></span>,<span><a href="">VIBORG</a></span>
                                    </div>
                                    <div class="text_blog">
                                        <p class="text_blog_p">
                                            Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3
                                            point i denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live
                                            - se med her.
                                        </p>
                                        <a class="fs13_link" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                            Læs mere her!
                                        </a>

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a role="button" class="btn"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                        <i class="fa fa-arrow-circle-right"></i> Find stream udbyder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 match_item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="teams">
                                    <div class="vs_logo_left team_logo_front pull-left">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4a2ad232d0cec409000047.png" width="70" height="70" alt="Horsens">
                                    </div>
                                    <div class="vs_logo_righ team_logo_front pull-right">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f70218d32d0ce374600000a.png" width="70" height="70" alt="Viborg">
                                    </div>
                                    <img class="ground_fealds"
                                         src="http://images.sesport.dk/sesport.dk-ver2/football-b-560.png" width="310" height="77" alt="ground-small">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="body_text">
                                    <h4 class="match_name">
                                        Se FCK BIF live online!
                                        <small>Superligaen Søndag 19. Februar</small>
                                    </h4>
                                    <div class="teams_blog">
                                        <span><a href="">FC MIDTJYLLAND</a></span>,<span><a href="">VIBORG</a></span>
                                    </div>
                                    <div class="text_blog">
                                        <p class="text_blog_p">
                                            Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3
                                            point i denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live
                                            - se med her.
                                        </p>
                                        <a class="fs13_link" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                            Læs mere her!
                                        </a>

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a role="button" class="btn"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                        <i class="fa fa-arrow-circle-right"></i> Find stream udbyder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 match_item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="teams">
                                    <div class="vs_logo_left team_logo_front pull-left">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f4a2ad232d0cec409000047.png" width="70" height="70" alt="Horsens">
                                    </div>
                                    <div class="vs_logo_righ team_logo_front pull-right">
                                        <img class="gap-top team center" src="http://images-v2-cdn.sesport.dk/teams/70x70-4f70218d32d0ce374600000a.png" width="70" height="70" alt="Viborg">
                                    </div>
                                    <img class="ground_fealds"
                                         src="http://images.sesport.dk/sesport.dk-ver2/football-b-560.png" width="310" height="77" alt="ground-small">
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="body_text">
                                    <h4 class="match_name">
                                        Se FCK BIF live online!
                                        <small>Superligaen Søndag 19. Februar</small>
                                    </h4>
                                    <div class="teams_blog">
                                        <span><a href="">FC MIDTJYLLAND</a></span>,<span><a href="">VIBORG</a></span>
                                    </div>
                                    <div class="text_blog">
                                        <p class="text_blog_p">
                                            Horsens møder Viborg hjemme d. 16. Maj 2017 kl. 20:00 i kampen om 3
                                            point i denne spændende Superligaen, Nedrykningsplayoff kamp. Følg opgøret live
                                            - se med her.
                                        </p>
                                        <a class="fs13_link" href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                            Læs mere her!
                                        </a>

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a role="button" class="btn"
                                       href="fodbold/se-live/superligaen,-nedrykningsplayoff/horsens-vs-viborg">
                                        <i class="fa fa-arrow-circle-right"></i> Find stream udbyder</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>