{#
/**
 * @file
 * Top bar region theme implementation
 *
 * Variables:
 *  - sites: array of sites with relevant information to render links with flags
 *
 * @see steve_preprocess_region()
 */
#}

<section class="top-bar container-fluid">
    {% include '@steve/block/block--steve-lang.html.twig' %}
</section>
