<section class="BlogOverviewPlugin TrackOverview">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<div class="content">
					<div class="heading">
						<h5>COURSE DETAILS</h5>
					</div>
					<p>Visitors to Warwick get a real sense of history as the course is located close to the ramparts of Warwick Castle, which was built by William The Conqueror in 1068 and served as the symbol of power for the Earl of Warwick.</p>	
				</div>
			</div>
			<div class="col-md-4 head col-sm-4 col-xs-4">
				<div class="content">
					<h1>Track overview</h1>
					<img src="images/overviewtrack.png" alt="track">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col">
				<a href="racecourseexample.html" class="btn play">
					learn more about Warwick
				</a>
			</div>
		</div>
	</div>
</section>