<nav class='o-header__languages'>
    <ul>
        <li>
            <a href='#' class="is-active">
                <div class='c-flag c-flag--dk'>Denmark</div>
            </a>
        </li>
        <li>
            <a href="http://www.sportschauen.at">
                <div class='c-flag c-flag--at'>Austria</div>
            </a>
        </li>
        <li>
            <a href="http://www.watchfooty.co.uk">
                <div class='c-flag c-flag--uk'>UK</div>
            </a>
        </li>
    </ul>
</nav>