<section>
    {% if page.help %}
        {{ page.help }}
    {% endif %}
</section>

<main>
    <section>
        {{ render_block('sitesportsubmenu') }}
    </section>

    <section>
        {{ render_block('custombreadcrumbsblock') }}
    </section>

    {% if page.content %}
        {{ page.content }}
    {% endif %}
</main>
