<section class="RaceCourseGuidPlugin">
	<div class="container">
		<div class="row pageHeading">
			<span class="main-heading">GUIDE -</span>
			<span class="sub-heading">FOR RACECOURSE</span>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="line">
					<div class="ico">
						<img src="images/right-handed.png">
					</div>
					<div class="text">
						<img src="images/right-handed.png">
						<h5>LEFT-HANDED, GIANT TRIANGULAR GRAND NATIONAL COURSE IS FLAT AND 2M2F ROUND. MILDMAY COURSE IS SITUATED INSIDE AND IS 1M4F ROUND.</h5>
						<p>Aintree is the home of the greatest jumps race in the world, the Grand National, run each April over a gruelling 4m4f. But it might never have come about but for local entrepreneur and sports fanatic William Lynn, who was astute enough to recognise that a racecourse on the site would attract big crowds. With this vision in mind, he managed to persuade the landowner Lord Sefton (a racing fan himself) to lease him a strip of land and, with the help of a few fellow enthusiasts, went about constructing a grandstand and track fit for flat racing. This duly opened in 1829 and it proved a shrewd investment as the crowds flocked here in droves.</p>
						<p>It was Lynn's friendship with Captain Becher, a leading steeplechase jockey of the time, that kindled his interest in National Hunt racing and, just seven years after opening, the course was converted to accommodate jumps racing too, with the first Grand National taking place in 1836. The Captain never won the race but was well clear in the 1839 renewal before taking a crashing fall at the brook fence, with his horse catapulting him into the water on the landing side. Most jockeys would fear for their life at this stage but not the Captain (slightly mad no doubt!), whose wisecracks to the other riders as they sailed over him earned him much notoriety, and spawned the legend of Becher's Brook.</p>
						<p>These days, the Grand National is watched by millions around the globe, and not just in the United Kingdom. But there is a lot more to Aintree than the National with its nine days of racing annually featuring many other significant races in the National Hunt calendar and the three-day Aintree Festival is second only to the Cheltenham Festival in terms of importance. Coming as it does around four weeks after Cheltenham, many Festival winners will try and do 'the double' here but history tells us that many fail, and it's generally profitable to oppose or lay such horses.</p>
					</div>
				</div>
				<div class="line">
					<div class="ico">
						<img src="images/principal-races.png">
					</div>
					<div class="text">
						<img src="images/principal-races.png">
						<h5>PRINCIPAL RACES</h5>
						<p>The Grand National aside, there are several Grade 1 races run at the big April meeting: Bowl Chase; Aintree Hurdle; Melling Chase; Liverpool Hurdle; Maghull Novices' Chase; Anniversary 4-Y-O Juvenile Hurdle and Sefton Novices' Hurdle. All are championship races in their own right and for an owner it's the next best thing to having a winner at the Cheltenham Festival. The Topham Chase and Foxhunters' Chase are run over the National course at the same meeting. Early season highlights include the Old Roan Chase (run over 2m4f in October) and Becher Chase, which is run over the National fences in November.</p>
					</div>

				</div>
			</div>
			<div class="col-md-6">
				<div class="line">
					<div class="ico">
						<img src="images/bell.png">
					</div>
					<div class="text">
						<img src="images/bell.png">
						<h5>COURSE CHARACTERISTICS</h5>
						<p>There are two courses at Aintree: the Grand National course and the Mildmay Course. The former is used purely for steeplechasing and it provides a unique test for a jumper - many horses don't take to it at all, while others love it and become National regulars. Whilst the fences have been modified in recent years to appease the animal rights brigade, they are still pretty scary and most people will have heard of Becher's Brook, Valentine's Brook, The Chair and the Canal Turn. The latter is immediately followed by a sharp 90 degree turn, thus tempting jockeys to take the fence diagonally to save ground, which can lead to all sorts of problems. The Chair's location in front of the grandstand makes for a thrilling spectacle, and the steep drop (the take off side is six inches higher than the landing side) catches many horses out. Just to confuse the poor animals further, Becher's Brook is the exact opposite! Even with the last safely negotiated, the runners have to cope with the longest run-in of any course (just over two furlongs), which includes a right-handed kink at the Aintree Elbow, and the complexion of many a race has changed during this stamina-sapping finish.</p>
						<p>The Mildmay Course cuts across one end of the National course and is used for both chasing and hurdling. It's essentially sharp in nature and those horses that like to race prominently have a distinct advantage, with any mistakes on the way round proving costly as it's hard to make up lost ground. The going rarely gets too testing so horses that don't stay the distance on more conventional tracks, will do so around here. Conversely, the more stout stayers who perhaps lack a turn of foot at the finish can be vulnerable to speedier types stepping up in trip.</p>
					</div>
				</div>
				<div class="line">
					<div class="ico">
						<img src="images/top-trainers.png">
					</div>
					<div class="text">
						<img src="images/top-trainers.png">
						<h5>TOP TRAINERS</h5>
						<p>It's no surprise to see Paul Nicholls and Nicky Henderson right up there with 22 and 16 wins apiece. Neither are profitable to follow blind, though, with Nicholls' horses especially being overbet. Welsh Trainer Peter Bowen, on the other hand, would have rewarded backers of all his horses with a whopping £111 profit, although much of that can be attributed to his Aintree specialist Always Waining, who has landed successive runnings of the Topham Chase. The up-and-coming Lucinda Russell could be a name to look out for in the future with the quality of her string improving all the time.</p>
					</div>
				</div>
				<div class="line">
					<div class="ico">
						<img src="images/top-jokies.png">
					</div>
					<div class="text">
						<img src="images/top-jokies.png">
						<h5>TOP JOCKEYS</h5>
						<p>With the racing action of a high quality, it only follows that the majority of the races will go to the top jockeys as they are invariably on the best horses. Ruby Walsh, with 21 winners in the past five seasons, leads the way numerically and he's the only current jockey with two Grand National wins to his name. Whatever he rides in the big race is almost guaranteed to be favourite. Tony McCoy finally broke his National duck with victory on the heavily backed Don't Push It in 2010, and his tally of 17 wins is second best. Paddy Brennan, Tom O'Brien and Robert (Choc) Thornton are also worth following. One jockey to avoid, perhaps, is Graham Lee, whose three wins have come from 100 rides (3%).</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>