<section class="RaceCourseProviderListPlugin">
	<div class="container">
		<div class="row">
			<div class="col-md-12 StreamProvider">
				<div class="ProviderHeading sponsored">
					<div class="title">
						<p>SPONSORED</p>
						<h1>
							bet365
						</h1>
						<span class="stars">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
						</span>
					</div>
					<div class="info">
						<span class="quality"><b>Quality</b> - GOOD</span>
						<span class="price"><b>Price</b>- £0.50 </span>
						<span class="link"> <a href="review.html">READ REVIEW</a></span>
					</div>
				</div>
				<div class="ProviderContent">
					<div class="text">
						<p>Watch Great Yarmouth, Cheltenham, Aintree and many more with bet365.</p>
					</div>
					<div class="contentInfo">
						<span class="quality"><b>Quality</b> - GOOD</span>
						<span class="price"><b>Price</b>- £0.50 </span>
					</div>
				</div>
				<div class="ProviderLinks">
					<div class="container">
						<div class="row">
							<div class="col-md-8 step-images">
								<div class="row">
									<div class="col-md-4">
										<img src="images/1-tv.png" class="stepImage">
										<span>Go to website bet365</span>
									</div>
									<div class="col-md-1 arrow">
										<img src="images/arrow-1.png" alt="arrow">
									</div>
									<div class="col-md-4">
										<img src="images/2-tv.png" class="stepImage">
										<span>Register an account</span>
									</div>
									<div class="col-md-1 arrow">
										<img src="images/arrow-1.png" alt="arrow">
									</div>
									<div class="col-md-4">
										<img src="images/3-tv.png" class="stepImage">
										<span>Watch Live races</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="line">
									<a class="btn arrow">Watch with bet365</a>
									<a class="disclaimer">* T&C APPLY - 
										<br>BET 50P BET ON RACE TO WATCH
										<br>- YOU MUST BE LOGGED IN
									</a>
									<div class="popUp">
										<h2>T&amp;C apply - Paddy Power</h2>
										<p>To watch a particular race you need to bet £€1.00 or £€0.50 each way on a selection in the Win or Each Way market.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 StreamProvider">
				<div class="ProviderHeading sponsored">
					<div class="title">
						<p>SPONSORED</p>
						<h1>
							Paddypower 
						</h1>
						<span class="stars">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
						</span>
					</div>
					<div class="info">
						<span class="quality"><b>Quality</b> - GOOD</span>
						<span class="price"><b>Price</b>- £0.50 </span>
						<span class="link"> <a href="review.html">READ REVIEW</a></span>
					</div>
				</div>
				<div class="ProviderContent">
					<div class="text">
						<p>Watch Great Yarmouth, Cheltenham, Aintree and many more with PaddyPower.</p>
					</div>
					<div class="contentInfo">
						<span class="quality"><b>Quality</b> - GOOD</span>
						<span class="price"><b>Price</b>- £0.50 </span>
					</div>
				</div>
				<div class="ProviderLinks">
					<div class="container">
						<div class="row">
							<div class="col-md-8 step-images">
								<div class="row">
									<div class="col-md-4">
										<img src="images/1-tv.png" class="stepImage">
										<span>Register your free account</span>
									</div>
									<div class="col-md-1 arrow">
										<img src="images/arrow-1.png" alt="arrow">
									</div>
									<div class="col-md-4">
										<img src="images/2-tv.png" class="stepImage">
										<span>Choose ‘Horse Racing’ menu</span>
									</div>
									<div class="col-md-1 arrow">
										<img src="images/arrow-1.png" alt="arrow">
									</div>
									<div class="col-md-4">
										<img src="images/3-tv.png" class="stepImage">
										<span>Pick race and 'Watch Live'</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="line">
									<a class="btn arrow">Watch With PaddyPower</a>
									<a class="disclaimer">* T&C apply - To watch a particular race you 
										<br>need to bet £€1.00 or £€0.50 each way on a 
										<br>selection in the Win or Each Way market. T&C
										<br>Apply.
									</a>
									<div class="popUp">
										<h2>T&amp;C apply - Paddy Power</h2>
										<p>To watch a particular race you need to bet £€1.00 or £€0.50 each way on a selection in the Win or Each Way market.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 StreamProvider">
				<div class="ProviderHeading sponsored">
					<div class="title">
						<p>SPONSORED</p>
						<h1>
							Betfair
						</h1>
						<span class="stars">
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
							<i class="fa fa-star" aria-hidden="true"></i>
						</span>
					</div>
					<div class="info">
						<span class="quality"><b>Quality</b> - GOOD</span>
						<span class="price"><b>Price</b>- £0.50 </span>
						<span class="link"> <a href="review.html">READ REVIEW</a></span>
					</div>
				</div>
				<div class="ProviderContent">
					<div class="text">
						<p>Betfair provides races from the largeste racecourses all over UK and Ireland.</p>
					</div>
					<div class="contentInfo">
						<span class="quality"><b>Quality</b> - GOOD</span>
						<span class="price"><b>Price</b>- £0.50 </span>
					</div>
				</div>
				<div class="ProviderLinks">
					<div class="container">
						<div class="row">
							<div class="col-md-8 step-images">
								<div class="row">
									<div class="col-md-4">
										<img src="images/1-tv.png" class="stepImage">
										<span>Go to Betfair</span>
									</div>
									<div class="col-md-1 arrow">
										<img src="images/arrow-1.png" alt="arrow">
									</div>
									<div class="col-md-4">
										<img src="images/2-tv.png" class="stepImage">
										<span>Open a free account</span>
									</div>
									<div class="col-md-1 arrow">
										<img src="images/arrow-1.png" alt="arrow">
									</div>
									<div class="col-md-4">
										<img src="images/3-tv.png" class="stepImage">
										<span>Choose your race and watch</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="line">
									<a class="btn arrow">bet365</a>
									<a class="disclaimer">Only available to customers who have a 
										funded account with Betfair. A minimum 
										total stake of GBP0.50 must be placed 
										in order to watch a single race. This 
										can be in the form of a £/€0.50 single 
									or £/€0.25 each-way(e/w). T&C apply</a>
								</div>
								<div class="popUp">
									<h2>T&amp;C apply - Paddy Power</h2>
									<p>To watch a particular race you need to bet £€1.00 or £€0.50 each way on a selection in the Win or Each Way market.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>