{% if background %}
    <section class="blogGeneralHead" style="background: url({{ file_url(background) }}); ">
{% else %}
    <section class="blogGeneralHead">
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="white">{{ "sport_blog_head_header" | t }}</h1>
                <h2 class="">{{ "sport_blog_head_subheader" | t }}</h2>
            </div>
        </div>
    </div>
</section>
