{#
/**
 * @file
 * Carousel implementation
 *
 * Available variables:
 * - title: The title text.
 * - background_image: A background image
 * - count: Number of slides
 */
#}

<div class="carousel">
    {% if title %}
        <h2>{{ title }}</h2>
    {% endif %}
    <div class="slides">
    </div>
</aside>
