.carousel {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 170px;
    @include flex-column($justify: center);

    &__title {
        text-align: center;
        font-family: $font-family-sans-serif;
        margin: 0;
        font-size: 24px;
    }

    &__slides {
        overflow: hidden;
        position: relative;
        flex: 1;
        width: 70%;

        &__slide {
            position: absolute;
            // width: 100%;
            width: 265px;
            height: 108px;
            right: -300px;
            margin-top: 4px;
            @include flex-column($justify: center);

            &:first-of-type {
                right: 0;
            }

            &__title,
            &__date,
            &__badges {
                width: 100%;
                text-align: center;
            }

            &__badges {
                @include flex-row($justify: space-around);
                flex: 1;
                margin-top: 10px;
            }

            &--active {
                display: block;
            }

        }

    }

    &--matches {

    }

}

@each $sport in $sport-names {
    $sport-branding: map-get($sports, $sport);
    $primary-color: map-get($sport-branding, 'primary-color');
    $secondary-color: map-get($sport-branding, 'secondary-color');

    .main-container.#{$sport} {
        .carousel {
            &__title,
            &__slides__slide__title,
            &__slides__slide__date {
                color: $primary-color;
            }
        }
    }
}
