.modal {
    .modal-dialog,
    .modal-content {
        background: $modal-background;
    }
    .modal-header {
        border: 0;
        button[aria-label="Close"] {
            color: $modal-color;
        }
    }
    .modal-dialog {
        border-radius: 10px;
        color: $modal-color;
        font-size: 11px;
        padding: 20px;
    }
    .modal-content {
        h2 {
            margin-top: 0;
        }
    }
}
