/*
 * Header navigation bar
 * @see variables/_navbar.scss
 * @see variables/_sports.scss
 */

header.navbar {
    margin-bottom: 0!important;
    border: 0;
    border-radius: 0;
    padding: 0;
    background: $navbar-background;

    .container-inner {
        @include flex-row($justify: space-between);

        @media #{$mobile} {
            display: block!important;
            .navbar-header {
                width: 100%;
            }
        }
    }

    nav[role="navigation"] {
        .menu {
            font-family: $navbar-primary-font;
            font-size: $navbar-primary-font-size;
            position: relative;
            top: 1px;
            li {
                padding: 0 30px 0 20px;
                &:first-of-type {
                    padding: 0 31px 0 10px;
                }
                &:last-of-type {
                    padding-right: 0;
                }
                &.active {
                    a {
                        color: $navbar-primary-link-color-active;
                        background: $navbar-primary-link-background-active;
                    }
                    .marker {
                        @include triangle($navbar-primary-marker-size, 0, $navbar-primary-marker-color, top, transparent);
                        left: 50%;
                        bottom: $navbar-primary-marker-bottom;
                    }
                }
                a {
                    color: $navbar-primary-link-color;
                    letter-spacing: 0.5px;
                    padding: 0;
                    background: $navbar-primary-link-background;
                    &:hover {
                        color: $navbar-primary-link-color-active;
                    }
                }
            }
        }
        .sub-menu {
            font-family: $navbar-secondary-font;
            font-size: $navbar-secondary-font-size;
            li {
                a {
                    color: $navbar-secondary-link-color;
                    background: $navbar-secondary-link-background;
                    padding: 8px 16px;
                    &:hover {
                        color: $navbar-secondary-link-color-active;
                        background: $navbar-secondary-link-background-active;
                    }
                }
            }
        }
    }

    .navigation-secondary {
        width: 100%;
        margin: 0;
        background: $navbar-secondary-background;
        .navbar-collapse {
            padding: 0;
            border: 0;
        }
    }

    .navbar-toggle {
        margin-top: 0;
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background: $navbar-primary-link-color-active;
        border-color: $navbar-secondary-link-color;
        .icon-bar {
            background-color: $navbar-secondary-link-background-active;
        }
    }

    @media #{$mobile} {
        & {
            padding: 0;
        }

        .logo {
            padding: 10px 0 0 0;
            width: 100%;
            @include flex-row($justify: center);
            img {
                max-height: 50px;
            }
        }

        .navigation-primary {
            nav[role="navigation"] {
                @include flex-row($justify: space-between);
                .menu {
                    @include flex-row;
                    margin: 0;
                    li {
                        padding: 10px!important;
                        &.active {
                            background: $navbar-secondary-link-background-active;
                        }
                    }
                }
            }
        }

        .navigation-secondary {
            background: $navbar-secondary-link-background-active;
            nav[role="navigation"] {
                .sub-menu {
                    margin: 0;
                    a {
                        border-top: $navbar-secondary-link-border-mobile;
                        padding: 12px 16px;
                    }
                }
            }
        }

        nav[role="navigation"] {
            padding-left: 0;
            .menu.nav.navbar-nav {
                li {
                    &.active {
                        .marker {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@each $sport in $sport-names {
    header.navbar.#{$sport} {
        $sport-branding: map-get($sports, $sport);
        $active-color: map-get($sport-branding, 'primary-color');

        nav[role="navigation"] {
            .menu {
                li {
                    &.active {
                        a {
                            color: $active-color;
                        }
                    }
                    a {
                        &:hover {
                            color: $active-color;
                        }
                    }
                }
            }
        }

        .navbar-toggle:hover,
        .navbar-toggle:focus {
            background: $active-color;
        }
    }
}
