<main>
	{{ render_block('fodbaldstreamshomeheadplugin') }}
	{{ render_block('fodbaldstreamshometitleplugin') }}
	{{ render_block('fodbaldstreamshomematchesplugin') }}
	{{ render_block('fodbaldstreamshomepreviewsplugin') }}
</main>

