<main>
    {{ render_block('horsehomeheadplugin') }}
    {{ render_block('horsehomecontentplugin') }}
    {{ render_block('horsehomeblogplugin') }}
    {{ render_block('horsehomeprovidertabsplugin') }}
</main>

