section.HomeContentPlugin{
	background: #081820;
	.container{
		padding: 7% 0;
		h1{
			color: #f4af63;
			padding-bottom: 10px;	
		}
	}
}

@include tablet{
	section.HomeContentPlugin{
		.container{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

@include mobile{
	section.HomeContentPlugin{
		.container{
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}