section.HomeBlogPlugin{
	background: #103040;
	.container{
		padding: 0;
		.contentBlock{
			padding: 70px 0 7% 0;
			display: flex;
			.col-md-4{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				h5{
					color: #fff;
					border-color: #99b3c0;
					margin: 0;
					font-size: 28px;
					line-height: 28px;
					letter-spacing: .5px;
					font-family: "Bebas";
					font-weight: 400;
				}
				.contentBlockHead{
					padding: 10px;
					border-color: #f2740c;
				}
			}
			.col-md-8{
				border-color: #f2740c;
				padding: 15px 0 8px 0;
				h5{
					border: none;
					color: #fff;
				}
				img{
					border-radius: 100%;
					display: inline-block;
					float: right;
					margin: 0 0 0 30px;
				}
				p{
					color: #fff;
					&:last-child{
						margin: 0;
					}
				}
				a{
					color: #f2740c;
				}
				.line{
					padding: 0 0 24px 0;
				}
			}
		}
	}
}

@include tablet{
	section.HomeBlogPlugin{
		.container{
			padding-left: 30px;
			padding-right: 30px;
			.contentBlock{
				padding: 70px 0 5% 0;
				.col-md-4{
					.contentBlockHead{
						h1{
							font-size: 40px;
							line-height: 45px;
						}
					}
					h5{
						font-size: 22px;
						line-height: 25px;
						font-weight: 400;
					}
				}
			}
		}
	}
}

@include mobile{
	section.HomeBlogPlugin{
		.container{
			padding-left: 10px;
			padding-right: 10px;
			.contentBlock{
				flex-direction: column;
				.col-md-4{
					padding: 0;
					width: 100%;
					.contentBlockHead{
						margin-bottom: 10%;
					}
					h5{
						width: 100%;
					}
				}
				.col-md-8{
					width: 100%;
					border-bottom: none;
				}
			}
		}
	}
}