 section.BlogOverviewPlugin{
 	.container{
 		.row{
 			.col-md-4{
 				&:first-child{
 					padding: 0 15px 0 0;
 				}
 			}
 		}
 	}
}

@include tablet{
	section.BlogOverviewPlugin{
		> .container{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}