/*GENERAL*/
body{
	font-family: 'Gudea',sans-serif;
	font-weight: 100;
	line-height: 1.42857143;
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    
    &.preloader{
	    &:before{
			background: #290d2b url(../images/page-loader.gif) no-repeat scroll center center;
			bottom: 0;
			content: "";
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 99999;
		}
    }
}



.sponsoredLogo{
	position: relative;
	img{
		&:last-child{
			position: absolute;
			top: 16px;
			left: 30px;
			border: none;
		}
	}
}

.TaxanomyTermView{
	.st_view_structure{
		display: none;
	}
}

.form-group{
	margin-bottom: 0;
}

.container-fluid,
.container{
	max-width: $content-max-width;
	padding: 3em 0;
	margin: 0 auto;
	width: 100%;
}
.col{
	padding: 0;
}
.row{
	margin: 0;
}
p{
	color: #666666;
    word-spacing: 1px;
    line-height: 1.5;
    font-size: 0.99em;
    margin: .8em 0;
}
h1{
    font-size: 16px;
    margin: 0.67em 0;
    color: #7E767D;
    text-transform: uppercase;
    font-family: 'Gudea', sans-serif;
}
h2{
	margin: .83em 0;
	font-size: 15px;
	color: #281a27;;
	&:after{
		content: " ";
	    border: solid 2px #4E394A;
	    display: block;
	    width: 45px;
	    margin: 20px 0;
	}
}
h3{
    font-size: 13px;
    margin: 0.1em 0 0.5em;
    text-transform: capitalize;
    font-weight: bold;
}
h4{
    font-size: 1em;
    margin: 1.33em 0;
    font-weight: 500;
    line-height: 1.1;
    color: #333;
}
h5{

}
h6{

}

a{
	color: #281a27;
	font-size: 14px;
	transition: all .5s;
	&:focus,
	&:hover{
		color: rgba(68,152,171,1);
		text-decoration: none;
	}
}
strong,
b{
	font-weight: 700;
}
.pagination{
	li{
		a{
			border-radius: 0;
			padding: 6px 12px;
		}
	}
}
a{
	&.btn{
	    background: rgba(184, 131, 15, 1);
	    padding: 0.8em 2em 0.7em 1em;
	    position: relative;
	    line-height: 1;
	    border-radius: 3px;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    -o-border-radius: 3px;
	    color: #fff!important;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    display: inline-block;
	    -webkit-box-shadow: 0px 1.5px 0px 0px rgba(184, 131, 15, 1);
	    -moz-box-shadow: 0px 1.5px 0px 0px rgba(184, 131, 15, 1);
	    box-shadow: 0px 1.5px 0px 0px rgba(184, 131, 15, 1);
	    margin: 1em 0;
	    font-weight: bold;
	    float: right;
	    font-size: 15px;
    
		&:focus,
		&:hover{
			background: #c2a770;
			color: #fff;
		}
		&.arrow{
			&:after{
				margin-top: -7px;
				position: absolute;
				right: 5px;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				top: 50%;
				content: "\f061";
				margin-right: 2px;
			}
		}
	}
}

#block-fodbaldpopupplugin{
	.contextual{
		display: none;
	}
}


.EventContent{
	h1{
		font-weight: 700;
		font-size: 18px;
	}
	h2{
		font-size: 15px;
		font-weight: bold;
		color: #281a27;
	}
}

@include tablet{
	.container{
		width: 750px;
	}
}

@include mobile{
	.container{
		width: 100%;
		padding-left: 1em;
		padding-right: 1em;
	}
	
	a{
		&.btn{
			font-size: 12px;
			line-height: 15px;
		}
	}
}