.TeamsListPlugin{
	.TeamsList{
		margin-top: 20px;
		.col{
			float: left;
			margin-right: 2%;
			width: 31.3%;
			max-width: 96%;
			
			&:nth-child(3n+3){
				margin-right: 0;
			}
		}	
	}
	
	@include tablet{
		.TeamsList{
			.col{
				float: none;
				margin: 0;
				width: 100%;
				
				.List{
					margin: 0;
					border-radius: 0;
				}
				
				&:first-child{
					.List{
						border-radius: 3px;
					}
				}
			}
		}
	}
}