<section class="MatchTitlePlugin PageTitle">
	<div class="container">'
		{% set event = tags|first %}	
		<h1>{{ "live_fodbald_match_see" | t }} {{ event.matchName }} {{ "live_fodbald_match_page_title" | t }}</h1>
	</div>
</section>